[2021-07-02 05:11] AskAlexSharov commented on #2260
It's not easy to support streamable methods on WS because of WS nature and 100 layers of abstractions. I added good error message for now: https://github.com/ledgerwatch/erigon/pull/2268
thank you

[2021-07-02 05:11] #2260 closed

[2021-07-02 05:15] AskAlexSharov opened #2269 "RPC: Add support for Streamable methods by WebSocket"
Now we have code like:
[code]
and
[code]

Because WebSocket does share connection and it's unclear how streaming can be implemented for WebSocket.
Need investigate and find way to support streamable methods by WebSocket (maybe by de-optimization for websocket).

[2021-07-02 05:45] AskAlexSharov commented on #2247
We have and Dockerfile and docker-compose.yml just lazy to dial with githubActions+dockerHub automation.

[2021-07-02 10:23] AlexeyAkhunov commented on #2235
@wizzard0 Can you show command line options you use to run Erigon? I cannot reproduce your issue on my database, with the version you are specifying. I wonder if your instance is trying to recompute the receipts on the fly

[2021-07-02 10:24] AlexeyAkhunov commented on #2235
This is what I am getting:
[code]

[2021-07-02 10:25] wizzard0 commented on #2235
`./build/bin/erigon --private.api.addr 127.0.0.1:9090` :)

[2021-07-02 10:33] AlexeyAkhunov commented on #2235
Hmm, weird, even with re-generating receipt by re-execution things are working (but I did find one bug, not related to this one). @wizzard0 do you have logs from when you switched Erigon to `2021.06.05` (it supposed to run a data migration to fix broken receipts) ? I wonder if something went wrong with that migration, and we need to re-run

[2021-07-02 11:43] wizzard0 commented on #2235
No, same results after removing and reapplying the receipts_cbor migration.

[2021-07-02 12:57] ArtemKo7v opened #2272 "trace_replayTransaction crashes on some transactions"
#### System information

erigon version 2021.07.2-alpha
Ubuntu 20.04.2 LTS

#### Actual behaviour

`curl -s http://127.0.0.1:8555 -X POST -H "Content-Type: application/json" -d '{"method":"trace_replayTransaction","params":["0xe252529404dd88b4c95d5740ffacd2741dc5135f9e47238c77dabe5696f042fb", ["stateDiff"]],"id":1,"jsonrpc":"2.0"}'`

`{"jsonrpc":"2.0","id":1,"error":{"code":-32000,"message":"metho

[2021-07-02 14:33] ArtemKo7v opened #2273 "trace_replayTransaction different results between Erigon and OE"
#### System information

erigon version 2021.07.2-alpha
Ubuntu 20.04.2 LTS

#### OE

Transaction hash 0xbeb6093b5f0ea3ec834391afc7c6c0d7ad367b3f82388b8f00258016bd29223b

OpenEthereum stateDiff returns only one storage value changed for the contract 0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2

[code]

#### Erigon

Erigon stateDiff of the same transaction returns many changed values for the contract

[2021-07-03 12:48] AlexeyAkhunov commented on #2235
Please use this workaround (will be merged into `devel` branch soon), PR is here: https://github.com/ledgerwatch/erigon/pull/2284

[code]
it checks 100k blocks after given one, and every 30s it commits the changes and prints progress like this:
[code]

[2021-07-03 12:49] AlexeyAkhunov commented on #2236
The correct receipts have been broken by the migration, unfortunately.

Please use this workaround to fix your receipts (will be merged into devel branch soon), PR is here: #2284

[code]
it checks 100k blocks after given one, and every 30s it commits the changes and prints progress like this:
[code]

[2021-07-03 16:47] alcuadrado opened #2288 "Incorrect JSON-RPC type in transaction receipt objects"
#### System information

Erigon version: 2021.06.5-alpha

OS & Version: Linux puc 5.8.0-59-generic #66~20.04.1-Ubuntu SMP Thu Jun 17 11:14:10 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

Commit hash : https://github.com/ledgerwatch/erigon/commit/cc360ec65854d724873bb5907d239adff1b10559

#### Expected behaviour

Getting a transaction receipt returns an object with a `status` field, which should be form

[2021-07-03 21:41] AlexeyAkhunov commented on #2288
Yes, receipts were messed up multiple times, sorry. Working on the solution that should fix it. The "0x0" thing has been fixed in the most release I believe. When did you do your sync, with which version?

[2021-07-04 00:02] alcuadrado commented on #2288
Thanks for the quick answer!

I re-synced a few weeks ago. I think it was `2021.06.03-alpha`, but can I check it somewhere?

[2021-07-04 02:06] #2156 closed

[2021-07-04 04:14] AskAlexSharov commented on #2156
@paulmillr have you found solution for your use-case?

[2021-07-04 04:29] AskAlexSharov commented on #2156
I think `trace_filter` can find transactions by "fromAddress" and by "toAddress" https://openethereum.github.io/JSONRPC-trace-module#trace_filter
We don't support pagination here, but we do support streaming of json results.

[2021-07-04 13:55] AlexeyAkhunov commented on #2288
At the moment, it is not possible to check what was the version you synced with. I have just merged migration into `devel` branch that should fix receipts broken by previous issues. Takes about 1h40m on main net DB

[2021-07-04 20:10] paulmillr commented on #2156
yeah, all cool, trace worked

[2021-07-04 20:11] paulmillr commented on #2156
Also Otterscan is pretty neat

[2021-07-04 22:27] alcuadrado commented on #2288
Awesome! Thanks!

I'm pretty sure I synced with that one tough.

[2021-07-05 10:43] crossoveranx commented on #1624
What is the current status of this PR? Is any development ongoing to implemement this feature?

[2021-07-05 13:46] perama-v commented on #2246
I have experience an almost identical error with the same release version, and have included
the details below. Some additional context might illuminate the source of the error, which
appears to be as follows:

1. Power outage during sync stage "committing block bodies"
2. The sync finishes.
3. The node attempts to update the current block for the
RPC API.
4. The block header for that operation be

[2021-07-05 14:05] perama-v commented on #2246
Additionally, testing the RPC API:

RPC block number:
[code]

Block `0xc2076e` is `12715886`, which matches the stuck block in the logs above.

Node syncing status:

[code]

Returns false, indicating that the node is synced.

[2021-07-05 14:14] AskAlexSharov commented on #2246
Here is 2 unrelated issues I think.

1. About stuck: I have feeling that HeaderDownloading can't handle `kill -9` (power off in your case).
This what I saw in the past after set `--verbosity=4`:
[code]
Probably this is error which we don't see on default verbosity and it feels for us as "stuck".
Also save Stage 1 progress done somewhere deep inside `FeedHeader` instead of right before `tx.Commit()

[2021-07-05 15:07] AskAlexSharov commented on #1624
1 person working on Sokol support, but no ETA yet. After Sokol, all other AuRa networks must be relatively easy to support.

[2021-07-05 15:29] perama-v commented on #2246
Update on progress on my side:

I made a pull to this
[commit](https://github.com/ledgerwatch/erigon/commit/954304e43aefe6725a47d67144d19ea8527e43fc)
from the `devel` branch. After restarting the service, the node continued past the block `12715886` without an error.

[2021-07-06 07:30] AskAlexSharov opened #2307 "erigon —help shows default storage mode “default”"

[2021-07-07 06:04] perama-v opened #2309 "Implement eth_feeHistory API"
# Rationale

Why should this feature exist?

The eth_feeHistory API was recently introduced in the [JSON-RPC spec](https://github.com/ethereum/eth1.0-specs/blob/master/json-rpc/spec.json) as a counterpart to [EIP1559](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1559.md), which is currently live on Ropsten & Goerli and is scheduled for mainnet at [block 12965000](https://github.com/ethere

[2021-07-07 17:29] fellu commented on #1803
Is there a diff somewhere how bsc's geth is different from the eth one? Was thinking on trying to run bsc chain with erigon, but did not had time yet to check what has to be changed.

[2021-07-08 14:17] twilightrus commented on #1407
eth_call also has been crashed

[2021-07-08 14:40] AskAlexSharov commented on #1407
@twilightrus do you have logs?

[2021-07-08 14:42] yashutanna opened #2318 "Unable to sync node: stuck on Failed to recover header downloader error = "mdbx_txn_begin: MDBX_PANIC"
Hey

There seems to be an infinite loop issue. I have multiple nodes currently syncing. the node that has this issue was given static peers. all other settings and arguments are the same.

Not really sure where to go and where to start

ERROR[07-08|14:32:51.403] Failed to recover header downloader      error="mdbx_txn_begin: MDBX_PANIC: Environment had fatal error, trace: [github.com/ledgerwatch/e

[2021-07-08 14:51] AskAlexSharov commented on #2318
Try add flag `--database.verbosity=4` flag and post output here.

[2021-07-08 15:07] AskAlexSharov commented on #2272
I didn't investigate this issue.
but maybe this fix is related: https://github.com/ledgerwatch/erigon/pull/2319

[2021-07-08 17:06] AskAlexSharov opened #2320 "eth_call test eip-1559"
rinkbery:
[code]
result:
[code]

[2021-07-08 17:52] brockelmore opened #2321 "Status of websocket filters/log subscription & sponsoring"
Hi there,

Love the great work done on Erigon. Curious if work is actively being done on websocket subscription filters and logs? I know it is in the `TODO`s but I can't find a branch that has made any progress on that front. If there are blockers to completion, it would be great to have transparency into that. We @nascentxyz are working to understand the code so we can potentially contribute in t

[2021-07-09 06:54] mandrigin commented on #2321
I think we have newHeads subscription for sure. Here is a good list of API implementation status: https://github.com/ledgerwatch/erigon/tree/devel/cmd/rpcdaemon#rpc-implementation-status

look at eth_subscribe there.

re: bounties. Reach out to me on Telegram (mandrigin) or on our Discord, and I’ll be happy to discuss.

[2021-07-09 10:40] gg22mm opened #2326 "make rpcdaemon Error"
[root@dc236f2dd1fb erigon-2021.07.02]# make rpcdaemon
fatal: not a git repository (or any parent up to mount point /usr/local/servers)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
fatal: not a git repository (or any parent up to mount point /usr/local/servers)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
fatal: not a git repository (or an

[2021-07-09 10:47] AndreaLanfranchi commented on #2326
Seems like erigon repo is not cloned properly.
Can you post the tree of the directory where you're launching `make rpcdaemon` from ?

[2021-07-09 11:05] dylankilkenny opened #2328 "Compatability issue with geth/ethclient BlockByHash"
#### System information

Erigon version: `2021.06.5-alpha`

OS & Version: Ubuntu 20.04

#### Behaviour

I am using the ethclient package from geth and connecting to an erigon node.
When fetching blocks by hash I will periodically receive the following error:

`missing required field 'storageKeys' for AccessTuple`

The error is thrown from `client.BlockByHash` on line 32

code:
[code]

[2021-07-09 11:17] #1916 closed

[2021-07-09 11:21] AskAlexSharov commented on #2326
Yep, you need “.git” folder

[2021-07-09 12:20] pnowosie opened #2329 "Syncing Mainnet, Rpcdaemon shows 0x0 block number for a long"
#### System information

Erigon version: `./erigon --version`
erigon version 2021.06.3-alpha

OS & Version: Windows/Linux/OSX
Linux, Ubuntu 20.04.2 LTS
32 GB RAM, ~8+ cores

Commit hash : https://github.com/ledgerwatch/erigon/commit/81a22af4d923b89100a978fde9037c245c527627

#### Expected behaviour
Calling method `eth_syncing` of JSON RPC, rpcdaemon shows progress of syncing.

#### Actual behaviour

[2021-07-09 12:27] AndreaLanfranchi commented on #2329
This is expected ... `current_block` gets updated at the end of every stage loop (i.e. all the stages must complete at least one round).
As you're sync'ing since July 7 (today is July 9) is very likely you're in the middle of heavy-weight execution stage (if you report the logs you currently see it could be of great help) ... but the very first cycle has not completed yet.

[2021-07-09 12:36] AndreaLanfranchi commented on #2329
The reason you did not experience this behavior on testnets is due to the fact mainnet has lot more blocks, transactions, contracts ... hence it takes a lot more to get in sync at very first stage loop.

[2021-07-09 13:20] twilightrus opened #2330 "eth_call method handler crashed (rinkeby)"
#### System information

Erigon version: `erigon version 2021.07.2-alpha`

OS & Version: Ubuntu 18.04

#### Expected behaviour
eth_call return success result

#### Actual behaviour
eth_call return error on request:

`{"id":1,"jsonrpc":"2.0","method":"eth_call","params":[{"to":"0x727004cda14316125f3511c9aa50bf524e44fc5a","value":"0x0","data":"0xfe26a7780000000000000000000000000000000000000000000000

[2021-07-09 13:51] pnowosie commented on #2329
Thank you @AndreaLanfranchi for explaination! I suspected Mainnet sync would be heavy-weight task.
Logs from `erigon` does not suggest anything wrong - just me getting nervous.

I'll close the issue, now. I hope this thread will help other impatient users 😅

[2021-07-09 13:51] #2329 closed

[2021-07-09 14:00] AndreaLanfranchi commented on #2329
You may also want to check with rpc method `eth_syncing`
As long as the reponse is `true` the node is catching up.
When it returns `false` you're in sync and `currentBlock` matches `highestBlock`

[2021-07-09 14:11] AskAlexSharov commented on #2329
`current` means here not only blocks are downloaded, but also executed, and all other indices are built.
Erigon doesn't process blocks one-by-one. It will exec all blocks first, then built history index for all block, then build next index for all blocks, and next, ... It means this field will become > only when all blocks are processed (not when at least one block processed). https://github.com/l

[2021-07-09 14:12] AskAlexSharov commented on #2330
fixed by https://github.com/ledgerwatch/erigon/pull/2319

[2021-07-09 14:58] AskAlexSharov commented on #2318
and run `./build/bin/mdbx_chk <datadir>/erigon/chaindata`
(it may take few hours)

[2021-07-09 16:04] AskAlexSharov opened #2331 "Write crash reports to logger instead of files"

[2021-07-10 01:10] gg22mm commented on #2326
down:  https://github.com/ledgerwatch/erigon/archive/refs/tags/v2021.07.02.tar.gz

tar -zxvf v2021.07.02.tar.gz
make rpcdaemon

make: *** [Makefile:62: rpcdaemon] Error 1

[2021-07-10 01:33] gg22mm commented on #2326
[root@dc236f2dd1fb erigon]# make rpcdaemon
env GO111MODULE=on go build -trimpath -ldflags "-X github.com/ledgerwatch/erigon/params.GitCommit=5d4c7237dcf38e4b3069b836e6ed42fc7d5a9688 -X github.com/ledgerwatch/erigon/params.GitBranch=devel -X github.com/ledgerwatch/params.GitTag=test_docker_hub" -o /usr/local/servers/web/erigon72/erigon/build/bin/rpcdaemon ./cmd/rpcdaemon
go: github.com/Azure/azure-

[2021-07-10 01:40] gg22mm commented on #2029
docker is good!

[2021-07-10 02:17] AskAlexSharov commented on #2326
Use git clone instead of tar ball download

[2021-07-10 03:05] gg22mm commented on #2326
git config --global --unset http.proxy
 git config --global --unset https.proxy
git clone https://github.com/ledgerwatch/erigon.git

[root@dc236f2dd1fb erigon]# make rpcdaemon
env GO111MODULE=on go build -trimpath -ldflags "-X github.com/ledgerwatch/erigon/params.GitCommit=5d4c7237dcf38e4b3069b836e6ed42fc7d5a9688 -X github.com/ledgerwatch/erigon/params.GitBranch=devel -X github.com/ledgerwatch/par

[2021-07-10 05:00] AskAlexSharov commented on #2326
we can't do anything with your internet connection or proxy.golang.org stability.
just retry, check internet, if you are in china - find some local proxy of golang packages, ...

We recently published docker image - you can try it https://hub.docker.com/r/thorax/erigon
(see docker-compose.yml for examples)

[2021-07-10 06:59] gg22mm commented on #2326
docker run -ti --name erigon -v /home/bee/erigon_v2:/var/lib/erigon:rw -p 30303:30303 -p 30304:30304 -p 6060:6060  -p 9090:9090 -p 8080:8080 -p 8545:8545 -p 8546:8546 thorax/erigon:devel
/usr/local/bin/erigon --datadir=/var/lib/erigon --private.api.addr=localhost:9090

curl localhost:9090

Is that right ?

[2021-07-10 07:17] gg22mm commented on #2326
INFO [07-10|07:16:08.935] Build info                               git_branch=devel git_tag= git_commit=e340fa0debda5ee92b88bd7a89f54c0d5e012812
INFO [07-10|07:16:08.935] Starting Erigon on Ethereum mainnet...
INFO [07-10|07:16:08.936] Maximum peer count                       ETH=100 total=100
INFO [07-10|07:16:08.936] Set global gas cap                       cap=25000000
INFO [07-10|07:16:09.079]

[2021-07-10 07:21] gg22mm commented on #2326
I in the docker start ,  How to visit outside?

//use
docker run -ti --name erigon -v /home/bee/erigon_v2:/var/lib/erigon:rw -p 30303:30303 -p 30304:30304 -p 6060:6060  -p 9090:9090 -p 8080:8080 -p 8545:8545 -p 8546:8546 thorax/erigon:devel
/usr/local/bin/erigon --datadir=/var/lib/erigon --private.api.addr=localhost:9090

curl http://119.147.104.160:9090

Connection is reset

[2021-07-10 08:35] Troublor opened #2337 "rpcdaemon crashes when serving debug_traceTransaction via Websocket"
#### System information

Erigon version: `erigon version 2021.07.2-alpha`

OS & Version: Linux

Commit hash : 95ab8506bc3f1b115d1bddb3f8e73c3474e1c7ad (tag: v2021.07.02)

#### Expected behaviour

The rpcdaemon does not crash.

#### Actual behaviour

The rpcdaemon process crash: `panic: runtime error: invalid memory address or nil pointer dereference`
Similar to #2206 but my erigon node does not st

[2021-07-10 08:50] AskAlexSharov commented on #2337
thank you for reporting
It was fixed in last release (or later), but methods which do streaming of json - can't be used by websocket.
https://github.com/ledgerwatch/erigon/issues/2269

[2021-07-10 08:50] #2337 closed

[2021-07-10 12:31] gg22mm commented on #2326
ERROR[07-10|12:31:04.534] RecvUploadMessage: Handling incoming message error="send bodies response: sendMessageById to peer 8584be33dc7f79e1bbfc364eef034fd59c0fdb78396a279681cd1c8c67fdaa87: write tcp 172.17.0.2:30304->47.254.214.43:60762: write: broken pipe"

[2021-07-11 02:10] gg22mm commented on #2326
docker run -ti --name erigon -v /home/bee/erigon_v2:/var/lib/erigon:rw -p 30303:30303 -p 30304:30304 -p 6060:6060 -p 6061:6061  -p 9090:9090 -p 8080:8080 -p 8545:8545 -p 8546:8546 thorax/erigon:devel
docker exec -ti erigon sh
/usr/local/bin/erigon --datadir=/var/lib/erigon --metrics --metrics.addr="0.0.0.0" --metrics.port="6060" --private.api.addr="0.0.0.0:9090" --pprof --pprof.addr="0.0.0.0" --pp

[2021-07-11 05:14] AskAlexSharov commented on #2326
"Private API" - it's low-level gRPC api.
If you need HTTP JSON-RPC - please run RPCDaemon (yes, rpc living in separated daemon).
https://github.com/ledgerwatch/erigon#json-rpc-daemon
https://github.com/ledgerwatch/erigon/blob/devel/docker-compose.yml#L39
https://github.com/ledgerwatch/erigon/blob/devel/cmd/rpcdaemon/README.md

[2021-07-11 09:10] gg22mm commented on #2326
Thank you for your help ~

my config:
docker run -ti --name erigon -v /home/bee/erigon_v2:/var/lib/erigon:rw -p 30303:30303 -p 30304:30304 -p 6060:6060 -p 6061:6061  -p 9090:9090 -p 8080:8080 -p 8545:8545 -p 8546:8546 thorax/erigon:devel
docker exec -ti erigon sh
erigon --datadir=/var/lib/erigon --metrics --metrics.addr="0.0.0.0" --metrics.port="6060" --private.api.addr="0.0.0.0:9090" --pprof --pp

[2021-07-11 09:28] 0xjanitor commented on #2309
The latest release of Besu includes this btw

[2021-07-12 03:30] AskAlexSharov commented on #2326
Yes.
It's ok if some api is deprecated.
List of supported api's: https://github.com/ledgerwatch/erigon/blob/devel/cmd/rpcdaemon/README.md

We don't have API to track sync progress (eth_syncing works, but not very useful in our case), you can use next command to see progress of different stages:
[code]

see also --http.api flag docs to enable more namespaces

[2021-07-12 06:29] gg22mm commented on #2326
Thank you very much ~
-------------------------
I need a bigger hard disk .

[root@localhost bee]# df -h
Filesystem                   Size     Used    Avail   Use%   Mounted on

/dev/nvme0n1             881G   624G  212G    75%    /home/bee

[2021-07-12 06:29] #2326 closed

[2021-07-12 06:30] gg22mm commented on #2326
Thank you very much ~
-------------------------
I need a bigger hard disk .

[root@localhost bee]# df -h
Filesystem                   Size     Used    Avail   Use%   Mounted on

/dev/nvme0n1             881G   624G  212G    75%    /home/bee

[2021-07-12 06:40] AskAlexSharov commented on #2331
done by https://github.com/ledgerwatch/erigon/pull/2342

[2021-07-12 06:40] #2331 closed

[2021-07-12 06:40] AskAlexSharov commented on #2320
done

[2021-07-12 06:40] #2320 closed

[2021-07-12 06:41] AskAlexSharov commented on #2272
@ArtemKo7v , hi, can you help me to test it on last devel branch?

[2021-07-12 06:43] AskAlexSharov commented on #2266
removed dual-mode from docs. also there is "known issues" section in Readme.md

We need somebody help - to find Docker volume driver or some other Docker configuration to fix this issue.

[2021-07-12 06:43] #2266 closed

[2021-07-12 06:46] AskAlexSharov commented on #2247
Done: https://hub.docker.com/repository/docker/thorax/erigon
only `devel` available now
release tag will available after next release (every Thursday)

Please review changes in Dockerfile and docker-compose.yml

I didn't add non-root user - because in my experience it makes debug harder. Feel free to recommend something.

[2021-07-12 06:46] AskAlexSharov commented on #2212
done

[2021-07-12 06:46] #2212 closed

[2021-07-12 06:47] AskAlexSharov commented on #2210
@romankoblov , hi. I think we fixed this issue - feel free to test it on last devel branch

[2021-07-12 06:48] #2246 closed

[2021-07-12 06:49] AskAlexSharov commented on #2245
We will increase max read transactions limit - in near future. waiting to support from DB side.

[2021-07-12 06:51] AskAlexSharov commented on #2052
fixed by just hiding this error for now

[2021-07-12 06:51] #2052 closed

[2021-07-12 07:14] AskAlexSharov commented on #2326
have fun.

1.3TB is default. space can be saved more by turning-off some indices - but it then some RPC API methods will become unavailable - see `--storage-mode` flag docs.
`<datadir>/etl-tmp` also require ~200Gb of free space - but can be mounted/symlinked to slow disk.

[2021-07-12 08:27] annadanchenko commented on #2257
On `git_branch=stable git_tag= git_commit=f3d5f83cadc4de7ece454495b776d66bf0571f17`:

[code]

There are similar errors but with different `tx type prefix`, here is list with removed `data` part:

[code]

[2021-07-12 08:37] LogvinovLeon opened #2350 "getReceipts error: gas limit reached"
#### System information

Erigon version: `erigon version 2021.06.4-alpha`

OS & Version: Linux/AWS

Commit hash :

#### Expected behaviour
I get the transaction receipt

#### Actual behaviour
I get an error:
[code]

#### Steps to reproduce the behaviour
1. Sync an erigon node.
2. Request the transaction receipt for transaction: ``
[code]

#### Backtrace

[code]

[2021-07-12 08:57] AskAlexSharov commented on #2320
fixed by https://github.com/ledgerwatch/erigon/pull/2327

[2021-07-12 15:25] antonok-edm commented on #2247
Amazing, thanks @AskAlexSharov! I'll give it a try this week and let you know how that goes.

[2021-07-12 22:42] hmajidy2001 opened #2356 "Networking with Peer"
I have pored over the documentation and GSearch but can't find any info on how to hook up 2 turbo-geth peers on a LAN. Can this be done?

[2021-07-13 13:19] twilightrus commented on #2330
fix works

[2021-07-13 13:19] #2330 closed

[2021-07-14 00:01] romankoblov commented on #2210
Sorry for late response, I've re-synced node. Unfortunately bug is still here, request from issue returns:
[code]

[2021-07-14 02:32] AskAlexSharov opened #2362 "txpool_content re-write to use grpc-streaming and json-rpc-streaming"
- because now 1 grpc message there is ~10Mb
- then reduce to 5Mb `grpc.WithDefaultCallOptions(grpc.MaxCallRecvMsgSize(int(15 * datasize.MB)))`

[2021-07-14 12:21] AskAlexSharov commented on #2245
@zzh1996 , hi. Can you try https://github.com/ledgerwatch/erigon/pull/2366
?

[2021-07-14 14:36] Uxio0 commented on #2210
Same bug is going on for us, example trace:

[code]

[2021-07-14 20:32] zzh1996 commented on #2245
@AskAlexSharov I tried 04465e0, but there isn't any noticeable difference. CPU utilization, RPC throughput, number of OS threads are all the same as above.

[2021-07-15 02:48] AskAlexSharov commented on #2356
@hmajidy2001 do you mean `--staticpeers` flag?

[2021-07-15 02:50] AskAlexSharov commented on #2350
fixed by https://github.com/ledgerwatch/erigon/pull/2327

[2021-07-15 02:50] #2350 closed

[2021-07-15 02:52] AskAlexSharov commented on #2318
closing for now, because not enough information. feel free open new issue if you still have this problem.
probably issue fixed by: https://github.com/ledgerwatch/erigon/pull/2351 and https://github.com/ledgerwatch/erigon/pull/2352

[2021-07-15 02:52] #2318 closed

[2021-07-15 02:58] AskAlexSharov opened #2371 "Save to db Erigon's version"
to `DatabaseInfoBucket`. get version from `params/version.go`
- one key insert when `database created` (and don't update it anymore)
- one key insert when `stage==Finish && initialCycle==true` (and don't update it anymore)

[2021-07-15 03:06] AskAlexSharov commented on #2272
fixed by https://github.com/ledgerwatch/erigon/pull/2372

[2021-07-15 03:06] #2272 closed

[2021-07-15 03:12] AskAlexSharov commented on #2210
Right now if batch does have "streamable" request - will execute in 1 goroutine (no parallelizm).
And I wonder - maybe just prohibit "streamable" requests in batch at all? (instead of fixing this issue).
Because batching of such requests will only slow-down overall response time.
@AlexeyAkhunov - how do you think?

[2021-07-15 03:17] AskAlexSharov commented on #2193
@TimvanScherpenzeel , i can't reproduce it. Please make sure you pass `--http.api=eth,debug,net,web3,trace,erigon` option.

[2021-07-15 03:22] AskAlexSharov commented on #2235
closing for now, because looks like it's fixed. feel free to re-open if need.

[2021-07-15 03:22] #2235 closed

[2021-07-15 04:33] AskAlexSharov commented on #2245
@zzh1996 , are you sure you re-build rpcdaemon and erigon? and restarted.
I see 600% CPU utilization by your python script (on 8 core server)
And your script became bottleneck - when I added one more python script in parallel - I see 800%

[2021-07-15 08:23] AskAlexSharov commented on #2031
I think it's fixed (i tested during sync and after sync)

[2021-07-15 08:25] AskAlexSharov commented on #1516
closing for now, because unlikely we will do something to support network disks in near future. but your PR's are welcome.

[2021-07-15 08:25] #1516 closed

[2021-07-15 08:35] AskAlexSharov commented on #1468
fixed by https://github.com/ledgerwatch/erigon/pull/2373

[2021-07-15 08:35] #1468 closed

[2021-07-15 08:43] AskAlexSharov commented on #1468
and yes, debug_traceTransaction using JS tracer

[2021-07-15 08:44] #1430 closed

[2021-07-15 08:46] AskAlexSharov commented on #1383
tested on syncing and synced nodes now - all looks good. feel free to open new issue if you still have problems

[2021-07-15 08:46] #1383 closed

[2021-07-15 08:46] #1382 closed

[2021-07-15 08:47] AskAlexSharov commented on #1379
i think it's fixed now.

[2021-07-15 08:47] #1379 closed

[2021-07-15 08:58] LogvinovLeon commented on #2350
I'll try the new version and let you know if it fixes this, but I doubt that this was the issue as I was experiencing this on the mainnet where EIP 1559 isn't enabled yet.

[2021-07-15 09:09] ArtemKo7v commented on #2272
It works fine now, thanks!

[2021-07-15 09:47] AskAlexSharov commented on #848
fixed

[2021-07-15 09:49] AskAlexSharov commented on #1347
close this issue because too old, probably everything changed already. feel free to re-open if need

[2021-07-15 09:49] #1347 closed

[2021-07-15 09:58] AskAlexSharov commented on #1307
i think it's fixed for now. feel free to re-open if not

[2021-07-15 09:58] #1307 closed

[2021-07-15 10:26] AskAlexSharov opened #2374 "Do we need switch debug_traceTransaction out from JS tracer?"

[2021-07-15 11:14] romankoblov commented on #2210
Please don’t. Better leave as is, it is not hard to parse (almost same as tcp jsonrpc).

Even in current state with 1 goroutine per request it has same speed as multiple requests, because there is significant overhead for creating new connections (especially https one). Also, there is limit in browser for something around 6 parallel connections which slow-down non-batched requests.

Why not just c

[2021-07-15 11:30] romankoblov commented on #2210
BTW, if problem with https://github.com/ledgerwatch/erigon/blob/360735318b53a9b8ad2f97b048bf139da0ec6cf5/rpc/handler.go#L147

It is not neccessary per jsonrpc spec (https://www.jsonrpc.org/specification):

There is 'id' field inside each request/response which should match, but order can random.

[2021-07-15 12:02] AskAlexSharov commented on #2162
@LogvinovLeon hi. can you help me to test https://github.com/ledgerwatch/erigon/pull/2375

[2021-07-15 12:07] AskAlexSharov commented on #2328
@dylankilkenny hi. can you help me to test #2375

[2021-07-15 12:20] AskAlexSharov commented on #2210
@romankoblov , problem that "streaming" writing to client for long time - and there is no intermediate buffer - because some requests do eat all memory if use intermediate buffer. It means can send anything to client while 1 "streaming" does sending.

`streamable` - means - send data to client before request is finished. "concat in the end" - means make request non-streamable.

To give more contes

[2021-07-15 12:25] AskAlexSharov commented on #2210
I have idea to de-optimize streamable requests for batch and ws. To use in-mem buffer.
For ws - looks very hard to implement due to too many abstractions there.
For batch - i didn't check, probably doable.

[2021-07-15 12:40] LogvinovLeon commented on #2162
@AskAlexSharov Sure. What do I need to do?

[2021-07-15 13:21] AskAlexSharov commented on #2210
@romankoblov , hi. can you help me to test https://github.com/ledgerwatch/erigon/pull/2377

[2021-07-15 13:24] AskAlexSharov commented on #2162
@LogvinovLeon , just check that functionality you need - works as you expect.

[2021-07-15 13:34] LogvinovLeon commented on #2162
@AskAlexSharov Works. Thanks

[2021-07-15 13:36] perama-v commented on #1407
I have tested the above `trace_transaction` with `erigon version 2021.07.2-alpha`  (https://github.com/ledgerwatch/erigon/commit/5eaf4c8cc371a14358f85e2b747c0ad8116a929a) and receive a good response, with no `method handler crashed` error.

[2021-07-15 13:46] alysak6075 commented on #848
Still seeing this on 2021.07.03-alpha

[2021-07-15 13:49] AskAlexSharov commented on #1407
closing then

[2021-07-15 13:49] #1407 closed

[2021-07-15 13:49] AskAlexSharov commented on #2162
closing then

[2021-07-15 13:49] #2162 closed

[2021-07-15 13:51] perama-v commented on #1366
I made the following call:

[code]

Following the example in the link to the EIP above. The call return the block appropriately.

The call to a non-existent hash:

[code]

Returned:

[code]

Rather than the expected message of the form:

'If no block exists with that hash then an error should be returned with a code of -32000, a message of "Block not found." and a data of "0xbl0cbl0cbl0cbl0cbl0cbl

[2021-07-15 13:59] AskAlexSharov commented on #2240
fixed by https://github.com/ledgerwatch/erigon/pull/2378

[2021-07-15 13:59] #2240 closed

[2021-07-15 14:39] AskAlexSharov commented on #1366
@perama-v , hi. it's not "non-existing" hash, it's invalid hash. Hash can have only characters from 0-9 and a-f (ff stands for 256 in hexary base, and 256 is the maximum digit which can be stored in 1 byte). Character `l` is not allowed.

[2021-07-15 14:48] perama-v commented on #1366
Oh, that was silly of me. Okay, this valid but non-existing hash:

[code]
Returns the correct response:
[code]
So it looks good to me.

[2021-07-15 15:00] dylankilkenny commented on #2328
works great

[2021-07-15 15:00] #2328 closed

[2021-07-15 15:16] AskAlexSharov commented on #1366
You are welcome

[2021-07-15 15:53] romankoblov commented on #2210
You can stream batch responses (when they any of them got result), but streaming queries will require intemediate buffer.

For streaming queries if DDoS via big queries is really concern, you can limit response inside handlers by checking internal buffer len of stream and stop processing request after some limit. For tracing API its probably worth checking that all responses from same block is pro

[2021-07-16 07:27] zzh1996 commented on #2245
@AskAlexSharov I'm sure. I stopped and deleted everything, then run git clone and build.

[2021-07-16 09:55] AskAlexSharov commented on #2245
with `--datadir` option?

then gimme some logs
or results of adding --pprof (and then run `go tool pprof -http=: http://localhost:6060/debug/pprof/profile\?seconds\=20`

[2021-07-19 02:21] zzyalbert opened #2398 "Low performance in Testnet"
I have done a test for erigon and go-ethereum on testnet goerli on the same machine, but erigon was much slower than geth when processing the same block (tens of ms vs about 1.9ms). I used both of then as full node. Did I miss something?

[version]
erigin: latest release 2021.07.03-alpha
geth: master branch(commit 58b0420a8a5d7809981eab119ae64218ea53bc4c)

[machine]
aws c4.5xlarge (16 core/32GB me

[2021-07-19 02:45] SanJue commented on #2398
I really want to what improvement about storage have been made
and how can I verify it by testing

thanks!

[2021-07-19 11:07] AskAlexSharov commented on #2398
@zzyalbert , sorry but your information is totally not enough.
How did you test?
What block is it?
How did you measure speed? Is it includes work with network? if "no", how do you know that answer is "no"? :-)

Erigon has enabled by default indices which Geth doesn't have:
- indexing of receipts/logs for eth_getLogs method
- indexing of calltraces for OpenEthereum's-style trace_* RPC methods

Why

[2021-07-19 11:12] AskAlexSharov commented on #2398
@SanJue - you also need give more context about your question. Otherwise answer will be "go read code, docs and run sync, watch Grafana board with disk read/write stats". Erigon's archive node 1.3Tb now.
https://github.com/ledgerwatch/erigon/blob/devel/README.md#system-requirements
https://github.com/ledgerwatch/erigon#how-much-ram-do-i-need

[2021-07-22 10:34] yorickdowne opened #2421 "Feature: `--prune.*.before`"
# Rationale

`--prune.*.before` would keep all receipts, history, etc, from a given block on, but not before it.

This is useful for integrating with Ethereum PoS consensus clients, which need eth_getLogs about deposits since genesis, block "11052984" on the PoW chain.

`--prune.*.before` and `--prune.*.older` would be mutually exclusive. While `older` keeps the last N; `before` would keep everyth

[2021-07-22 13:36] twilightrus opened #2425 "txpool_content method handler crashed"
#### System information

Erigon version: `erigon version 2021.07.3-alpha`

OS & Version: Ubuntu 18.04

Network: Rinkeby

#### Expected behaviour
txpool_content returns success result

#### Actual behaviour
returns jsonrpc error with text: "method handler crashed"
in logs stacktrace:

[code]

#### Steps to reproduce the behaviour
Run node in rinkeby and retrieve txpool_content. I think it happened

[2021-07-22 13:49] AskAlexSharov commented on #2425
hi, here is the fix https://github.com/ledgerwatch/erigon/pull/2426

[2021-07-22 18:05] 1blockologist opened #2429 "nomenclature: full node vs archive node"
Hello, I had been following turbo geth from the sidelines as a potential alternative for achival nodes that take up 1 TB vs 8 TB

with the rebrand to erigon, it doesn't seem that the summary or readme addresses this use case specifically.

Is the "full" reference to all the states of an archival node?

What are the specific instructions for doing this kind of "full" sync that is analogous to an ar

[2021-07-22 18:20] mandrigin commented on #2429
Basically it is a full archive node by default. If you don’t need archive, enable pruning. That was released today.

[2021-07-22 18:45] 1blockologist commented on #2429
Thanks for building and releasing that, I feel like I should wait for bugs or upcoming hardfork to shake out but maybe I'll give it a shot

[2021-07-23 04:19] AskAlexSharov commented on #2425
fix released

[2021-07-23 04:19] #2425 closed

[2021-07-24 04:04] #2429 closed

[2021-07-24 04:05] AskAlexSharov commented on #2398
Hi, guys. Because no active discussion here - i closing issue. Feel free to re-open.

[2021-07-24 04:05] #2398 closed

[2021-07-24 04:06] #2374 closed

[2021-07-24 04:06] AskAlexSharov commented on #2307
fixed

[2021-07-24 04:06] #2307 closed

[2021-07-24 04:07] AskAlexSharov commented on #2269
done

[2021-07-24 04:07] #2269 closed

[2021-07-24 04:08] AskAlexSharov commented on #2210
I think we are done here. Closing. Feel free to re-open.

[2021-07-24 04:15] AskAlexSharov commented on #2077
fixed

[2021-07-24 04:15] #2077 closed

[2021-07-24 04:16] #2031 closed

[2021-07-24 04:16] AskAlexSharov commented on #2029
done https://hub.docker.com/r/thorax/erigon

[2021-07-24 04:16] #2029 closed

[2021-07-24 04:17] #1822 closed

[2021-07-24 04:18] #1738 closed

[2021-07-24 04:27] AskAlexSharov commented on #1278
last part done by https://github.com/ledgerwatch/erigon/pull/2436

[2021-07-24 04:27] #1278 closed

[2021-07-24 11:30] #2118 closed

[2021-07-24 11:56] eduadiez opened #2442 "datadir option forces rpcdaemon to run in local db mode"
#### System information

Erigon version: `./erigon --version`

[code]

OS & Version: Windows/Linux/OSX

Linux & Docker
[code]

#### Expected behaviour

Using `--private.api.addr=localhost:9090` I expected it to work in remote mode, but I'm getting a `Could not connect to DB`. when I set `--datadir /var/lib/erigon`.

I think that's why you had to add this to the docker-compose:
https://github.com/l

[2021-07-24 12:14] AndreaLanfranchi commented on #2442
Your statement is a bit confusing to me.
You say you're expected to work in "remote" mode (aka socket mode) so why would you add --datadir ?
That cli option is only needed if you want rpcdaemon to speed up some queries by a direct access to db.
This said it appears to me you're trying to instantiate rpcdaemon from **a different** docker container than the one erigon is running into. This is highly

[2021-07-24 12:16] AndreaLanfranchi commented on #2442
Besides ... your title of issue

That is exactly what datadir does

[2021-07-24 12:30] AskAlexSharov commented on #2442
Hi.
“ Using --private.api.addr=localhost:9090 I expected it to work in remote mode, but I'm getting a Could not connect to DB.”
1. can’t use  “localhost” inside docker container.
2. it’s wrong expectation, because local mode also require —private.api.addr, because not everything stored in DB - for example txpool is not in db.

[2021-07-24 13:29] eduadiez commented on #2442
Yes, you are absolutely right, it has been a misunderstanding on my side.

I'm sorry for wasting your time, you can close it.

[2021-07-24 13:31] #2442 closed

[2021-07-24 14:22] AskAlexSharov commented on #2442
@eduadiez , it ok. Thank you.

[2021-07-25 18:14] 1blockologist opened #2444 "Process hangs while downloading blocks, continues using RAM, Network, CPU and Disk but is not doing anything"
#### System information

Erigon version: 2021.07.5-alpha

OS & Version: Windows

Commit hash :

#### Expected behaviour

Syncing happens completely on autopilot

#### Actual behaviour

Hangs randomly while in the "senders recovery" phase of downloading blocks, as the console stops printing new information, going in to close the process using CTRL+C actually makes the process stop hanging and conti

[2021-07-25 18:16] 1blockologist commented on #2444
I let it hang for 2 days, just in case it had actually progressed to the phase that was supposed to take 32 hours, but assuming my hardware was not as efficient I let it go longer. But after that was past I went to close the process with CTRL+C to restart it, but instead of the process dying it just resumed downloading blocks.

[2021-07-26 07:18] AndreaLanfranchi commented on #2444
We need more informations.
1) Full logs
2) Database size
3) Kind of hardware (CPU, RAM, Storage Type, Space available)
4) Which version are you on (Stable ? Devel ?)

[2021-07-26 09:33] Denis-score opened #2446 "rpcdaemon crash when query on certain transaction"
#### System information

Erigon version: erigon version 2021.07.5-alpha

OS & Version: Debian 10

Commit hash :

#### Expected behaviour

#### Actual behaviour
rpcdaemon crash when POST query on certain transactions

#### Steps to reproduce the behaviour
Do a POST curl like :
[code]

#### Backtrace

[code]

[2021-07-26 10:40] mandrigin commented on #1131
@AskAlexSharov is that one still available?

[2021-07-26 12:10] AskAlexSharov commented on #1131
I fixed it

[2021-07-26 12:10] #1131 closed

[2021-07-26 14:13] AskAlexSharov opened #2447 "To port last updates of js tracer"
To port next changes:
- https://github.com/ethereum/go-ethereum/commit/0fda25e471aa0e061396050c3d5e59fbaaf1e7b0
- https://github.com/ethereum/go-ethereum/commit/0524cede37508068b3031912989493e10eb0544a
- https://github.com/ethereum/go-ethereum/commit/29905d86aef336bb6a12ba61403008e068226a10
- https://github.com/ethereum/go-ethereum/commit/9d10856e84e884936c2390360e60e9ebca6d7a34
Probably it's rela

[2021-07-27 15:24] gebrits opened #2454 "After copying datadir to other server, restarting erigon on new server causes panic"
#### System information

Erigon version: `./erigon --version`
New server: 2021.07.5-alpha
Old server: 2021.06.1-alpha

OS & Version: Windows/Linux/OSX
Linux Ubuntu 20.04

#### Expected behaviour
Steps:

* clean shutdown of Erigon on server A
* Copy datadir from server A (2021.06.1-alpha) to server B (2021.07.5-alpha)
* Expect to be able to restart Erigon by pointing to datadir.

Used command (same

[2021-07-27 15:48] gebrits commented on #2454
Probably version related. I'll reopen if that doesn't appear to be the case.

[2021-07-27 15:48] #2454 closed

[2021-07-27 15:57] antonok-edm commented on #2247
Apologies for delay on my end, but the new images have been pretty solid for me. Thanks again!

[2021-07-27 15:57] #2247 closed

[2021-07-27 16:32] AskAlexSharov commented on #2454
@gebrits
ERROR[07-27|17:17:25.486] catch panic err="prune is history=no,receipt=no,txindex=no,calltrace=no,experiments.tevm=disabled original prune is history=no,receipt=no,txindex=no,calltrace=90000,experiments.tevm=disabled"
this error means that you need use same flag “—prune” as you used on original machine.
if you used “—storage-mode” flag, please see last release notes about “—prune” flag

[2021-07-27 23:12] tantrev opened #2457 "Feature request: add SOCKS5/Nym support"
# Rationale

Adding SOCKS5 support to erigon would make it easier to add then add support for [Nym](https://nymtech.net/docs/use-apps/) to in-turn add a layer of network privacy to Ethereum, a top three priority of the [Moloch Dao](https://www.molochdao.com/research-reports).

# Implementation

Adding Nym support should be marginally easier than adding direct SOCKS5 support to erigon, as suggested

[2021-07-28 14:51] Uxio0 commented on #2210
Hi @AskAlexSharov, we are currently using https://github.com/ledgerwatch/erigon/releases/tag/v2021.07.04 and we still see the same issues. We are still getting this from time to time when using `trace_filter`:

[code]

[2021-07-28 15:15] AskAlexSharov commented on #2210
@Uxio0 , thank. i will take a look. do you use HTTP or WebSocket?

[2021-07-28 15:49] Uxio0 commented on #2210
Hi, just HTTP. Thanks for the quick response

[2021-07-29 03:29] AskAlexSharov opened #2463 "Node must self-heal from "ancestor is nil" error"
[code]

[2021-07-29 03:44] AskAlexSharov commented on #2210
Here is the fix: https://github.com/ledgerwatch/erigon/pull/2464

[2021-07-29 07:28] Wiezzel opened #2465 "Erigon crashed: mdbx_page_touch: Assertion `mp->mp_pgno != pgno' failed."
#### System information

Erigon version: `2021.07.4-alpha`

OS & Version: Ubuntu 18.04.5 LTS (Bionic Beaver)

Commit hash: ???

#### Expected behaviour

Erigon *not* crashing.

#### Actual behaviour

Erigon crashed with the following message:
[code]

#### Steps to reproduce the behaviour
I was running Erigon with `--prune=htrc` option, using a database from previous version (2021.07.3). After seve

[2021-07-29 07:32] Wiezzel commented on #2465
Seems like the database got corrupted because the next run crashes immediately with a similar error:
[code]

[2021-07-29 08:23] #1029 closed

[2021-07-29 08:59] TimvanScherpenzeel commented on #2193
Hi, @AskAlexSharov , after updating to the latest version of Erigon the issue appears to have resolved itself (could have also been related to my local setup). Thanks 👍

[2021-07-29 08:59] #2193 closed

[2021-07-29 10:05] AskAlexSharov commented on #2465
@Wiezzel please run:
[code]
Command may take long time. It's ok.

[2021-07-29 10:13] AskAlexSharov commented on #2465
Oh, actually it's very small node database (not the big one).
Please send it to us: `<your_datadir>/erigon/nodes/mdbx.dat`

[2021-07-29 10:15] AskAlexSharov commented on #2465
Then, if you need restore node fast:
you can move `<your_datadir>/erigon/nodes` folder somewhere for backup and Erigon will start work.

[2021-07-29 10:17] Wiezzel commented on #2465
@AskAlexSharov Ooops, I have already overwritten my data directory when restoring from backup. I'm sorry. Next time when I notice this error I will upload my nodes DB here.

[2021-07-29 12:37] TimDaub opened #2468 "mdbx_env_open: no such file or directory when trying to run rpcdaemon locally"
#### System information

Erigon version: `./erigon --version`

[code]

How I run erigon:

[code]

OS & Version: Windows/Linux/OSX

[code]

Commit hash : 054581f50768d781623a0f51cf1eac8a6f0e04ae

#### Expected behaviour

I'm trying to run the `rpcdaemon` **locally** as [outlined in the docs](https://github.com/ledgerwatch/erigon/blob/devel/cmd/rpcdaemon/README.md#running-locally):

[code]

and

[co

[2021-07-29 16:21] AskAlexSharov commented on #2468
Do you run Erigon as root user?
do you see files in chaindata directory?

[2021-07-29 17:21] tsutsu opened #2471 "Feature: tiered chaindata storage"
# Rationale

Despite Erigon's efficient chaindata storage format, archive-node chaindata disk usage will still grow over time.

Archive nodes hosted on IaaS VM instances, for maximum read IOPS under heavy query load (e.g. when used as shared backends for node hosting providers), will likely hold chaindata state on direct-attached instance-local ephemeral SSDs (AWS "instance store" volumes; GCP "sc

[2021-07-30 00:03] 1blockologist opened #2472 "Is this really scalable? blk/s decreasing as block height grows"
With the expected behavior of block parsing per second decreasing in speed as the block height grows, it doesn't seem like it will be long before there are many machines that will never catch up.

One of the bragging points of erigon is that "even a hard drive" can keep up.

Maybe if it was synced on an NVMe and copied over to a hard drive.

But even on more higher performant hardware, it seems ea

[2021-07-30 02:23] AskAlexSharov commented on #2471
Thank you.
We already working on snapshot sync.
Snapshots - databases with historical data - will be separated databases and can be stored anywhere.

I think this is enough?

[2021-07-30 02:48] AskAlexSharov commented on #2472
gasLimit getting bigger, state getting bigger - amount of processing blocks per second getting smaller. No magic.

Sorry, I don’t want to be involved into abstract discussion - how to solve all problems in the world.

You can google ETH2, regenesis, parallel transactions execution, refund for selfdestruct, and other topics...

Some recent related links: https://notes.ethereum.org/@vbuterin/verkle_

[2021-07-30 02:48] #2472 closed

[2021-07-30 07:49] TimDaub commented on #2468
[code]

I guess that means yes. Shouldn't I?

[code]

[2021-07-30 09:19] AskAlexSharov commented on #2468
`Shouldn't I?` - no real reason, but up to you.

1. Can you also set --datadir for Erigon?
2. No Docker?
3. XDG_DATA_HOME env variable not set?
4. I created branch rpc_daemon_print_path which must print path which using RPCDaemon, can you try this branch? (branch from v 2021.07.05)

[2021-07-30 13:53] TimDaub commented on #2468
updated node.sh:

[code]

when I now run rpc.sh

[code]

it seems to resolve the issue.

No, but I actually appreciate the reproducibility of Docker but I can't wrap my head around it all. Do you recommend using it? It's off-topic, but e.g. for running grafana/prometheus, I didn't see any advice/docs of running them outside of docker.

What is that and should I set it?

I'm happy to still try this

[2021-07-30 14:01] AskAlexSharov commented on #2468
« Docker but I can't wrap my head around it all. Do you recommend using it? » - no, just trying to understand your problem.

“ problem seems to be resolved - do you still want me to do it?” - for now i don’t understand why it resolved. Probably your Erigon now pointing to another folder. But where it were pointed before?

[2021-07-30 14:04] AskAlexSharov commented on #2468
Erigo do support this spec: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

to see env variable can run:
echo $XDG_DATA_HOME

[2021-07-30 14:06] TimDaub commented on #2468
You seem to be right. It started synching again from a very old block.
From my understanding, when not specifying a data dir, it takes `/home/root/.local/share/erigon`, no?

[2021-07-30 14:11] TimDaub commented on #2468
my system's answer
[code]

is there a difference between `--datadir` and `XDG_DATA_HOME` or should they point to the  same path?

[2021-07-30 15:03] AskAlexSharov commented on #2468
no.
--datadir is more important than XDG_DATA_HOME, and XDG_DATA_HOME is more important than default
probably you used default.
then I don't understand why you have initial problem.

[2021-07-30 15:30] #2465 closed

[2021-07-30 15:31] AskAlexSharov commented on #2222
Closing because no activity in issue. Feel free to reopen

[2021-07-30 15:31] #2222 closed

[2021-07-30 15:33] AskAlexSharov commented on #2245
Closing, because can’t reproduce anymore. Feel free to re-open.

[2021-07-30 15:34] #2010 closed

[2021-07-30 15:35] #1605 closed

[2021-07-30 17:17] 1blockologist commented on #2472
That was surprisingly reductive. I was asking if you had a specific plan for this project, imagine if the geth people just said "No magic. Sorry, I don’t want to be involved into abstract discussion - how to solve all problems in the world." when really the last 3-4 years of your life was part of the answer.

The verkle proposal is interesting to think about, thanks. I don't see how ETH2 helps the

[2021-07-30 17:31] AndreaLanfranchi commented on #2472
Yes there are specific plans to further improve syncing speed.
This said the **full archive node** syncing, considering identical hardware with 16GB Ram and good SSD, is -at current figures- around 1 month with geth and less than 7 days on Erigon. This alone is a huge step ahead and states how Erigon can guarantee (at current figures) a longer lifetime of node's hardware.

[2021-07-30 21:52] 1blockologist commented on #2472
Ah, wow didn't realize geth had gotten that ridiculous! I have a 4GHz 8 core CPU being used at 20% for most of the 7/18 state syncing phase. I was wondering if that could be utilized more heavily as well as if there was room to offload some aspect to GPU processor its RAM - ultimately to speed things up. Speed up processing time by a few hundred percent, decreasing time by 75%

[2021-07-30 23:22] tsutsu commented on #2471
Ah, I didn't realize snapshot sync was on its way. It's probably enough. Just to verify:

1. given an Erigon node configured as an archive node, will the snapshots contain all historical state versions?
2. is an Erigon archive node with snapshots enabled, able to efficiently prune its working-state chaindata DB of _all_ data held in the snapshots, such that what's left in the working-state DB beco

[2021-07-31 01:43] AskAlexSharov commented on #2471
@tsutsu
1. Yes - for archive node, no - for pruned node.
2. Yes (pruned mode already does it - for all data except blocks itself - snapshot feature will get it done for blocks)
3. Snapshots - technically are also databases (no difference from chaindata) - and RPCDaemon can access it and shared memory will work same way (OS will manage to keep Hot part of data in RAM - doesn't matter in which DB st

[2021-07-31 01:43] #2471 closed

[2021-07-31 01:47] AskAlexSharov commented on #2472
You can start from: https://www.youtube.com/results?search_query=turbo+geth

[2021-07-31 06:30] AndreaLanfranchi commented on #2472
To be fair geth **is not** ridiculous. Its code base has proven solid and the fact still holds >80% of network nodes share tells something. Besides, though we renamed to Erigon to state our difference, there probably wouldnt' be any Erigon if it wasn't for geth.

Taking advantage of full computation capacity of your hardware would be nice to have: unfortunately the rules of the chain make it eithe

[2021-07-31 09:04] TimDaub commented on #2468
By the way, it seems that my experimenting has somehow destroyed my sync progress. Here's what I've done:

1. Initially I launched the node without a `--datadir` option as outlined in the original post
2. Then upon response in this thread, I launched the node once with `--datadir=/home/root/.local/share/erigon` but it seemed it didn't recognize the directory. It started syncing from scratch.
3. Fi

[2021-07-31 09:45] TimDaub commented on #2468
Thanks to a quick session in Discord, @AskAlexSharov found the problem:

I always had confused `/root/.local/share/erigon` with `/home/root/.local/share/erigon`. This was as I assumed that the root user's directory was also nested in `/home`. For my Ubuntu machine, however, it isn't.

So here's how we ended up fixing the problem:

- Continue to run erigon without `--datadir` option such that it de

[2021-07-31 09:45] #2468 closed

[2021-07-31 11:04] mmgen opened #2476 "Transaction stuck in queue in dev mode"
#### System information

Erigon version: 2021.07.5-alpha

OS & Version: Debian GNU/Linux 10 (buster)

Commit hash: 63a6c45ef1f998f8c74d38d19b6c57835ebdf977

I start the daemon like this:
[code]
And the RPC daemon like this:
[code]
Funds are showing up OK in the dev address:
[code]
[code]
But when I try to send a transaction, the call hangs:

[code]
(Ctrl-C)

Checking the txpool, I see that the tra

[2021-07-31 20:03] 1blockologist commented on #2472
@AndreaLanfranchi  @AskAlexSharov  Thanks. This is something I was just about to come comment about. Regarding future optimizations and youtube videos I'm not sure what I'm looking for, I watched the ETHLondon interview from last October which seems to be the most recent and basically Alex you are saying that you aren't sure if Erigon will lead to more accessibility of running a node or simply lea

[2021-07-31 20:28] AndreaLanfranchi commented on #2472
We went alpha since less than four months and we're growing fast. Give us time. You can't compare us to geth (yet) but is important to note we're the third node in the rank and also thank to gnosis plans about openethereum we expect to grow even more rapidly. Note we're on the market since less than a year and already surpassed other "new" projects like Nethermind

[2021-07-31 20:37] 1blockologist commented on #2472
@AndreaLanfranchi nice, you'll zoom to 15% in no time, and that's before the Geth people take notice.

I have a new question for you then, I've been following Turbo Geth since last year primarily for a better archival node. But the new pruned node is interesting as well.

Geth nodes are primarily fast-synced and use 1/3rd of the space of an Erigon archival node, and this may be their primary use c

[2021-07-31 20:49] AndreaLanfranchi commented on #2472
Attractiveness depends on usage cases. A full archival node can provide data a pruned node cannot. An erigon full archival node stays to a geth pruned node like apples stay to oranges
On the apples to apples side erigon full archive db footprint is 1/7 of geth's
An erigon pruned node is roughly the same DB size as geth's **but** it verifies the state while geth doesn't

[2021-08-01 04:30] AskAlexSharov opened #2478 "cli flag MaxPeersFlag is unused by some reason, need restore"

[2021-08-02 20:23] 1blockologist opened #2482 "Containerizing erigon to sync multiple chains"
I see some sporadic documentation about docker, but has anybody tried using erigon to stay synced with multiple chains on the same machine? The primary issue seems to be the memory consumption as erigon will use all available. Putting in a container may have its own pros and cons such as needing to configure networking for each instance. Maybe another solution would be a flag to limit its memory c

[2021-08-02 22:42] canepat opened #2483 "RPCDaemon gives different eth_gasPrice results compared to Infura/Silkrpc"
#### System information

Erigon version: 2021.08.1-alpha

OS & Version: Linux Ubuntu 20.04.2 LTS

Commit hash : [12982b2](https://github.com/ledgerwatch/erigon/commit/12982b21c148f5b13548420dafd40cab56af56ad)

#### Expected behaviour

Response to `eth_gasPrice` API in Goerli testnet is the same using:
- Infura (used as reference, its client version is Geth v1.10.6)
- RPCDaemon connected to Erigon

[2021-08-03 02:52] AskAlexSharov commented on #2482
Memory consumption: because Erigon rely on OS's PageCache - then OS own most of memory used by Erigon. It means if OS need memory in another place it easily can do - because OS own the memory. Erigon itself using 1Gb.
(we have 1 issue with high RAM consumption by Erigon: https://github.com/ledgerwatch/erigon/pull/2477 - so, set `--blockDownloaderWindow=16384` to minimize RAM usage by Erigon).

Abo

[2021-08-03 02:58] 1blockologist commented on #2482
@AskAlexSharov in the current default settings, it will max out at 64Gb RAM? Like if I had 128Gb it would only occupy 64?

Secondly, is there some utility in setting the flag higher while doing initial sync, and then closing the process and running it again with much lower memory allocation?

[2021-08-03 03:21] AskAlexSharov commented on #2482
Again, 2 parts of memory:
1. Owned by Erigon - in-general must be ~1Gb, but because of our bug with `--blockDownloaderWindow` default now using ~8Gb. If you set `--blockDownloaderWindow=16384` then it must ~1Gb. To limit this mem can reduce: --batchSize, --blockDownloaderWindow flags.
2. Owned by OS - unlimited and it will use all RAM just because Erigon's db>ram, but you still can run 10 Erigon's

[2021-08-03 04:48] #2483 closed

[2021-08-04 19:51] #2476 closed

[2021-08-04 20:16] zzh1996 commented on #2245
[pprof.rpcdaemon.samples.cpu.001.pb.gz](https://github.com/ledgerwatch/erigon/files/6934110/pprof.rpcdaemon.samples.cpu.001.pb.gz)

Version: v2021.07.05
16 Python scripts running. Each CPU% < 3%.
`rpcdaemon` CPU% at ~600% on the 16C/32T Linux machine.
IO% < 1%

logs
[code]

@AskAlexSharov
Please re-open this issue.

[2021-08-05 21:02] annadanchenko opened #2490 "Different results found for rpctest benchTraceCallMany (Erigon vs OpenEthereum)"
#### System information

Erigon version: `./erigon --version` shows "2021.08.2-alpha" but GitTag=v2021.08.01

OS & Version: Ubuntu

Commit hash : dfa2800a6ddf63ef9c7f6284fb6535b0f214736f

#### Expected behaviour

No differences found

#### Actual behaviour

`Different results for method trace_callMany, errCtx block 9000004: different string values at prefix result[75].stateDiff.0xb2930b35844a230f0

[2021-08-06 18:34] alysak6075 opened #2492 "Race Condition in RPCDaemon dual mode?"
#### System information

Erigon version:
 2021.08.1-alpha

OS & Version: Windows/Linux/OSX
CentOS 8
Commit hash :
dfa2800a6ddf63ef9c7f6284fb6535b0f214736f
#### Expected behaviour
trace_transaction and eth_call to return within a reasonable time

#### Actual behaviour
iotop reports full SATA saturation of SSD drive ~225MBps, never returns any results.

./build/bin/rpcdaemon --datadir=/ssd/erigon/al

[2021-08-07 09:08] banteg commented on #2309
Bump

[2021-08-07 09:16] AskAlexSharov commented on #2309
@banteg, yep, need somebody who will implement it (probably copy-paste from geth is enough).

[2021-08-07 18:50] banteg opened #2499 ""unexpected RLP kind: Byte" when broadcasting EIP-1559 txs"
#### System information

Erigon version: 2021.08.1-alpha

OS & Version: Linux

Commit hash :

#### Expected behaviour

Calling `eth_sendRawTransaction` with a valid payload of type 2 transaction should broadcast a transaction.

I successfully sent the same payload via Geth.

#### Actual behaviour

[code]

#### Steps to reproduce the behaviour

1. Create a raw EIP-1559 transaction, e.g. with eth-ac

[2021-08-08 02:56] AskAlexSharov commented on #2499
yes, it doesn't conform (it's well-known thing):
- old: txRlp
- new: rlpString(txType) | txRlp
Here is the fix: https://github.com/ledgerwatch/erigon/pull/2500

[2021-08-08 03:06] AskAlexSharov commented on #2257
fixed by https://github.com/ledgerwatch/erigon/pull/2500

[2021-08-08 03:06] #2257 closed

[2021-08-08 03:13] AskAlexSharov commented on #2492
@alysak6075
- why do you call it "race condition"?
- can you reproduce it? if yes, can you show output after `kill -6`?
- can't reproduce for now

[2021-08-08 04:37] AskAlexSharov commented on #2309
https://github.com/ledgerwatch/erigon/pull/2501

[2021-08-08 04:44] alysak6075 commented on #2492
"why do you call it "race condition"?"
that is what this issue was called in the discord support channel.

"can you reproduce it? "
yes, every time,

"if yes, can you show output after kill -6?"
I decided to resync. After the node is caught up, I will try again, if issue persists I will show the output.

"can't reproduce for now"
neither can anyone else. Archivenode.io also returned the correct re

[2021-08-08 04:55] AskAlexSharov commented on #2236
closing because looks done. feel free to re-open

[2021-08-08 04:55] #2236 closed

[2021-08-08 04:57] #2210 closed

[2021-08-08 04:58] AskAlexSharov commented on #2001
We fixed couple reasons in last releases. Feel free to re-open if it's still happening.

[2021-08-08 04:58] #2001 closed

[2021-08-08 05:01] AskAlexSharov commented on #2444
we fixed couple reasons in last release. feel free to re-open if it's still happening.

[2021-08-08 05:01] #2444 closed

[2021-08-08 05:02] AskAlexSharov commented on #2356
closing because no reply

[2021-08-08 05:02] #2356 closed

[2021-08-08 05:05] AskAlexSharov commented on #2288
closing because looks fixed. feel free to reopen

[2021-08-08 05:05] #2288 closed

[2021-08-08 05:06] AskAlexSharov commented on #2321
closing because look answered. feel free to reopen

[2021-08-08 05:06] #2321 closed

[2021-08-08 15:18] hmajidy2001 commented on #2356
Yes, where is this documented? Does it work?

On Sat, Aug 7, 2021 at 10:02 PM Alex Sharov ***@***.***>
wrote:

[2021-08-08 16:55] AskAlexSharov commented on #2356
erigon —help
When node starts it print node ID to logs.
geth docs are also valid here https://geth.ethereum.org/docs/interface/peer-to-peer

[2021-08-08 17:12] #2499 closed

[2021-08-08 17:24] hmajidy2001 commented on #2356
Thank you kindly, Alex.

On Sun, Aug 8, 2021 at 9:55 AM Alex Sharov ***@***.***> wrote:

[2021-08-09 05:11] andrejpodzimek opened #2506 "`lighthouse` cannot get deposit data from `erigon`"
#### System information

Erigon version: `2021.08.2-alpha`

OS & Version: ArchLinux (up-to-date)

Commit hash: dfa2800a6ddf63ef9c7f6284fb6535b0f214736f

#### Expected behaviour

The `lighthouse` beacon node worked fine with `openethereum`, so I hoped it would work fine with `erigon` as well.

#### Actual behaviour

The `lighthouse` beacon node can’t get deposits from Eth1. I tried to wipe out `lig

[2021-08-09 06:19] AskAlexSharov commented on #2506
@andrejpodzimek , you can add `--verbosity=4` to RPCDaemon - to see all incoming requests from lighthouse.

[2021-08-09 12:15] jackliu10 opened #2507 "erigon panic at windows"
#### System information

Erigon version: `./erigon --version` erigon version 2021.08.2-alpha

OS & Version: Windows

Commit hash :

c:\weup\src\github.com\ledgerwatch\erigon\build\bin>erigon.exe
INFO[08-09|20:10:08] Build info                               git_branch=devel git_tag=v2021.08.01-15-g65a9a265c git_commit=65a9a265c2049b22f9fe78f0f93715ed00a33014
INFO[08-09|20:10:08] Starting Erigon on

[2021-08-09 12:18] jackliu10 commented on #2507
Since July

[2021-08-09 12:22] andrejpodzimek commented on #2506
So I’ve set `--verbosity 4`. For example, for this on the `lighthouse` side…

[code]

…this appears around the same time on the `rpcdaemon` side:

[code]

It’s retried every minute, but to no avail. The `fromBlock` and `toBlock` numbers don’t change.

Earlier there’s a thick cloud of requests where `fromBlock` and `toBlock` _do_ change, but these are only `eth_getLogs` calls (and no `eth_getBlockB

[2021-08-09 16:17] andrejpodzimek commented on #2506
A wild guess: Could this be the problem? `--prune=hrtc`

If so, what should I stop pruning to (1) make the deposit queries from Eth2 work but (2) avoid a huge data size increase?

Whatt would happen if I disabled some of the pruning options? Would a “partial re-sync” of some sort occur or would I have to delete the data directory and sync again? (This is all somewhat hypothetical at this point; I

[2021-08-09 19:51] annadanchenko commented on #2490
on 'devel' branch, commit hash `65a9a265c2049b22f9fe78f0f93715ed00a33014`

#### Actual behaviour

`different results for method trace_callMany, errCtx: block 9000002: different string values at prefix result[5].vmTrace.code: "0x" / "0x608060405234801561001057600080fd5b506101c1806100206000396000f3fe60806040526004361061003b576000357c0100000000000000000000000000000000000000000000000000000000900480639

[2021-08-10 02:37] AskAlexSharov commented on #2506
@andrejpodzimek , i don't know how much data lighthouse will request. In your requests:
[code]
maybe it start from this block, maybe earlier.

In my understanding ProofOfStake works based on Receipts/Logs - this is reason why lighthouse calling eth_getLogs
And likely there is no "fixed" point, but it need logs from last validator set election (or similar event).

We have feature-request to not pru

[2021-08-10 02:40] AskAlexSharov commented on #2506
`h` character in --prune means no far history indices, means can't re-execute historical blocks after this threshold to re-generate receipts.
So, after change your --prune mode, you can update lighthouse and wait, maybe new validator set election will happen. If not, then likely you need re-sync.

[2021-08-10 02:51] AskAlexSharov commented on #2507
@AndreaLanfranchi do you know what is it?

[2021-08-10 08:58] ArchiFleKs opened #2509 "404 not found on metrics port"
#### System information

erigon version 2021.08.1-alpha

Amazon Linux

#### Expected behaviour

Starting erigon with the following args:

[code]
when accessing `localhost:6060/metrics` or `localhost:6060` I expect to get metrics

#### Actual behaviour

`curl localhost:6060` does not return metrics and prometheus failed to scrape

#### Steps to reproduce the behaviour

`curl localhost:6060`

[2021-08-10 10:00] AndreaLanfranchi commented on #2507
I've never seen that.
@jackliu10 can you provide a little more context ?

- are you running with escalated privileges ?
- what if you provide an alternative `--datadir` path ? (eg. `.\erigon.exe --datadir <some-other-path>`)
- which the exact version of Windows you're on ?
- how much free disk space you have on C: ?

Thank you

[2021-08-10 10:10] AskAlexSharov commented on #2509
Historically it’s on this path: https://github.com/ledgerwatch/erigon/blob/devel/cmd/prometheus/prometheus.yml#L8
But I will add to root as well.

[2021-08-10 10:36] andrejpodzimek commented on #2506
Actually, IIUC from #2421, I would need to keep ~2_000_000 receipts to get to the needed “Eth2 genesis” block and, once that block eventually gets pruned, I would then be unable to re-sync `lighthouse` again. So most likely a removal of `r`  is the way to go. I’ll just try that and re-sync; no big deal. Hopefully this won’t cause a data size explosion. That may be some extra data, but if it enable

[2021-08-10 10:41] AskAlexSharov commented on #2506
All receipts are ~300gb.

[2021-08-10 10:46] andrejpodzimek commented on #2506
+300 GB is feasible with my current storage.

[code]

Alright, this^^^ looks promising. Now I hope I needed to remove _either_ `h` _or_ `r`, not both. :grimacing: Or else I’ll have one more full re-sync to do.

[2021-08-10 11:07] jackliu10 commented on #2507
I'm sure it is allowed with administrator rights

Either the default directory or the specified directory will go panic

I have tried multiple versions of windows and it will reproduce
Windows 11 21H2 22000.120   1000.22000.120.0

My free disk space have on C: is 1.9T   (PM9A1 2T PCIE4.0 NVME m.2)

64.0 GB

Physical machine

[2021-08-10 11:10] jackliu10 commented on #2507
This crash has been in the version starting in July, and it may be a problem with the database module

https://github.com/torquem-ch/mdbx-go

<img width="1189" alt="135929dca94555f0e0b2100a5ef4339" src="https://user-images.githubusercontent.com/40690755/128856618-e7bf8950-a04a-4298-aa4f-de72b5ccb9b2.png">
<img width="607" alt="b21df55e435437c4252e5f9fd4fc986" src="https://user-images.githubusercon

[2021-08-10 11:23] AndreaLanfranchi commented on #2507
Yes I agree the issue is on creation of new env (though is not opening the database yet).
Unfortunately I cannot reproduce on my windows machine. Need to investigate

[2021-08-10 11:34] AndreaLanfranchi commented on #2507
Please try this
Build db-tools as
`.\wmake.ps1 db-tools`

Then run this
`.\build\bin\mdbx_test.exe --path <path-to-non-existing-directory> --case basic`

and report output

[2021-08-10 11:53] jackliu10 commented on #2507
should be
‘.\build\bin\mdbx_test.exe --pathname <path-to-non-existing-directory> --case basic’

c:\weup\src\github.com\ledgerwatch\erigon\build\bin>mdbx_test.exe --pathname d:\erigon\erigon --case basic
[ 210810-19:50:25.802577_12924 main       noti ] >>> testcase_setup(basic)
[ 210810-19:50:25.804714_12924 main       noti ] <<< testcase_setup(basic): done
[ 210810-19:50:25.806721_12924 main

[2021-08-10 12:00] jackliu10 commented on #2507
c:\weup\src\github.com\ledgerwatch\erigon\build\bin>mdbx_test.exe --pathname d:\erigon\erigon\chaindata\mdbx.dat -case basic
[ 210810-19:58:52.206218_19444 main       fail ] Unknown option '-case'. Try --help
[ 19444 main       fail ] Unknown option '-case'. Try --help

c:\weup\src\github.com\ledgerwatch\erigon\build\bin>mdbx_test.exe --pathname d:\erigon\erigon\chaindata\mdbx.dat --case basic
[ 2

[2021-08-10 12:20] jackliu10 commented on #2507
I returned the source code back to June 14, 2021 and there was no error

[2021-08-10 12:58] AndreaLanfranchi commented on #2507
May I ask which version of GO are you on ?

[2021-08-10 14:25] ArtemKo7v commented on #2273
Looks like it has already been fixed.
I can not reproduce the bug in Erigon v. 2021.08.1-alpha

[2021-08-10 14:25] #2273 closed

[2021-08-10 14:57] andrejpodzimek commented on #2421
Based on the situation described in #2506, it would be awesome to (also) have an option like `--prune-so-that-eth2-works`, which may become increasingly important in the (near) future. Basically it would tell `erigon` to keep the minimum amount of data that makes deposit queries (and everything related to staking configuration / launchpad steps) work just fine. (Completeness or usefulness of data

[2021-08-10 17:52] jackliu10 commented on #2507
go version go1.16.7 windows/amd64

[2021-08-11 08:05] mdben1247 opened #2510 "Sending Transactions"
In `rpcdaemon` documentation for `eth_sendRawTransaction` there is a note "remote only" suggesting it only works by running `rpcdaemon` remotely without fast shared memory db access. This seems somewhat limiting, why would that be so? Is there any other way to send transactions from shared-db `erigon` node?

https://github.com/ledgerwatch/erigon/blob/devel/cmd/rpcdaemon/README.md

[2021-08-11 08:19] AskAlexSharov commented on #2510
updated docs

[2021-08-11 10:04] AndreaLanfranchi commented on #2507
I definitely cannot reproduce.
Have you had a chance to test it on another machine ?

[2021-08-11 13:23] jackliu10 commented on #2507
I have tried multiple versions of windows and it will reproduce，

[2021-08-11 13:25] jackliu10 commented on #2507
I have tried multiple versions of windows and it will reproduce,

windows 11 amd-5950  and windows 10 i5-8400

<img width="1195" alt="b63e9e4c854482da3be981ed802b0b7" src="https://user-images.githubusercontent.com/40690755/129036793-6b21ea5b-3bb6-4b9c-832a-6888bac4d72e.png">
<img width="913" alt="b3533c6ff823a179b029922a60c45f4" src="https://user-images.githubusercontent.com/40690755/129036866-eb8

[2021-08-11 16:08] sambacha commented on #2309
This can be closed, correct?

[2021-08-11 18:21] #2509 closed

[2021-08-11 21:38] kclowes opened #2514 "eth_feeHistory should take a hexstring for block_count instead of an int"
#### System information

Erigon version: 2021.08.2-alpha

OS & Version: All

#### Expected behaviour

There's been some movement to standardize the parameters for the `block_count` argument for the `eth_feeHistory` RPC method. The spec says that clients should accept a hexstring representation of the block count, but currently Erigon only accepts integers.

See issues: https://github.com/ethereum/

[2021-08-12 06:38] AskAlexSharov commented on #2309
Yep

[2021-08-12 06:38] #2309 closed

[2021-08-12 07:15] gelfand opened #2516 "Unable to shutdown"
#### System information

Erigon version: `2021.08.2-alpha`

OS & Version: `Linux 5.13.9-arch1-1 #1 SMP PREEMPT Sun, 08 Aug 2021 11:25:35 +0000 x86_64 GNU/Linux`

Golang version: `go1.16.7 linux/amd64`

Commit hash: `f78484d141589daf4ebb032ea400ca566c169b07`

#### Expected behaviour

[code]

#### Actual behaviour

[code]

#### Steps to reproduce the behaviour

Try to stop running instance with `^C`

[2021-08-12 08:03] sambacha commented on #2516
For reference on how Go handles Unix-like Signal calls:

SIGINT and Go, ref: pkg.go.dev/os/signal#hdr-Default_behavior_of_signals_in_Go_programs

The SIGINT signal is sent when the user at the controlling terminal presses the interrupt character, which by default is ^C (Control-C). The SIGQUIT signal is sent when the user at the controlling terminal presses the quit character, which by default is

[2021-08-12 11:18] AskAlexSharov commented on #2516
Very likely it's deadlock:
[code]

[2021-08-12 13:27] alysak6075 commented on #2492
After resync same issue, here is the output with kill -6:

`github.com/ledgerwatch/erigon/cmd/rpcdaemon/commands.(*TraceAPIImpl).callManyTransactions(0xc00029d320, 0x133e178, 0xc0031b8fc0, 0x1349828, 0xc0031cbbc0, 0xc003320000, 0x11a, 0x11a, 0xc0031a3eb0, 0x1, ...)
        github.com/ledgerwatch/erigon/cmd/rpcdaemon/commands/trace_filtering.go:433 +0x53a
github.com/ledgerwatch/erigon/cmd/rpcdaemon

[2021-08-12 13:27] alysak6075 commented on #2492
i've also updated go to the latest 1.16.7

[2021-08-12 13:41] alysak6075 commented on #2492
so interestingly:
completely deleting the erigon dir and pulling the new devel branch solves this issue.
I did not edit the code and relied on git to make sure code was properly resolved against the repo.

is running: git checkout v2021-08-01

the incorrect way?

[2021-08-12 13:44] AskAlexSharov commented on #2492
@alysak6075 , you are doing right. you can do `git status` to see if any files are edited in repo.
- about `kill -6` output - is it full output? looks not really full
- Can you also show `gcc --version` plz

[2021-08-12 13:46] alysak6075 commented on #2492
"is it full output? looks not really full" that was all of it.
gcc (GCC) 8.4.1 20200928 (Red Hat 8.4.1-1)

anyways, the devel branch works fine:)

[2021-08-12 13:49] alysak6075 commented on #2492
ah, if you have edited some file locally - then = well crap. I remember that when I was pulling that tag, continues integration was failing (you guys are lightning quick with fixes) so i figured i would pull the tag and then recheckout again when integration was passing. I did do the pull once integration was passed. I suppose git never overroad whatever was in my local dir.

User error strikes ag

[2021-08-12 13:50] alysak6075 commented on #2492
what an idiotic way to waste a week, sigh....

[2021-08-12 16:36] AndreaLanfranchi commented on #2507
Which is your GCC version ?

[2021-08-12 18:08] jackliu10 commented on #2507
gcc version 8.1.0

![image](https://user-images.githubusercontent.com/40690755/129246662-d5cd94e1-828e-4e18-b5d1-f06e3cb2ea8e.png)
Fix a bug of erigon under windows
This log cannot be generated in windows because under windows unless the volume name does not support ":" as part of the file name

[2021-08-12 18:22] AndreaLanfranchi commented on #2507
Don't understand ... that is a formatted string  of current time. What does it has to do with volume names ?

Can you build using the one provided by chocolatey ?
Mine reports this :

[code]

[2021-08-12 18:31] AndreaLanfranchi commented on #2507
Oh I see what you mean. Already removed
https://github.com/ledgerwatch/erigon/blob/devel/common/debug/log_panic.go

[2021-08-12 19:04] jackliu10 commented on #2507
![image](https://user-images.githubusercontent.com/40690755/129253976-32f4ef34-4c5e-4855-b41d-38fc2965d262.png)

[2021-08-12 19:07] jackliu10 commented on #2507
c:\ProgramData\chocolatey\bin>gcc
gcc.exe: fatal error: no input files
compilation terminated.

c:\ProgramData\chocolatey\bin>gcc -v
Using built-in specs.
COLLECT_GCC=c:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin\gcc.exe
COLLECT_LTO_WRAPPER=c:/programdata/chocolatey/lib/mingw/tools/install/mingw64/bin/../libexec/gcc/x86_64-w64-mingw32/10.2.0/lto-wrapper.exe
Target: x86_64-w64-mingw

[2021-08-12 19:17] alysak6075 commented on #2492
Reopening this, issue persists, full kill -6 log:
SIGABRT: abort
PC=0x44c7a7 m=0 sigcode=0

goroutine 0 [idle]:
runtime: unknown pc 0x44c7a7
stack: frame={sp:0x7ffcbdc13a80, fp:0x0} stack=[0x7ffcbd415c88,0x7ffcbdc14cc0)
00007ffcbdc13980:  00002f9d4d29514d  0000000000000000
00007ffcbdc13990:  0066569504298f93  0060f45eba8ad87d
00007ffcbdc139a0:  005bdb5b716541bc  006d574c4b150f5a
00007ffcbdc139b0:

[2021-08-12 19:23] jackliu10 commented on #2507
I'm very sorry, the reason for this error is that the Path environment variables under my windows are in the wrong order. Chocolatey is not placed at the top, making cgo compile an error, which has now been resolved. I'm very sorry for wasting your precious time and energy.

[2021-08-12 20:24] #2507 closed

[2021-08-12 20:25] AndreaLanfranchi commented on #2507
Thank you for trying out erigon.

[2021-08-12 21:20] alysak6075 opened #2520 "Race Condition in RPCDaemon dual mode? with more logs"
System information
Erigon version:
2021.08.1-alpha AND devel

OS & Version: Windows/Linux/OSX
CentOS 8
Commit hash :
dfa2800

Expected behaviour
trace_transaction and eth_call to return within a reasonable time

Actual behaviour
iotop reports full SATA saturation of SSD drive ~225MBps, never returns any results.

./build/bin/rpcdaemon --datadir=/ssd/erigon/all_data --private.api.addr=localhost:909

[2021-08-13 04:36] AskAlexSharov commented on #2507
@AndreaLanfranchi - do you have any idea - how by first error in this issue we can understand reason of error? Can we do something to make it understandable? (like print in logs GCC version, or something similar...)

[2021-08-13 04:37] AskAlexSharov commented on #2507
or print COLLECT_LTO_WRAPPER env variable...

[2021-08-13 04:44] AskAlexSharov commented on #2520
I don't see anything wrong in this logs - just block execution happening (no huge stack, no locks, etc...)
Show pls logs of Erigon.

[2021-08-13 04:55] AskAlexSharov commented on #2520
also show `git status`

[2021-08-13 06:01] AlexeyAkhunov commented on #2516
Ok, I will take a look today

[2021-08-13 08:27] AndreaLanfranchi commented on #2507
@AskAlexSharov maybe we can introduce cgo flag
[code]

Env var COLLECT_LTO_WRAPPER is set when gcc is invoked but then destroyed at exit

[2021-08-13 09:01] culmore2015 opened #2522 "RPC method trace_filter crashed on block 7111822"
#### System information

Erigon version: 2021.08.2-alpha

OS & Version: Ubuntu 20.10

Commit hash : 155186ad3e5d1c08ca947b354a9cd0907fb83308

#### Expected behaviour

[code]

#### Actual behaviour

[code]

#### Steps to reproduce the behaviour

[code]

#### Backtrace

[code]

[2021-08-13 09:09] AlexeyAkhunov commented on #2522
thanks for the report, fixing

[2021-08-13 09:14] culmore2015 commented on #2522
I just resync the block by adding ```--bad.block 7111822``` to sloved the problem. But it will takes another couple of days to sync.

[2021-08-13 09:17] AlexeyAkhunov commented on #2516
Thanks for reporting, fix is coming

[2021-08-13 09:20] AlexeyAkhunov commented on #2522
I don't think you needed to do resync, the problem was just in RPC daemon, regression introduced when I was adding `vmTrace` support this week

[2021-08-13 09:31] culmore2015 commented on #2522
Great help,  thanks !

[2021-08-13 09:52] #2522 closed

[2021-08-13 10:50] AskAlexSharov commented on #2507
@AndreaLanfranchi already can do by:
[code]

[2021-08-13 13:19] tjayrush commented on #1366
I'm going to close this issue. It looks like it's working as it should.

[2021-08-13 13:19] #1366 closed

[2021-08-13 13:21] tjayrush commented on #1221
@mandrigin Should I close this? It's nearly a year old.

[2021-08-13 13:22] tjayrush commented on #1363
Closing due to inaction.

[2021-08-13 13:22] #1363 closed

[2021-08-13 13:27] alysak6075 commented on #2520
these are the relevant logs from erigon:
INFO[08-12|14:38:44] Update current block for the RPC API     from=13012311 to=13012311
INFO[08-12|14:38:44] [1/18 Headers] Waiting for headers...    from=13012311
INFO[08-12|14:38:44] [1/18 Headers] Processed                 highest inserted=13012312 age=5s
INFO[08-12|14:38:45] [7/18 Execution] Completed on            block=13012312
INFO[08-12|14:38:47] [1

[2021-08-13 13:28] alysak6075 commented on #2520
the line:
INFO[08-12|14:39:39] [1/18 Headers] Wrote block headers number=13012313 blk/second=0.000 alloc="306.02 MiB" sys="543.67 MiB"

i think shows when the SSD was saturated at full read and could keep up with demand. Once i kill the curl trace_transaction, it all goes back to normal

[2021-08-13 13:30] tjayrush opened #2526 "RPC: 'count' parameter ignored for trace_filter routine"
#### System information

erigon version 2021.08.3-alpha

OS & Version: Linux

Commit hash :

a6b1795cf9da4a66b88c2c7a2a197af992fdc2d1

#### Expected behaviour

This call

[code]

Should return only a single trace (i.e. count == 1)

#### Actual behaviour

The above call returns two traces.

#### Steps to reproduce the behaviour

Make the above CURL call.

#### Note

I've already fixed this in my lo

[2021-08-13 13:33] tjayrush opened #2527 "RPC: 'after' parameter ignored in trace_filter routine"
#### System information

erigon version 2021.08.3-alpha

OS & Version: Linux

Commit hash :

a6b1795cf9da4a66b88c2c7a2a197af992fdc2d1

#### Expected behaviour

This call

[code]

Should return only the second trace of the transaction (it should only start returning traces after having seen '1')

#### Actual behaviour

The above call returns both the first and second trace (it ignores 'after')

###

[2021-08-13 14:10] AskAlexSharov commented on #1221
If it’s not causing any software incompatibility issues - then pet’s close it.

[2021-08-13 17:35] gelfand commented on #2516
Thanks.
Also after `git pull` I got this error after about two hours running on Ropsten
[code]
then decided to increase `MapSize` in `p2p/enode/nodedb.go` from `MapSize(64 * datasize.MB)` to `MapSize(128 * datasize.MB)` and now it seems working flawlessly.

[2021-08-13 18:13] #1221 closed

[2021-08-13 20:00] gelfand commented on #2516
Not seeing this on Mainnet, not sure but the reason could be that I was actively communicating with RPC using websockets in my specific case, so closing.

[2021-08-13 20:00] #2516 closed

[2021-08-14 02:47] #2463 closed

[2021-08-14 04:53] AskAlexSharov commented on #2516
@gelfand can you try git pull one more time. I think https://github.com/ledgerwatch/erigon/pull/2524 fixes the problem

[2021-08-14 04:54] AskAlexSharov commented on #2516
If not, then just delete `/root/.erigon/ropsten/nodes/eth6*` folders and we will investigate the problem

[2021-08-15 19:27] andrejpodzimek commented on #2506
So it seems to be working with `--prune=htc` instead of `--prune=hrtc`. `lighthouse` is syncing and doesn’t complain about anything now.

But the size increase … oh, the size increase. It would be awesome to have some sort of safe pruning, as #2421 suggests.

Another idea: Maybe I could switch `r` pruning in `erigon` **on** again once `lighthouse` gets in sync. (?) What I don’t entirely understand

[2021-08-16 03:03] changwilling commented on #2468
I also make a mistake when i run './build/bin/rpcdaemon --datadir=/data1/erigon' . The '-datadir' should be the same as when you run './build/bin/erigon --datadir=/data1/erigon' .

[2021-08-16 04:26] AskAlexSharov commented on #2506
About `integration set_prune --prune=hrtc ...` - I advise do not use much integration tool unless you really know what you are doing. For example even if you enable prune now - it will delete receipts just fine - but db will not get smaller, it only will stop growth for long time. And maybe - but very unlikely - will shrink a bit in far future. It's nature of LMDB/MDBX databases.

Another option -

[2021-08-16 19:56] wjmelements opened #2538 "Geth: Checkpoint challenge timed out"
Running geth v1.10.6, when peering often get "Checkpoint challenged timed out, dropping", but only for erigon peers, so I suspect the issue is on the erigon side. Some of these erigon versions seem recent. Impact is that we drop erigon peers.

Seems to impact Erigon versions v2021.07.5 to v2021.08.2.

[code]

[2021-08-17 01:05] AskAlexSharov commented on #2538
Do you have logs of Erigon at same time?
By what way was Geth synced?

[2021-08-17 04:24] wjmelements commented on #2538
No, sorry.

`--syncmode=full` from 1-3 minutes behind.

[2021-08-17 04:34] wjmelements commented on #2538
Longer-term, the main danger could be network partitioning, though I'm not sure the scope of the issue.

The "Checkpoint challenge" seems to be `RequestHeadersByNumber`. The packet for that changed in ETH66 to include the request ID.

[2021-08-17 12:36] banteg opened #2540 "Batch JSON RPC requests are returned out of order"
#### System information

Erigon version: erigon version 2021.08.2-alpha

OS & Version: Linux

Commit hash : 155186ad3e5d1c08ca947b354a9cd0907fb83308

#### Expected behaviour

When I do a synchronous batch JSON RPC request with ids going `0, 1, 2, 3, 4, …`, it would make sense if the responses came back in the same order. It's not enforced by [the spec](https://www.jsonrpc.org/specification#batch),

[2021-08-17 13:52] MysticRyuujin opened #2542 "error decoding pooledTransactions66"
#### System information

Erigon version: `2021.08.2-alpha`

OS & Version: Linux

Commit hash :

#### Expected behaviour
Stay in sync

#### Actual behaviour
Node doesn't stay in sync, keeps getting this error at stage 1

Error:
[code]

#### Steps to reproduce the behaviour
I'm not sure, guessing have a bad OpenEthereum peer?

[2021-08-17 14:09] AskAlexSharov commented on #2542
this error happening outside of staging loop

[2021-08-17 14:15] MysticRyuujin commented on #2542
Ok well, my nodes don't stay in sync, and this is the only error I've got to go off.

[2021-08-17 14:15] MysticRyuujin commented on #2542
Shit I didn't mean to close that

[2021-08-17 17:54] floatcoder commented on #2540
We've also been experiencing this along with POKT Network over the past few days. [web3.js#4250](https://github.com/ChainSafe/web3.js/issues/4250) assumes that a batch response is given in order when parsing.

[2021-08-17 18:27] tjayrush commented on #2540
Sorting should be optional.

By forcing a sort on the server side, you're eliminating the benefit of parallelism. If the calling code also wants to process the returned values in parallel (because each block is independent for example), the benefit disappears if it has to wait while the server sorts. Not to mention sorting means the server must accumulate all the data which puts unnecessary memory

[2021-08-18 00:03] MysticRyuujin opened #2545 "mdbx_txn_commit_ex: MDBX_MAP_FULL: Environment mapsize limit reached"
#### System information

Erigon version: `2021.08.2-alpha`

OS & Version: Linux

Not sure what this error means but after the error occurred the first time I stopped getting `Update current block for the RPC API` and it seems like it just never commits anything after.

Error:
[code]

[2021-08-18 02:09] MysticRyuujin commented on #2506
I'm fairly certain that the calls are for eth_getLogs so that it can see deposits from the eth1 chain. And since you already got the logs, it should be fine to prune them so long as you're never offline longer than the prune threshold for those logs.

[2021-08-18 03:48] AskAlexSharov commented on #2545
I think this one fixing: https://github.com/ledgerwatch/erigon/pull/2524

[2021-08-18 03:49] AskAlexSharov commented on #2545
Your db is 2TB?

[2021-08-18 03:54] AskAlexSharov commented on #2540
Fix: https://github.com/ledgerwatch/erigon/pull/2541

[2021-08-18 08:37] mdben1247 opened #2549 "Missing 'baseFeePerGas' in Block Headers"
#### System information
Erigon version: 2021.08.2-alpha
OS & Version: Linux

#### Expected behaviour
When doing `eth_subscribe` with `newHeads`, block headers should include `baseFeePerGas`. At least OE seems to work that way, see:
https://github.com/openethereum/openethereum/blob/5d9ff63043bb5986a8045935f1a25e2bfa6239fd/crates/rpc/src/v1/types/block.rs#L134

#### Actual behaviour
Field `baseFeePe

[2021-08-18 08:58] AskAlexSharov commented on #2549
fix is likely here https://github.com/ledgerwatch/erigon/pull/2550
but didn't test much yet

[2021-08-18 09:24] mdben1247 commented on #2549
yes, it works with the fix provided

[2021-08-18 09:26] #2549 closed

[2021-08-18 10:44] alexlee85 opened #2551 "stuck on block 13048088"
#### System information
[code]

OS & Version: Linux

Commit hash :
[code]
#### Expected behaviour
block should keep on going ....

#### Actual behaviour
stuck on block 13048088

### Logs
[code]

[2021-08-18 10:50] alexlee85 commented on #2551
problem resolved after restart....

[2021-08-18 10:50] #2551 closed

[2021-08-18 11:27] mdben1247 commented on #2540
Out-of-order breaks `rust-web3` implementation as well.

The specs does not specify the order, but it does specify "The Server should respond ... after all of the batch Request objects have been processed". So regardless of the order, there is no gain to be had here from parallelism, as everything is returned in a single message anyway. In practice, if results are independent, it makes sense to ju

[2021-08-18 12:27] MysticRyuujin commented on #2545
Yes it is! I didn't even notice hah

[2021-08-18 12:34] AskAlexSharov commented on #2545
Uff… it means some read transaction stuck, but I don’t know where. Maybe related with https://github.com/ledgerwatch/erigon/issues/2538

[2021-08-18 14:15] quickchase commented on #2545
Should I nuke it?

[2021-08-18 14:16] MysticRyuujin commented on #2545
Should I nuke it?

[2021-08-18 14:39] AskAlexSharov commented on #2545
Db itself will not help us debug this problem. Can nuke if you need.

[2021-08-18 16:22] alysak6075 commented on #2520
Resynced and running v2021.07.05 and everything works perfectly.

Any other info i can provide to debug this issue?

[2021-08-18 20:42] annadanchenko commented on #2490
1. no issues if run rpctest with `./build/bin/rpctest benchTraceCallMany --erigonUrl http://localhost:8547 --gethUrl http://localhost:9546 --needCompare --blockFrom 9000000 --blockTo 9000006 --recordFile req_oe_benchTraceCallMany2.txt --errorFile err_oe_benchTraceCallMany2.txt`

2. There is new issue `Different results for method trace_callMany, errCtx block 9000010: arrays have different length a

[2021-08-19 01:24] AskAlexSharov commented on #2540
@mdben1247 , @floatcoder - there is corner case - notification requests have no response (nil responses do not return to client:
https://github.com/ethereum/go-ethereum/blob/master/rpc/handler.go#L119
https://github.com/ethereum/go-ethereum/blob/master/rpc/testdata/reqresp-batch.js#L3

It means if some notification request will be in the middle of batch then geth will return shifted results - mean

[2021-08-19 02:18] AskAlexSharov commented on #2520
nope, unfortunately can't reproduce

[2021-08-19 02:26] AskAlexSharov commented on #2540
fixed

[2021-08-19 02:26] #2540 closed

[2021-08-19 02:29] alysak6075 commented on #2520
I believe you, but this is some voodoo magic, I'm not modifying the code in any way, same with the db, and yet the curl command completely grinds it to a halt.

[2021-08-19 07:05] andrejpodzimek commented on #2506
Yes, it works. I had a Btrfs snapshot with `--prune=hrtc`, so I snapshotted the `htc` version, restored the `hrtc` one, waited for it to re-sync again, started `lighthouse` again and … it works. The data size is _way_ smaller and `lighthouse` is in sync. I wouldn’t be able to sync `lighthouse` from scratch in this configuration, but at least now I know how to get there if need be.

[2021-08-19 07:05] #2506 closed

[2021-08-19 07:32] andrejpodzimek opened #2552 "The documentation should warn about the `autodefrag` option on Btrfs"
# Rationale

This is a documentation “feature” request. It has nothing to do with the implementation.

**`erigon`’s write rates on Btrfs are ~200&times; higher with `autodefrag` than without it.**

I learned this the hard way when I found out that 15% (!) of my SSDs’ lifespan was consumed in just a few days, due to ~300 TB of writes altogether.

The write rate had been exceeding 300 MB/s the whole

[2021-08-19 08:11] AskAlexSharov commented on #2552
is it https://github.com/ledgerwatch/erigon/pull/2554 ?

[2021-08-19 10:50] mdben1247 opened #2556 "Documentation for trace_replayTransaction"
Documentation says `trace_replayTransaction` only works with `stateDiff`, but my tests show it also works with `trace` parameter. Are there some issues with that or maybe documentation needs an update?

Thanks for all your work on Erigon.

[2021-08-19 11:23] mdben1247 opened #2557 "Missing raw tx data in tx object returned by eth_getTransactionByHash"
#### System information
erigon version 2021.08.3-alpha
OS & Version: Linux
Commit hash : e7574a6d14a64c5af58574d909b8c6a014bd2daf

#### Expected behaviour
Transaction object returned by `eth_getTransactionByHash` should include raw transaction data (field `raw`). Not sure if this is really part of the specification, but OE includes the raw transaction data for both pending and mined txs. See here,

[2021-08-19 14:33] AskAlexSharov commented on #2557
@mdben1247 what flags you run Erigon with?

[2021-08-19 14:34] AskAlexSharov commented on #2556
@AlexeyAkhunov ?

[2021-08-20 05:43] mdben1247 commented on #2557
The only one that seems relevant to the issue is: `--prune=hc`. Other flags are `datadir`, `port`, `p2p.eth65.port` and `txpool.locals`.

[2021-08-20 09:09] canepat opened #2559 "RPCDaemon passes zero gasPrice to eth_call EVM execution"
#### System information

Erigon version: 2021.08.4-alpha

OS & Version: Linux Ubuntu 20.04.2 LTS

Commit hash : [0a887fd](https://github.com/ledgerwatch/erigon/commit/0a887fdb63d8760f0ec24bba890618dbf5ac4e76)

#### Expected behaviour
Response to eth_call API in Goerli testnet is the same using:

Infura (used as reference, its client version is Geth v1.10.6)
RPCDaemon connected to Erigon Core
Silkr

[2021-08-20 09:51] #2559 closed

[2021-08-20 10:38] AskAlexSharov commented on #2538
@wjmelements , hi. Help me to check if https://github.com/ledgerwatch/erigon/pull/2558 fixing this issue

[2021-08-20 11:34] mdben1247 commented on #2557
It looks this was OE specific, I can't find `raw` field in any other specification (what counts as 'official' eth_ spec, anyway?). Also, `eth_getTransactionByHash` provides all the information to calculate raw data, it's just a bit less convenient.

[2021-08-20 12:57] #2514 closed

[2021-08-20 13:00] AskAlexSharov commented on #2557
'offitial' is here: https://github.com/ethereum/execution-specs/blob/master/json-rpc/spec.json
But it's ok to support some OpenEthereum features if they are useful.
There is also method: eth_getRawTransactionByHash, probably also not very convenient? @mdben1247

[2021-08-20 17:51] jackliu10 opened #2561 "Execution failed"
#### System information

Erigon version: `./erigon --version`
erigon version 2021.08.3-alpha

OS & Version: Windows Microsoft Windows [版本 10.0.22000.160]
and Mac os

Three mistakes at different times

<img width="1037" alt="7f8a230399a714d32db0e91829807db" src="https://user-images.githubusercontent.com/40690755/130273716-bf104c85-ea84-439d-b667-58ea10fbc6ea.png">

<img width="1073" alt="a0ce40ea52

[2021-08-21 06:01] AskAlexSharov commented on #2561
Hi.
Will try to reproduce today...
What is your FileSystem and Disk?

[2021-08-21 08:41] AskAlexSharov commented on #2561
can't reproduce - something wrong with your setup.
maybe you did something special? special erigon flags?
what is `trace trap`? why do you need it?

[2021-08-21 09:56] mdben1247 commented on #2557
:) I really didn't know about that one, I wouldn't have bothered you if I did. I usually refer to https://openethereum.github.io/JSONRPC-eth-module and the method isn't listed there.

I guess we can close this. No sense in implementing `raw` field, if there's a separate method to get that.

[2021-08-21 09:56] #2557 closed

[2021-08-23 07:36] egorFiNE opened #2569 "Storage requirement 2.5x larger than geth?"
Seems like erigon takes about 2.5 times more disk space than geth.

This is how I run erigon and geth:

`./erigon/build/bin/erigon --datadir /mnt/erigon/ropsten --chain ropsten --prune=hrtc`

`geth --datadir /mnt/geth/ropsten --ropsten --http --http.api <...>`

And this is the disk space occupied:

[code]

The same story goes about goerli:

[code]

Am I doing something wrong?

[2021-08-23 08:16] AskAlexSharov commented on #2569
You need add —gcmode=archive to geth https://geth.ethereum.org/docs/interface/command-line-options
Erigon is archive by default

[2021-08-23 08:17] egorFiNE commented on #2569
@AskAlexSharov thank you.

Can I switch an existing erigon node to non-archive?

[2021-08-23 08:21] jomuel commented on #2542
The problem was on OpenEthereum's side.

[2021-08-23 08:21] AskAlexSharov commented on #2569
See —prune flag docs

[2021-08-23 08:29] egorFiNE commented on #2569
@AskAlexSharov I am running with `--prune=hrtc`.  I have now added `--prune.h.older=10 --prune.r.older=10 --prune.t.older=10 --prune.c.older=10` but erigon says:

[code]

Is it not possible to prune an existing node?

[2021-08-23 08:41] AskAlexSharov commented on #2542
@jomuel hi, thank for notice.

[2021-08-23 08:41] #2542 closed

[2021-08-23 08:42] AskAlexSharov commented on #2569
@egorFiNE , nope. we don't allow to change prune flag on the fly - to easy to delete half of db by human mistake.

[2021-08-23 08:43] wmitsuda opened #2570 "Lots of "mdbx_cursor_put: operation not permitted" log warnings"
I started seeing lots of these after migrating to v2021.08.03:

[code]

[2021-08-23 08:49] AskAlexSharov commented on #2570
pls: `du -h <datadir>`

[2021-08-23 08:57] egorFiNE commented on #2569
@AskAlexSharov fair enough.

I see I can just comment out that verifying condition code. Do you by any change know if commenting out will make old blocks disappear? Judging by a quick test it doesn't seem to free up space.

[2021-08-23 09:41] AskAlexSharov commented on #2569
pruned node contains all blocks.
"it doesn't seem to free up space" - yes, this is reason why it prohibited :-) re-sync pls

[2021-08-23 09:55] egorFiNE commented on #2569
@AskAlexSharov thank you for your explanation! :-) Re-syncing now

[2021-08-23 09:55] #2569 closed

[2021-08-23 11:51] alexlee85 opened #2571 "trace_block report error on block 146675"
#### System information

Erigon version:
[code]

OS & Version: Windows/Linux/OSX

Commit hash :
[code]

#### Expected behaviour
get block trace result

#### Actual behaviour
report error:
[code]

#### Steps to reproduce the behaviour
[code]

#### Backtrace

[code]

[2021-08-23 12:09] AskAlexSharov commented on #2571
Do you use —prune flag?

[2021-08-23 12:10] alexlee85 commented on #2571
no, my start cmd is:
[code]

[2021-08-23 12:18] alexlee85 commented on #2571
after upgrade to v2021.08.03 problem resolved.

[2021-08-23 12:18] #2571 closed

[2021-08-23 17:05] wmitsuda commented on #2570
(after restarting last night I didn't see those warnings anymore up until now)

[code]

[2021-08-24 12:25] paulmillr opened #2577 "Syncing after stop takes too much time"
#### System information

Erigon version: 2021.08.04
OS & Version: Ubuntu 20.04

#### Steps

I've stopped syncing for `from=13087827 to=13087883`, which is 60 blocks / 15 minutes. Then i've upgraded from `07.01` to `08.04` and started erigon again.

It took 25 minutes to sync 15 minutes worth of blocks. I've heard Erigon targets 100M gas limit in the future, but it clearly won't work with current s

[2021-08-24 13:23] mandrigin commented on #2577
I see that some of the sync (starting from stage 11) was from the block 13087651 and not from 13087827, so 232 blocks and not 56, but sure stuff could be improved there of course.

Which disk are you using?

[2021-08-24 13:45] AskAlexSharov commented on #2577
Erigon rely on OS’s PageCache. PageCache can survive Erigons reboot or kill -9. But can’t survive machine reboot, long downtime or if other process required much RAM (and evicted all PageCache as a result).

It takes 15min on average SSD to warmup (we don’t have any special warmup code yet, Erigon just getting faster with time).

I believe your second cycle had better performance than first. Right

[2021-08-24 14:22] #2520 closed

[2021-08-24 16:21] paulmillr commented on #2577
@mandrigin nvme, speed is 0.5-1 gbyte/sec.

actually something weird is happening. Take a look at this log from the last two hours https://gist.github.com/paulmillr/54687881de4e95266c2f81ed41e3e75b

Seems like erigon is "pausing" execution for some time, then resumes it and processes many blocks at once, which takes a lot of time. And it is still pretty slow.

There have been no reboots since the

[2021-08-24 16:24] paulmillr commented on #2577
I'm seeing in disk stats that in this phase 11 erigon is reading the nvme disk at full capacity.

[2021-08-24 21:07] wmitsuda commented on #2570
I left it running since yesterday on my laptop, I just noticed a few minutes ago that it started to log again:

[code]

and a restart made it go away again.

Let me know if there is something you want me to run next time it happens.

[2021-08-25 01:37] AskAlexSharov commented on #2577
@paulmillr do you run RPCDaemon? If yes - show CLI flags of erigon and RPCDaemon

[2021-08-25 01:39] AskAlexSharov commented on #2570
I know the reason - we have hard limit for nodes db - 64Mb and you touched it.
I will just increase limit. It's ok.

[2021-08-25 01:42] AskAlexSharov commented on #2570
https://github.com/ledgerwatch/erigon/pull/2579

[2021-08-25 02:05] AskAlexSharov commented on #2577
`"pausing" execution` - sorry, I can't find it in log can you point me?
If you still has issue, can you try branch `mdbx_v0.10.1` please. thank you.

[2021-08-25 13:00] AskAlexSharov commented on #2577
@paulmillr I fixed on performance regression in latest devel. Feel free to try.

[2021-08-25 13:43] vbaranov opened #2581 "Inconsistency in the response of `trace_block` for Genesis block comparing with OpenEthereum and Nethermind"
#### System information

Erigon version: `erigon/2021.08.5/linux-amd64/go1.16.6`

OS & Version: Linux

#### Expected behaviour

My expectations are based on the response of OpenEthereum, Nethermind nodes. They respond with an empty trace for Genesis block:

[code]

*Note*: I have no Geth with tracing enabled to check the same response there.

#### Actual behaviour

[code]

#### Steps to reproduce

[2021-08-25 14:51] AskAlexSharov commented on #2492
fixed

[2021-08-25 14:51] #2492 closed

[2021-08-26 16:54] thedarkjester opened #2585 "Is this something I can fix?"
I don't know if this is a bug or if my config is weird.

: [WARN] [08-26|16:38:09.106] p2p node database update failed          path=/mnt/ssd/ethereum/nodes/eth66 err="mdbx_cursor_del: MDBX_MAP_FULL: Environment mapsize limit reached"

I am on a pi4 8gb with a 2tb ssd 85% full

Was fine previously.

erigon version 2021.08.4-alpha

[2021-08-26 20:37] #2585 closed, assigned to nobody

[2021-08-27 07:31] Uttam-Singhh opened #2588 "Unable to find any doc to run local devnet using Erigon"
I want to run Erigon on my local devnet but I am unable to find any documents or any steps to do so??
I am a beginner please let me know if there is any document or article.

Here is an example of running local devnet using Geth - https://medium.com/datawallet-blog/how-to-deploy-a-local-private-ethereum-blockchain-c2b497f068f4
I really want any article like this for Erigon too.

Also, the discord

[2021-08-28 02:10] AskAlexSharov commented on #2538
@wjmelements
If you willing - you can:
- start our Grafana board - and show us metrics of `erigon/v2021.09.1` run.
- also you can show us logs of `erigon/v2021.09.1` (and confirm one more time that you don't run RPCDaemon?)

Just we don't have other reports about this problem and everybody tell us - #2558 solved their performance issues.

Anyway with current amount of information - we can't do any

[2021-08-28 21:59] mikeshultz opened #2591 "Memory exhaustion during CallTraces Prune"
#### System information

Erigon version: `erigon version 2021.08.5-alpha`

OS & Version: `Linux eth 5.13.12-arch1-1 #1 SMP PREEMPT Wed, 18 Aug 2021 20:49:03 +0000 x86_64 GNU/Linux`

Commit hash : f3021dd2afdb41f95e9f6b243fad9420a79ab968

System memory:

                   total        used        free      shared  buff/cache   available
    Mem:           15900         260       15042           0

[2021-08-29 01:54] AskAlexSharov commented on #2591
It must not prune so much (it must just not to write most of data during initial sync). I will take a look

[2021-08-29 02:01] mikeshultz commented on #2591
If context helps, I haven't yet gotten the initial sync due to some other memory exhaustion issues (e.g. #2160).  Installed a bit more RAM and restarted the process, got a little farther, and now I'm in this state.

[2021-08-29 02:02] AskAlexSharov commented on #2591
plz sow: `./build/bin/integration print_stages --datadir=<datadir>`

[2021-08-29 02:11] mikeshultz commented on #2591
$ ./build/bin/integration print_stages --datadir=/data/ethereum/erigon/
    Note: prune_at doesn't mean 'all data before were deleted' - it just mean stage.Prune function were run to this block. Because 1 stage may prune multiple data types to different prune distance.

                 stage_at    prune_at
    Headers          13115973    0
    BlockHashes          13115973    0
    Bodies

[2021-08-29 02:32] AskAlexSharov commented on #2591
here is the fix: https://github.com/ledgerwatch/erigon/pull/2592

[2021-08-29 11:25] Uttam-Singhh commented on #2588
So there is no other way to start a stand-alone chain?? @AskAlexSharov @mmgen

[2021-08-29 13:39] mmgen commented on #2588
As far as I know, no.

[2021-08-29 15:22] mikeshultz commented on #2591
After compiling with the branch for PR #2492 I was able to complete syncing.  Here's another run of that integration tool:

    Note: prune_at doesn't mean 'all data before were deleted' - it just mean stage.Prune function were run to this block. Because 1 stage may prune multiple data types to different prune distance.

                 stage_at    prune_at
    Headers          13121078    0

[2021-08-30 02:00] jsvisa opened #2595 "Failed to sync new blocks, hangs on `Wrote block headers`"
#### System information

Erigon version: `./erigon --version`

[code]

OS & Version: Windows/Linux/OSX

[code]

Commit hash :

#### Expected behaviour

Continuous synchronization

#### Actual behaviour

Hangs on `Wrote block headers`:

[code]

After restart the erigon process, the syncing resumed.

#### Steps to reproduce the behaviour

#### Backtrace

[code]

[2021-08-30 06:36] AskAlexSharov commented on #2595
https://twitter.com/erigoneth/status/1431275948352098313?s=21

[2021-08-30 06:41] #2591 closed

[2021-08-30 07:11] Uttam-Singhh commented on #2588
@AskAlexSharov I'd love to work on this functionality to init a custom chain with its own genesis or bring back the functionality if it was already there!
Should I create a new issue??
and also I would be really grateful if someone can guide me more on this!

[2021-08-30 07:42] AskAlexSharov commented on #2588
Sure.

I advise you start from re-introducing `geth init` to setup custom genesis block.
We have general ticket: https://github.com/ledgerwatch/erigon/issues/2030 (if you don't need `geth import` it's fine).
You can get source code of `geth import` - I expect that amount of required changes will not be very big.
Feel free to do it in multiple PR's - do as comfortable or as make sense.

We have onl

[2021-08-30 08:16] Uttam-Singhh commented on #2588
Thanks for your reply!
I don't need `geth import`. I just want to run a stand alone chain(local devnet).
Also as you advised, how can I start implementing  `geth init`, what are the changes that has to done?
Do I need to do changes in Config.go file under params ? please provide a reference if possible!

[2021-08-30 08:49] mmgen commented on #2588
Parity, for example, has a single hard-coded faucet address and private key for devnet. Would such an approach be acceptable?

[2021-08-30 09:06] Uttam-Singhh commented on #2588
Yeah Clique works for me too!

[2021-08-30 09:38] AskAlexSharov commented on #2588
`what are the changes that has to done?` - I don't know - but I'm sure that part of code is not supper different from geth.

[2021-08-30 09:41] Uttam-Singhh commented on #2588
oh okay!😶
@mmgen Do you have any Idea??

[2021-08-30 12:17] mmgen commented on #2588
I'm not that familiar with the code, nor am I a Go programmer, but for starters you might look at `DeveloperGenesisBlock()` in `core/genesis.go`.

[2021-08-30 15:12] mdben1247 opened #2598 "rpcdaemon crashing when built with go 1.17"
#### System information

Erigon version: 2021.08.5-alpha

OS & Version: Linux

Commit hash : b1fef26767f2635da6816f0dc07acd3f3fa1e935

#### Steps to reproduce the behaviour
I suspect the crashes happen during the execution of a batch call, querying the chain state after a new block is received. I had two such crashes now, both happened in a few hours after upgrading to 2021.08.05. Previous version

[2021-08-30 16:34] mdben1247 commented on #2598
I downgraded back to v2021.08.04 and I am still having the same rpcdaemon crashes. Not sure why this started happening today after the upgrade. I've been running erigon for more than a week and haven't had these crashes.

[2021-08-30 18:36] jennyhys opened #2599 "Add types for prometheus metrics"
Currently, we've configured our node to send prometheus metrics to Datadog. Due to an absence of a TYPE(i.e. `gauge`) for these metrics, these untyped metrics are ignored by default and it requires a manual cast of metrics in the `Datadog config` file to get the metric successfully sent to Datadog. Can the team specify the type for these prometheus metrics in the code?

[code]

[2021-08-31 00:46] AskAlexSharov commented on #2599
Ok

[2021-08-31 04:48] AskAlexSharov commented on #2598
What is your go version?

[2021-08-31 05:15] AskAlexSharov commented on #2598
error says `bad use of unsafe.Pointer? try -d=checkptr`. can you build rpcdaemon this way:
[code]
and then run as you usually do and show how it goes

[2021-08-31 05:25] AskAlexSharov commented on #2598
what cli flags you use to run rpcdaemon?

[2021-08-31 08:47] jsvisa commented on #2595
@AskAlexSharov Thanks for your advice, this issue still exist after the upgrade to 20210805.

[code]

[2021-08-31 13:12] vdo commented on #1349
Can we get a rough estimation on the complexity of implementing this ?

[2021-08-31 13:12] jennyhys commented on #2599
@AskAlexSharov Appreciate that.

[2021-08-31 14:39] AskAlexSharov commented on #2599
sorry, but i don't understand this format
https://github.com/DataDog/integrations-core/blob/master/prometheus/datadog_checks/prometheus/data/conf.yaml.example
we don't have conf.yaml file, also I don't understand what prometheus_url field must contain.
we now just hardcoded some convenient list of instances (but there are many of them... not 1 as in example file): https://github.com/ledgerwatch/er

[2021-08-31 14:44] quickchase opened #2604 "Support for Logs Subscription"
# Rationale

Why should this feature exist?
All other clients support it 🙂

What are the use-cases?
To subscribe to new logs and events

# Implementation

Do you have ideas regarding the implementation of this feature?
https://geth.ethereum.org/docs/rpc/pubsub - Logs

Are you willing to implement this feature?
🙁

[2021-08-31 15:50] mdben1247 commented on #2598
Thanks for looking into it. I tried building rpcdaemon this way, here is the backtrace from recent crash.
[backtrace2.txt](https://github.com/ledgerwatch/erigon/files/7085189/backtrace2.txt)

I am on v2021.08.04 now.

`go version `gives `go1.17 linux/amd64`

Flags: `--datadir=... --http.port=... --http.api=eth,web3,erigon,net,trace --ws`

[2021-08-31 16:02] AlexeyAkhunov opened #2605 "Change flag `--bad.block` to flag `bad.hash` to exclude block by hash and not by number"
# Rationale

To be more flexible when dealing with minority forks, while majority forks are invalid (like recent situation on Ropsten)

# Implementation

Option `bad.block` is declared here: https://github.com/ledgerwatch/erigon/blob/143a0d023192290df55eab5c99b7bd30cd2a1435/turbo/cli/flags.go#L153

It looks up specified block number as the one to avoid. The problem is that block number may mean di

[2021-08-31 19:07] mdben1247 commented on #2598
I noticed previously attached trace (backtrace2.txt) still says `bad use of unsafe.Pointer? try -d=checkptr`.

I rebuilt the executable again. I am attaching trace from another crash. This one now seems to have more info.
[backtrace3.txt](https://github.com/ledgerwatch/erigon/files/7086255/backtrace3.txt)

[2021-09-01 06:48] AskAlexSharov commented on #2598
“  Not sure why this started happening today after the upgrade” maybe you was on go 1.16.*

i will dive into backtrace3 today. Not clear yet.

[2021-09-01 07:32] Uttam-Singhh commented on #2476
@mmgen Why did you closed the issue?
Did you find any solution?

[2021-09-01 08:10] mdben1247 commented on #2598
You may be on to something, I checked installation logs and  I was  on go 1.16 until recently. I'll try downgrading to 1.16 and see if that helps.

[2021-09-01 08:53] AskAlexSharov commented on #2598
Would be great if you can add 2 more build flags and get one more logs (race detector may write to logs before crush) or trace:
`GODEBUG=cgocheck=2 go build -race -gcflags=all=-d=checkptr -o ./build/bin/rpcdaemon ./cmd/rpcdaemon`
because I can't reproduce yet.

[2021-09-01 09:08] AskAlexSharov commented on #2598
One (probably) non-related thing: I advise you go to 2021.08.05-alpha (because 08.04 has known problem when using --datadir option of rpcdaemon - there happening big performance regression - it start eating too much Disk - some people experienced 100x degradation). But unlikely it's reason of crush.

[2021-09-01 11:58] 3mg commented on #2226
Hi ! I'll take this issue, please do not assign it.

[2021-09-01 12:24] YordanPavlov commented on #2595
I seem to be facing a similar issue, I also upgraded to:
`image: thorax/erigon:v2021.08.05`
The log consists mostly of the following WARNs:
[code]

[2021-09-01 13:02] Cript commented on #2478
Hi. I'll take this issue.

[2021-09-01 14:04] e-danko commented on #2371
Hello ! I'll take this issue, please do not assign it.

[2021-09-01 15:12] fedecastelli opened #2610 "I can't synchronize new ETH blocks after the update."
#### System information

Erigon version: `2021.09.1-alpha` (it doesn't match with the release version on GitHub)

OS & Version: Linux

#### Expected behaviour

I had to upgrade erigon after the bug found by the Go Ethereum team. My node was one of the affected ones and I could not synchronize new blocks anymore.

I upgraded the erigon's version running the commands

[code]

Erigon started correctl

[2021-09-01 15:55] AskAlexSharov commented on #2595
@YordanPavlov what are Erigon's logs now?

[2021-09-01 17:05] mmgen commented on #2476
Because I realized this functionality is completely missing in Erigon.

As stated previously, the only solution is to reimplement it from scratch.

[2021-09-01 17:09] Uttam-Singhh commented on #2476
Ahh ok!
Thank you!

[2021-09-01 17:32] jackliu10 opened #2611 "Wrong trie root of block 13140927"
<img width="736" alt="1630517370(1)" src="https://user-images.githubusercontent.com/40690755/131717092-09d2c4b0-08e5-4c5f-95f3-59ffa5520694.png">
<img width="736" alt="1630517417(1)" src="https://user-images.githubusercontent.com/40690755/131717109-f2be9a5c-0deb-4e30-b973-494847944452.png">

[2021-09-01 18:44] YordanPavlov commented on #2595
Just checked. It seems my Node has recovered and is up to date now. Logs look like so:
[code]

[2021-09-01 20:03] fedecastelli commented on #2611
Same here but at block `13140584`. After I got this error, it started to download blocks from the block before (`13140583`) but it's still stuck there.

The only thing I can see is it started to invalidate random blocks downloaded before.

[2021-09-01 20:04] AlexeyAkhunov commented on #2611
You need to try to update the the newest version of Erigon, which has a fix for the Geth/Erigon vulnerability. Also, preparing that fix that would enable to come back to the correct chain if you end up on the wrong chain. Trying to fit it into the tomorrow's release

[2021-09-01 20:07] AlexeyAkhunov commented on #2610
Did you also get invalid state root hash?

[2021-09-01 20:08] fedecastelli commented on #2611
Okay, thank you. So can you confirm that the bug is still present in the release version `2021.09.1-alpha`?

[2021-09-01 20:22] fedecastelli commented on #2610
I got the error `Wrong trie root of block 13140584`.

I launched erigon and these are the logs:

[code]

[2021-09-01 21:36] AlexeyAkhunov commented on #2610
@fedecastelli Can you please try to run from current `devel` branch? I have just merged the fix for the similar problem on Ropsten, it should help you get unstuck

[2021-09-01 21:37] AlexeyAkhunov commented on #2611
@jackliu10 can you please try to run from `devel` branch? I have just merged the fix for the similar issue on Ropsten

[2021-09-02 07:58] AskAlexSharov commented on #2598
this is great outcome

[2021-09-02 09:15] mdben1247 commented on #2598
Glad to hear you found them useful. I missed one race, it seems distinct from the above two:
[race3.txt](https://github.com/ledgerwatch/erigon/files/7097668/race3.txt)

[2021-09-02 10:02] AskAlexSharov commented on #2598
if added 2 fixes (for this 3 races): one is in new release v2021.09.01, but one i merged to devel after release.

[2021-09-02 10:33] mdben1247 commented on #2598
I'll pull devel and let it run for a while.

[2021-09-02 13:59] fedecastelli commented on #2610
@AlexeyAkhunov I run the current `devel` branch but now I'm stuck here:

[code]

do I have to wait for the process to unwind all the incorrect blocks?

[2021-09-03 01:38] AskAlexSharov commented on #2610
@fedecastelli , all is good now?

[2021-09-03 06:22] mdben1247 commented on #2598
Unfortunately, that didn't help. It crashed three times since. I'll test downgrading go to 1.16 now.

A quick description of the workload, maybe it helps finding the bug. There are several web-socket connections (about 5-6) to rpcdameon. One of these receives new block subscriptions. The other connections (after getting a new block) simultaneously each sends a batch of queries (reading chain state

[2021-09-03 10:09] AskAlexSharov commented on #2588
About next steps in article https://medium.com/datawallet-blog/how-to-deploy-a-local-private-ethereum-blockchain-c2b497f068f4
4. i think you don't need `geth account new` command: create private/public key pair by any other utils.
For example: https://kobl.one/blog/create-full-ethereum-keypair-and-address/
Or by geth. Or by Metamask. Or any other way.
Erigon has code to create address:
[code]
but

[2021-09-03 10:31] AskAlexSharov commented on #2598
@mdben1247
Please try to add `-race` flag (alone it likely will not add much CPU load).

I found 1 change which may lead to dangling pointers (reason of crush): https://github.com/ledgerwatch/erigon/pull/2564/files
Here is the revert: https://github.com/ledgerwatch/erigon/pull/2627

[2021-09-03 11:01] Uttam-Singhh commented on #2588
Thank you @AskAlexSharov for guidance!

I will use Metamask for this but what about nodes?
I will have to create local node or not?

Are you talking about running the main chain?
I need to collect all of them from the running main chain or any other network?

[2021-09-03 11:13] mdben1247 commented on #2598
I'll try that next. Just to be sure, build like this?
`go build -race -o ./build/bin/rpcdaemon ./cmd/rpcdaemon`

[2021-09-03 11:18] AskAlexSharov commented on #2598
Yes

[2021-09-03 11:20] AskAlexSharov commented on #2588
“ I will have to create local nodes or not?” - yes, same as in article.

“ Are you talking about running the main chain?” - no, you will create some nodes for your chain.

[2021-09-03 12:52] yorickdowne commented on #2506
There are two easy ideas for `--prune hrtc` and syncing LH from scratch.

1) If Erigon is not yet synced, give LH a failover Infura node. `--eth1-endpoints http://erigon-IP:8545,https://InfuraURL`. It will grab what it needs from Infura, and by the time Erigon is done syncing, LH just needs to get new deposit data from it.
2) If Erigon is already synced, switch LH between Infura and Erigon. Start

[2021-09-03 13:31] mmgen commented on #2588
How about using a hard-coded private key/address for the faucet, as OpenEthereum does? Then you could just start up in devmode with a single command-line flag, say `--chain=dev`, with no setup required.

[2021-09-03 14:50] AskAlexSharov commented on #2588
Ah, yes, need to add

[2021-09-03 22:39] KaiRo-at commented on #1736
The group of JSON-RPC around filters,  eth_newFilter and  eth_newBlockFilter to create them, and eth_getFilterChanges (sometimes also eth_getFilterLogs) to query them, has been the main way of listening to blockchain events for a long time, so there are many DApps relying on them.
While you can work around them missing via (repeatedly) calling eth_getLogs, those that are not relying on Infura (whi

[2021-09-03 22:57] KaiRo-at opened #2629 "Allow getting data for pending transactions"
# Rationale

I'm running a (company-internal) monitoring service on our blockchain nodes, which in addition to watching node health, also keeps statistics about recent blocks and pending transactions so we get more insight into the current environment of chain congestion and gas prices. For quick info, the count of pending transactions as seen by the node is interesting, for detailed stats, the ac

[2021-09-04 06:09] gelfand commented on #2629
For that purpose you can use `txpool_content`, it returns both `pending` and `queued` transactions, so you would have to just get rid off `queued`(aka `non-executable`) transactions.
[code]

[2021-09-04 11:05] AskAlexSharov commented on #2629
If need only counters - can use txpool_status

[2021-09-04 21:09] 11qu1d commented on #1736
I was testing Erigon with my apps as part of migrating away from Geth when to my surprise I stumbled upon this unimplemented family of calls (everything else up this point worked perfectly).

As it was alluded to above, `eth_newBlockFilter` although crude, is a popular way for applications to listen for transactions that are not emitting events either by omission or by design. Not a golang expert

[2021-09-06 01:09] jsvisa opened #2631 "panic: runtime error: index out of range [1] with length 1"
#### System information

Erigon version: `./erigon --version`

[code]

OS & Version: Windows/Linux/OSX

Commit hash :

#### Expected behaviour

no panic occured

#### Actual behaviour

[code]

#### Steps to reproduce the behaviour

#### Backtrace

[code]

[2021-09-06 02:44] AskAlexSharov opened #2632 "Enode db race"
[code]

[2021-09-06 08:09] mdben1247 commented on #2598
rpcdaemon built with go 1.16 works flawlessly, no crashing at all.

Built with go 1.17 it crashes regularly. I am attaching new traces using `-race` flag, however there where no races detected.
[backtrace4.txt](https://github.com/ledgerwatch/erigon/files/7114319/backtrace4.txt)
[backtrace5.txt](https://github.com/ledgerwatch/erigon/files/7114320/backtrace5.txt)

[2021-09-06 08:32] fedecastelli commented on #2610
@AlexeyAkhunov all is good now, thank you!

Sorry for the late reply but I was running my internal processes to see if they were running correctly too.

[2021-09-06 12:58] AskAlexSharov commented on #2631
@jsvisa - did restart help you? Will try to check it tomorrow.

[2021-09-06 13:48] vladmolkov opened #2633 "eth_getTransactionReceipt returns null"
#### System information

Erigon version: `erigon version 2021.08.5-alpha`

OS & Version: `Ubuntu 20.04.3 LTS`

Commit hash :

#### Expected behaviour
eth_getTransactionReceipt method returns the receipt of [certain transaction](https://goerli.etherscan.io/tx/0x8a6a190f828d65a1b713bdc51b6a4511c943f048522005c947711c7b6de3148f) how OE does it

#### Actual behaviour
eth_getTransactionReceipt method re

[2021-09-06 22:26] alvarosevilla95 opened #2636 "Empty result on trace_transaction for some txs"
#### System information

Erigon version: `./erigon --version`
2021.09.1-alpha

OS & Version: OSX

#### Expected behaviour
The rpc call "trace_transaction" should return the trace for the transaction.

#### Actual behaviour
Rpc server returns an empty reply on tx `0x0fac4168103638e3a7e74362db2bbb0dd3095c6d26259a61debf164a9f616d05`

#### Steps to reproduce the behaviour
[code]
`eth_getTransactionByH

[2021-09-06 23:14] jsvisa commented on #2631
I'm sorry, not the restart didn't solve this issue.

[2021-09-07 03:13] AskAlexSharov commented on #2631
@jsvisa as a hotfix you can do:
[code]

Is it mainnet?

[2021-09-07 03:15] jsvisa commented on #2631
Thanks for your advice, I'll give it a try.

It's the mainnet

[2021-09-07 05:35] 0xKrishna commented on #2476
Same issue, What changes to be done to make sure it processes transactions in dev mode locally?

[2021-09-07 07:27] Uttam-Singhh commented on #2476
@mmgen
I also tried the same and eventually I was able submit my transaction!👇

<img width="1440" alt="Screenshot 2021-09-07 at 12 51 40 PM" src="https://user-images.githubusercontent.com/63050765/132302479-f11fbebc-d6c9-4831-b531-85f273700dac.png">

but still the blocks are not increasing...🤦‍♂️
I don't know why..🤐

@AskAlexSharov Can you help out here!

[2021-09-07 07:30] mmgen commented on #2476
You might take a look at this discussion: https://github.com/ledgerwatch/erigon/issues/2588

This functionality exists in Geth but was removed from Erigon after it was forked from Geth.

I think devnet could be reintroduced without restoring all the `geth init` infrastructure. Adding a hard-coded faucet address to the Genesis block like Parity does would an easier solution, in my view.

[2021-09-07 07:39] mmgen commented on #2476
@Uttam-Singhh: as stated previously, until the necessary modifications are made to the code, the blocks are not going to increase. That's why I closed this issue.

The key component that needs reenabling here is the Clique engine, which mines a block every time it detects a new transaction in the mempool.

[2021-09-07 07:40] Uttam-Singhh commented on #2588
@AskAlexSharov I am stuck please help!
I am able to run the devnet, i also connected it using metamask, I tried to do a transaction it showed the transaction  was submitted 👇

<img width="1440" alt="Screenshot 2021-09-07 at 12 51 40 PM" src="https://user-images.githubusercontent.com/63050765/132304364-1d30ab82-d2ac-4e93-9b77-504582b4d1b3.png">

But the blocks are still not increasing, they are stu

[2021-09-07 07:48] Uttam-Singhh commented on #2476
I actually did some changes like implemented(reintroduced) the genesis init functionality again!
so I thought it should work!

@AskAlexSharov Can you guide me more changes thats need to be done!

[2021-09-07 07:52] AskAlexSharov commented on #2588
Show me logs of Erigon

[2021-09-07 07:57] Uttam-Singhh commented on #2588
Here it is -   The transaction was fired at `12.48.30`

<img width="1440" alt="Screenshot 2021-09-07 at 1 25 48 PM" src="https://user-images.githubusercontent.com/63050765/132306839-55d6ebdb-abdb-4469-9a6c-c5f6b82f5d5b.png">

[2021-09-07 07:59] AskAlexSharov commented on #2588
And cli command to run erigon?

[2021-09-07 08:00] Uttam-Singhh commented on #2588
`./build/bin/erigon --datadir dev --chain dev --mine --miner.sigkey=`

[2021-09-07 08:31] AskAlexSharov commented on #2588
I think `--miner.sigkey` flag was introduced by mistake.
Let me take a look.

[2021-09-07 08:35] Uttam-Singhh commented on #2588
Ok!
Please guide me further once you have a look!

[2021-09-07 08:53] AskAlexSharov commented on #2588
Added hard-coded private key for --chain dev https://github.com/ledgerwatch/erigon/pull/2639
you can remove --miner.sigkey flag

[2021-09-07 08:54] AskAlexSharov commented on #2476
Added https://github.com/ledgerwatch/erigon/pull/2639

[2021-09-07 09:01] 0xKrishna commented on #2588
Gives this error now
[code]

[2021-09-07 09:02] 0xKrishna commented on #2588
When `miner.etherbase` is used
[code]

[2021-09-07 09:05] AskAlexSharov commented on #2588
@0xKrishna added default sign key for Devnet: https://github.com/ledgerwatch/erigon/pull/2639
Now must be enough: `--chain dev --mine`

[2021-09-07 09:06] 0xKrishna commented on #2588
Even that's not working
[code]

[2021-09-07 09:07] AskAlexSharov commented on #2588
@0xKrishna are you on https://github.com/ledgerwatch/erigon/pull/2639 ?

[2021-09-07 09:08] 0xKrishna commented on #2588
Sorry, My bad
[code]

[2021-09-07 09:08] Cript commented on #2478
@AskAlexSharov , hello! How did you find this issue? I have tried to start erigon with parameter `--maxpeers=1`, then used rpc method `net_peerCount`. With `--maxpeers=1` it always returns 1. Without `maxpeers` more than 1.

[2021-09-07 09:12] AskAlexSharov commented on #2588
To continue:
@Uttam-Singhh you can see in Erigon logs "local tx propagated" - it means your transaction came to TxPool successfuly and TxPool sent it to other peers by P2P. Now need understand if your transaction came to mined block.
Mining happening next way:
- `eth/stagedsync/stage_mining_create_block.go` getting txs from Pool
- `eth/stagedsync/stage_mining_exec` executing transactions and creat

[2021-09-07 09:24] Uttam-Singhh commented on #2588
Oh okay I will try it out!
Thank you so much @AskAlexSharov!❤️

[2021-09-07 09:26] AskAlexSharov commented on #2588
after https://github.com/ledgerwatch/erigon/pull/2639 you better delete your dev db
and of course now - if you do custom genesis - you need allocate some funds for default etherbase

[2021-09-07 09:43] #2610 closed

[2021-09-07 09:57] jsvisa commented on #2631
After stage_trie, the panic issue solved

[2021-09-07 10:21] mdben1247 commented on #2598
Not sure how helpful those traces are. What has me a bit confused is there are `(bad use of unsafe.Pointer? try -d=checkptr)`suggestions in the traces, but `-race` build flag is supposed to imply `-d=checkptr` according to go [docs](https://golang.org/doc/go1.14).

Any ideas on what else I can try to do to collect more data about the issue?

[2021-09-07 10:36] AskAlexSharov commented on #2598
Maybe you can build old RPCDaemon? Let's say v2021.07.05 with go 1.17 and see if problem is still exists?

[2021-09-07 10:54] mdben1247 commented on #2598
Hm... having trouble running this old version, I think database directory changed.

[2021-09-07 11:36] 0xKrishna commented on #2588
I have tried everything but my node is not mining blocks at all, Interesting part is this
[code]
When I try to stop the node by interrupting, I can see a log related to mining create block

[2021-09-07 13:50] 0xKrishna commented on #2588
Using similar command in geth works fine
[code]

But in erigon it doesn't mine
[code]

[2021-09-07 14:49] mmgen commented on #2588
Is the `--mine` option really required? For Geth devnet, all I need is the following:

    geth --http --http.api=eth,web3,txpool --dev

[2021-09-07 16:43] mdben1247 commented on #2598
I tried that, but couldn't make it work, this old version is missing some functionality that was added later (like batch ordering) and is critical to running the whole thing.

I also tried building `devel` with
`GODEBUG=cgocheck=2 go build -gcflags=all=-d=checkptr -o ./build/bin/rpcdaemon ./cmd/rpcdaemon`
without `-race` flag (then it runs reasonably well) and here is a backtrace of a crash, but n

[2021-09-07 18:00] mmgen commented on #2633
Are you certain the transaction was already mined when you made the first call?

eth_getTransactionReceipt returns null or zero if transaction is still pending, that's it's normal behavior.

[2021-09-08 03:59] AskAlexSharov commented on #2588
I found problem. Mining was blocked on some mutex which didn't happen on active networks(where periodically arriving blocks). Here is some fix: https://github.com/ledgerwatch/erigon/pull/2642

[2021-09-08 05:37] AskAlexSharov commented on #2598
Ok. Thank you for helping.

Maybe it's not related to "race condition", maybe it's "wrong unsafe usage".
Let's first understand - if it's related to "unsafe usage related to database" (because our db is written in C).
Here is the branch: `copy_db_val`

[2021-09-08 06:11] 0xKrishna commented on #2588
Okay, This is what's happeing now
[code]
Block is ready for seal but number is till not increasing, Anything else need tp be done ?
Command used to run the chain
[code]

[2021-09-08 06:24] AskAlexSharov commented on #2588
`but the number is still not increasing, Anything else needs tp be done?`
I think easiest way for now is to start multiple nodes and join them by --staticpeers flag. They will propagate mined block to each-other.
I will work to apply own mined blocks tomorrow - but I'm not sure - is it easy or hard.

[2021-09-08 08:02] mdben1247 commented on #2598
This one is interesting, when it crashed it didn't say `bad use of unsafe.Pointer? try -d=checkptr`, but something else:
[backtrace8.txt](https://github.com/ledgerwatch/erigon/files/7127056/backtrace8.txt)

[2021-09-08 08:16] 0xKrishna commented on #2588
I used `--staticpeers` but how can I make sure they are connected?
Running both the nodes on the same machine by changing the port number from 9090 to 9091. That's fine, Right?
I used RPC of one node to submit the txn, It had all the earlier logs but there were no logs on the 2nd node, Nor the txn got propagated on 2nd node.

[2021-09-08 08:24] vladmolkov commented on #2633
Yes, transaction was mined in block 5447846 (0xdedd0238eee2ad017bfb6b617ed126a6c08467d2859fd360bbc665174846da67), currently latest block on my node is 5461190.
I can see txid in result of eth_getBlockByHash, but eth_getTransactionReceipt still returns null
[code]

[2021-09-08 09:14] AskAlexSharov commented on #2588
9090 - it's grpc port. you need flag --port 30303

[2021-09-08 09:19] AskAlexSharov commented on #2588
https://github.com/ledgerwatch/erigon#default-ports-and-protocols--firewalls

[2021-09-08 11:24] 0xKrishna commented on #2588
Yes, I used this command to run 2nd node
[code]
 1st node is using ports 9091, 30303 and 30304
 I hope staticpeers is used correctly.

[2021-09-08 12:38] AskAlexSharov commented on #2588
Looks correct

[2021-09-08 12:44] 0xKrishna commented on #2588
I am getting this in logs
[code]

[2021-09-08 16:11] alcuadrado opened #2647 "Recovering a node that got stuck after the London hard fork"
Hi,

I forgot to update my Erigon instance before the London HF. I did it yesterday, but the it seems to be stuck now.

It hasn't progressed from block number 13107517, and and the logs always look like this:

[code]

Is there a way to recover it? Or do I have to resync?

Thanks

[2021-09-08 23:10] WyseNynja opened #2649 "Incomplete address given by debug_traceTransaction"
#### System information

Erigon version: erigon version 2021.08.5-alpha

OS & Version: Linux

Commit hash : b1fef26767f2635da6816f0dc07acd3f3fa1e935

#### Expected behaviour

Get a valid address from the stack.

#### Actual behaviour

The address on the stack in my trace is too short.

#### Steps to reproduce the behaviour

[code]

If you look in the stack at the addresses (the second to last item

[2021-09-08 23:17] jorgenakamoto commented on #2649
0x71987ae3d6d2005b74ad64694abd0c84b37bef7131c467cea63c3a72784f7d31 looks to have the same issue

[2021-09-08 23:19] WyseNynja commented on #2649
0x71987ae3d6d2005b74ad64694abd0c84b37bef7131c467cea63c3a72784f7d31 has the same issue

[2021-09-09 01:53] AskAlexSharov commented on #2647
- Upgrade
- Start with --bad.block=0xcabd9194507f1d4305f510d9b6a51d0816abca1290050d0f575c9301c357021a
- Wait and see if it will sync well
- Restart without  --bad.block parameter

[2021-09-09 03:50] AskAlexSharov commented on #2588
Apply mined blocks: https://github.com/ledgerwatch/erigon/pull/2650

[2021-09-09 05:54] 0xKrishna commented on #2588
Thanks @AskAlexSharov , It's mining blocks now, Header number moving ahead with transactions.

[2021-09-09 09:03] 0xKrishna commented on #2588
Single node is working fine now and mining blocks as per the transaction, But if I run another local node and also use `--staticpeer` flag, The 2nd node is running independently and not syncing with the first one. Any suggestion?

[2021-09-09 13:44] mandrigin commented on #2588
@0xKrishna can you give here both full command lines here?

[2021-09-09 14:14] yorickdowne opened #2653 "Geth drops Erigon peers"
From Geth 1.10.8:

`Checkpoint challenge timed out, dropping id=24d6c2f357d5a06b conn=inbound addr=108.214.8.13:39154   type=erigon/v2021.09.1-al...`

I am assuming this isn't supposed to happen.

I've seen this behaviour since 2021.07 alpha

[2021-09-09 17:34] jorgenakamoto commented on #2649
it looks like erigon drops the 0 padding.

nethermind gives this for the same tx:
[code]

[2021-09-09 17:42] WyseNynja commented on #2649
i think my issue is because erigon changes the stack to be 0x prefixed and shortened (it does not do the same for memory). other nodes do not.

netherminds result:
[code]

So maybe this isn't a bug, but this inconsistency is definitely going to bite people like it bit me.

[2021-09-09 18:49] #2649 closed

[2021-09-09 18:56] #2527 closed

[2021-09-09 18:57] #2526 closed

[2021-09-09 19:51] alcuadrado commented on #2647
I'm getting this error with 2021.09.02

[code]

[2021-09-10 03:06] AskAlexSharov commented on #2647
ouch. this is merge-conflict. fixed by https://github.com/ledgerwatch/erigon/pull/2657

[2021-09-10 03:08] AskAlexSharov commented on #2653
@yorickdowne , thank you. we will take a look

[2021-09-10 04:03] AskAlexSharov commented on #2598
@mdben1247 hi. there is golang 1.17.1 released. Please try.

[2021-09-10 12:41] AlexeyAkhunov opened #2658 "[AuRa] Eliminate `HeadersSeal` function and associated environment variable"
We are working on the support of AuRa consensus in Erigon, and some initial work has been done by @AskAlexSharov to support Sokol POA network. This work needs to continue.

In AuRa, block headers have an extra field, called "Seal", which does not appear in any non-AuRa network. This makes is tricker to parse block headers RLP and serialise headers into RLP. Currently as a "quick-fix", there is a f

[2021-09-10 12:43] AlexeyAkhunov commented on #2658
In order to activate one of these `ChainConfig` choices, Erigon needs to be launched with the option `--chain <chain_name>`, for example, `--chain sokol`. Though with Sokol currently, it is very hard to find good peers

[2021-09-10 12:45] AlexeyAkhunov opened #2659 "[AuRa] Add seal verification to the header processing for AuRa chains"
We are working on the support of AuRa consensus in Erigon, and some initial work has been done by @AskAlexSharov to support Sokol POA network. This work needs to continue.

In AuRa, block headers have an extra field, called "Seal", which does not appear in any non-AuRa network. This `Seal` field contains the block number signed by the validator who "approved", or "sealed" that block. In the curren

[2021-09-10 12:49] AlexeyAkhunov opened #2660 "[AuRa] Add Kovan chain spec"
We are working on the support of AuRa consensus in Erigon, and some initial work has been done by @AskAlexSharov to support Sokol POA network. This work needs to continue.

Recently, it has been difficult to find peers for Sokol networks, so we should try to add support for Kovan to continue our development and testing, under the option `--chain kovan`. For comparison, Kovan and Sokol chainspecs c

[2021-09-10 13:16] KaiRo-at opened #2662 "Huge memory consumption (>10GB RAM)"
#### System information

Erigon version: erigon version 2021.09.2-alpha (same with 2021.09.1-alpha)

OS & Version: Linux

Commit hash :  --- / docker container from docker hub, tag "v2021.09.02" (and tag "v2021.09.01")

#### Expected behaviour

Fully synced running node uses a single-digit amount of GB in RAM (or less)

#### Actual behaviour

This is from `top` on a machine I admin that has 128GB

[2021-09-10 13:27] AskAlexSharov commented on #2662
@KaiRo-at do you have some logs from time when problem occurred?

[2021-09-10 13:37] KaiRo-at commented on #2662
Well, the memory is going up continuously, so it's not a problem occurring at a certain point in time. The ropsten node got stuck over night and so was somewhat behind on syncing after that when I restarted it 2.5h ago, but right now it's up to 9.8g `RES`, the log from this run so far is [erigon-docker-ropsten-20210910.log](https://github.com/ledgerwatch/erigon/files/7144122/erigon-docker-ropsten-

[2021-09-10 13:42] KaiRo-at commented on #2662
And here's the last 15 minutes of the log of the mainnet machine that is at over 50 GB `RES` right now: [erigon-docker-mainnet-20210910.log](https://github.com/ledgerwatch/erigon/files/7144190/erigon-docker-mainnet-20210910.log)

[2021-09-10 13:45] KaiRo-at commented on #2662
And here's the last ~500 lines of the logs from the mainnet node that is at over 50GB `RES` right now: [erigon-docker-mainnet-20210910.log](https://github.com/ledgerwatch/erigon/files/7144202/erigon-docker-mainnet-20210910.log)

[2021-09-10 13:53] KaiRo-at commented on #2662
Also, when I first looked for issues on memory consumption last night, I found #2123 and as the Ropsten node was logging at that point (after clogging up the machine once more), I noticed that memory consumption did indeed drop slightly when some stages finished (could have been around execution or so, I don't remember exactly), but it was only a reduction of a few hundred MB at best when the proc

[2021-09-10 13:58] AskAlexSharov commented on #2662
Ok, something is wrong with “Stage 1: headers download”. Likely regression after https://github.com/ledgerwatch/erigon/pull/2614

[2021-09-10 14:09] AlexeyAkhunov commented on #2662
We would need a heap dump to investigate this. Running with `--pprof` and then running `go tool pprof http://localhost:6060/debug/pprof/heap` and then making PNG would give us more info

[2021-09-10 14:09] AskAlexSharov commented on #2662
`go tool pprof -png  http://127.0.0.1:6060/debug/pprof/heap > mem.png`

[2021-09-10 14:52] KaiRo-at commented on #2662
I'm running the ropsten node with `--pprof` right now and will get back to you with the data once it has been running for a while.

[2021-09-10 15:35] KaiRo-at commented on #2662
OK, right now, the Ropsten node is up to 3.4g `RES` though internally it thinks it has allocated about half of that or so. In any case, I tried to give you some data, so I tried running it like this:

[code]

But I found out that there was some font missing or something, as all characters came out as squares on that PNG, which isn't very helpful. So I ended up creating an SVG instead, though I had

[2021-09-10 16:10] AlexeyAkhunov commented on #2662
Thanks a lot, we'll take a look at those

[2021-09-10 16:18] KaiRo-at commented on #2662
Here's another one taken after the process blew up to 13GB `RES` (I guess it pretty much says the same thing, but just to be complete):
![erigon-ropsten-20210910-2](https://user-images.githubusercontent.com/824140/132885261-870b6695-ad7c-4114-970f-71b1242a1040.png)

[2021-09-12 09:00] AskAlexSharov commented on #2538
looks like i fixed it by https://github.com/ledgerwatch/erigon/pull/2666

[2021-09-12 09:00] AskAlexSharov commented on #2653
looks like I fixed it by https://github.com/ledgerwatch/erigon/pull/2666

[2021-09-12 09:38] AlexeyAkhunov commented on #2662
So it looks like the majority of heap space is occupied by blobs of about 640 bytes (there are approx 1.3 million of them) appearing during the parsing of headers. This is unexpected, I'd need to try to reproduce

[2021-09-12 16:41] AlexeyAkhunov commented on #2653
Bravo!

[2021-09-12 20:26] KaiRo-at commented on #2662
FWIW, the Ropsten node is on a machine that is quite loaded from other processes as well, has rotating disk storage, and is seeing the same problem with 2021.08.5

[2021-09-13 05:40] 0xKrishna commented on #2588
1st Node
[code]
The enode of 1st node
[code]

Then to run 2nd node
[code]

[2021-09-13 06:07] #2632 closed

[2021-09-13 08:09] e-danko commented on #2658
Hello ! I'll take this issue, please do not assign it.

[2021-09-13 08:25] AskAlexSharov opened #2679 "Create analog of admin_nodeInfo"
We can't break admin_nodeInfo (for compatibility reasons) - there are specs exist, etc...
But admin_nodeInfo is not enough flexible for Erigon. Difference is:
- erigon can have multiple sentries
- each sentry can serve 1 P2P protocol
- can run many sentries which serve same P2P protocol

Create erigon_nodeInfo method which will return list of objects (returned by admin_nodeInfo).
Default sort by:

[2021-09-13 08:27] AskAlexSharov commented on #2588
@mandrigin , hi. I also created ticket about admin_nodeInfo RPC method - then users can get enode by RPC (now can get from logs only): https://github.com/ledgerwatch/erigon/issues/2679

[2021-09-13 10:07] AskAlexSharov opened #2680 "To port bitcurve.add changes"
from https://github.com/ethereum/go-ethereum/pull/22621 to https://github.com/ledgerwatch/secp256k1

[2021-09-13 11:08] Uxio0 opened #2682 "Invalid JSON sometimes when using trace_filter"
#### System information

Erigon version: https://github.com/ledgerwatch/erigon/releases/tag/v2021.09.02
OS & Version: Linux

#### Expected behaviour
`trace_filter` returns a valid JSON

#### Actual behaviour
JSON is cut at some point and an invalid JSON is returned

#### Steps to reproduce the behaviour
Call `trace_filter`. Parameters don't seem to be important, as service sometimes answers well a

[2021-09-13 18:51] gelfand commented on #2633
Please update to the version from the devel branch.

[code]

[2021-09-14 02:20] KaiRo-at commented on #2662
Is it possible that stage 1 / parsing headers is started again and again while it is already running from a previous time it was started, and running that in parallel causes issues, like e.g. some kind of objects to be abandoned and never cleaned up? Just from the logs and the data, something like that would sound likely, without actually knowing anything about the code or its architecture.

[2021-09-14 02:29] AskAlexSharov commented on #2662
@KaiRo-at , staged sync is single-threaded, but communication with peers is multi-threaded.
So, yes it syncing with peers in parallel and save headers by ParseSegment method, then stage 1 processing them when it can.

But there are limits, which must protect RAM. Likely it's "objects to be abandoned and never cleaned up" problem.

[2021-09-14 07:08] 0xKrishna commented on #2588
Any update? I am still not able to setup a local dev network with more than 1 node connected.
Single node is working fine but I am not able to connect nodes using staticpeers flag.

[2021-09-14 07:42] mandrigin commented on #2588
@0xKrishna one more question: do static peers work if you use, say Ethereum mainnet or any testnet?

[2021-09-14 07:45] #2647 closed

[2021-09-14 07:47] #2605 closed

[2021-09-14 07:49] #2561 closed

[2021-09-14 07:52] mandrigin commented on #2588
We will try to reproduce on our side as well

[2021-09-14 07:54] AskAlexSharov commented on #1724
Looks a bit solved in https://github.com/ledgerwatch/erigon/issues/2588

[2021-09-14 07:54] #1724 closed

[2021-09-14 07:57] 0xKrishna commented on #2588
@mandrigin Haven't tried static peer for mainnet or any testnet, I just use
[code]
and it works for, Also I don't know any static peer node for goerli or mainnet.

[2021-09-14 07:57] 0xKrishna commented on #2588
Let me know if you see any issue in these commands which I used for testing

[2021-09-14 09:35] vladmolkov commented on #2633
Still returns null using: `Build info                               git_branch=devel git_tag=v2021.09.02 git_commit=ced5965ef798e1975064123377289b7004f89567`
Maybe I should deploy new erigon instance and make it fully synced with "fresh" erigon version

[2021-09-14 12:02] AskAlexSharov commented on #2633
@vladmolkov if it’s easy for you

[2021-09-14 13:23] vladmolkov commented on #2633
I've started syncing new goerli instance builded from devel branch (ced5965e), soon i'll see how it works on new instance, but i'm worried about situation on my current instance, could it be data inconsistency or something like that?

[2021-09-14 13:40] AskAlexSharov commented on #2633
hard to say without reproduce. it can return null in many cases - for example if block header missed, etc...

[2021-09-15 08:22] Cript commented on #2421
There are 2 pull requests:
- to erigon-lib: https://github.com/ledgerwatch/erigon-lib/pull/72 - should be merged first
- to main erigon repository: https://github.com/ledgerwatch/erigon/pull/2687

[2021-09-15 16:08] #2421 closed

[2021-09-15 19:20] KaiRo-at commented on #2662
Trying to run with 2021.08.5 for now, I saw that the points where a real lot of memory growth is happening, the logs are full withg messages like this:

[code]

[2021-09-15 23:52] tsutsu opened #2690 "[meta] Include preverified-hashes step in RELEASE_INSTRUCTIONS.md"
Unsure how exactly to invoke it, but I see that `hack extractHashes` exists and is used to (re)generate the `preverified_hashes_*.go` files.

Presumably, if the jumpdest `SkipAnalysis` function should get updated before each release (except emergency releases), then these files should be regenerated before each release as well?

[2021-09-16 04:12] AskAlexSharov opened #2691 "IntermediateHash stage - switch from incremental to re-generate mode - if jump > 100K blocks"
Reason:
- RetainList is in-memory structure and it will OOM if jump is too big
- Such big jump anyway invalidate most of existing Intermediate hashes

[2021-09-16 04:14] AskAlexSharov commented on #2690
i think so

[2021-09-16 07:38] mfw78 opened #2693 "Stuck with p2p GoodPeers log messages, failing to reach synced block height"
#### System information

Erigon version: erigon version 2021.09.3-alpha
OS & Version: Linux node 5.12.7-arch1-1 #1 SMP PREEMPT Wed, 26 May 2021 22:03:57 +0000 x86_64 GNU/Linux
Commit hash : ec14cba6113f1779d270be7a443bdc7438d17474

#### Expected behaviour

Node progresses towards block current chain block height (Ethereum mainnet).

#### Actual behaviour

After completion of a cycle (may or may no

[2021-09-16 08:55] vladmolkov commented on #2633
Ok, it works fine on new goerli instance, but my original issue look like serious problem related to data inconsistency, i mean it's definitely not expected behavior when erigon node keeps working with inconsistent database.

[2021-09-16 09:30] AskAlexSharov commented on #2633
maybe some already fixed bug.

you can investigate it if you like: collect list of all versions of erigon you used with that db, go `cmd/rpcdaemon/commands/eth_receipts.go:GetTransactionReceipt` and check what exactly piece of data missed - there are ReadTxLookupEntry and ReadBlockByNumberWithSenders which can return nil, also ReadBlockByNumberWithSenders internally has couple reasons why nil can

[2021-09-16 10:21] mdben1247 commented on #2598
Still crashing.

[2021-09-16 13:20] AskAlexSharov commented on #2598
No other people reported this issue. Maybe something specific for your server?

[2021-09-16 14:17] mdben1247 commented on #2598
I'd say it's very unlikely. The server hardware has proven rock solid for past year or more, running under constant load 24/7, previously openethereum, now erigon (which also runs just awesomely on go 1.16). The more likely reason is we are running quite a workload, I suspect most people's erigon/rpcdaemon instances don't come near that stress level. That includes tx tracing, constantly querying v

[2021-09-17 03:48] AskAlexSharov commented on #2598
ah, yes, we clearly know that on 1.16 you have no problem

[2021-09-17 09:37] vladmolkov commented on #2633
It looks like ReadTxLookupEntry returns nil instead of block number (also no errors returned).
I used `2021.08.01-alpha` and `2021.08.5-alpha` on that db before problem occurred, block number 5447846 was synced using `2021.08.5-alpha`.

[2021-09-17 12:40] alcuadrado commented on #2647
Thanks, my node is now on sync, using 2021.09.03.

[2021-09-18 05:40] AskAlexSharov commented on #2633
If you get transactions from blocks around this block  - can you get receipt of them?

[2021-09-18 11:47] MysticRyuujin commented on #2662
This could have something to do with the Ropaten fork... I saw a lot of those too before reverting the bad block...

[2021-09-18 16:45] ArchiFleKs opened #2703 "Kubernetes: Liveness and Readiness"
Hi, I'm using Kubernetes and would like to know if there is specific endpoint to see if the node is syncing or is synced ?

[2021-09-18 17:13] JekaMas commented on #2703
For liveness I believe you could use any request. For sync status we have https://eth.wiki/json-rpc/API#eth_syncing, which should work as in go-ethereum. It might be used for readiness if you'd like to use Erigon only after full sync, otherwise it's better to describe what API you need and look for proper way to check that this API is ready to go.

[2021-09-20 05:52] mtbitcoin opened #2705 "MDBX_UNABLE_EXTEND_MAPSIZE: Database engine was unable to extend mapping (On windows)"
Erigon version: v2021.09.03-alpha_5c377a4.
OS & Version: Windows Server 2019

RPCDaemon command line :
rpcdaemon --datadir mainnet --http.api=eth,debug,net,web3,trace --http.port 8546 --http.addr 0.0.0.0 --http.corsdomain "*" --http.vhosts "*"

This issue appears to affect the windows builds when running rpcdaemon with shared memory access (--datadir mainnet ). Both erigon and rpcdaemon is on the

[2021-09-20 06:52] AskAlexSharov commented on #2705
Hi. Show “du -ha <datadir>“

[2021-09-20 08:58] vladmolkov commented on #2633
I've got something like this:
5447845 - all receipts received
5447846 - only one of five receipts received (0xd8f2836c015bec6dfd2cbe0f09601ffb54c752fced217adfa21ae08d9d6a47fb)
5447847 - all receipts received
5447848 - all receipts received

[2021-09-20 12:03] cyberbono3 commented on #1932
Working on it

[2021-09-20 12:37] mandrigin commented on #2659
(1) Generate the seal (if I understand, @AskAlexSharov, this isn't implemented yet, right?)

(2) Update `eth/stagedsync/stage_headers.go` to check that seal

[2021-09-20 13:23] mtbitcoin commented on #2705
This is a window machine. So du does not work. I've attached a screen cap of the disk utilization

![image](https://user-images.githubusercontent.com/8327464/134009775-9dacd1bf-8f62-4f05-b818-eaded0d27d40.png)

[2021-09-20 13:28] KaiRo-at commented on #2662
Ropsten has just a slightly higher rate of reorgs / forked blocks than Mainnet, but it sometimes has forks that go on for a longer period / block height. All in all, it's a pretty good test network for Ethereum node / client software, I hope the Erigon team is running a few Ropsten nodes due to this. Also, with the Docker container available, it's easier than ever before to actually set up and run

[2021-09-20 14:48] AskAlexSharov commented on #2659
Yes. There is already exists VerifyHeader method in Consensus interface.

[2021-09-20 14:54] AskAlexSharov commented on #2705
@mtbitcoin no space left on disk?

[2021-09-20 15:48] mtbitcoin commented on #2705
Around 2tb of disk space left. Googling for similar issues on MDBX_UNABLE_EXTEND_MAPSIZE and windows

https://github.com/erthink/libmdbx/issues/98

[2021-09-20 16:20] jlokier commented on #2662
I don't know if it's helpful, but the first time I ran Erigon on Mainnet, it was up to 43.19 GiB sys, 26.69 GiB alloc, within 15 minutes:
[code]

I stopped it with Control-C, and then subsequent restarts kept crashing out quickly with:
[code]

As it had only been 15 minutes I wiped the datadir and started again, then it worked fine, using no more than 9.03 GiB sys, 1.11 GiB alloc, during the block

[2021-09-20 21:40] begetan opened #2708 "Erigon method eth_chainID is not compatible with other client."
#### Description

We use case-sensitive strict filters to apply white-lists for RPC requests.
According to the [documentation](https://github.com/ledgerwatch/erigon/blob/devel/cmd/rpcdaemon/README.md), Erigon is using the method `eth_chainID`
According to the Ethereum proposal [eip-695](https://eips.ethereum.org/EIPS/eip-695)  this method should be `eth_chainId`

This makes Erigon incompatible wit

[2021-09-21 01:53] AskAlexSharov opened #2709 "[AuRa] chain_makers.go:GenerateChain to produce AuRa blocks"
It require implemented Sealing and Difficulty (and maybe something else).

[2021-09-21 01:56] AskAlexSharov commented on #2708
@begetan we already have both

[2021-09-21 01:56] #2708 closed

[2021-09-21 02:04] AskAlexSharov commented on #2703
I advise use eth_syncing, because other methods we may cache in future.

But actually I think we need (in all services): https://github.com/grpc/grpc/blob/master/doc/health-checking.md

[2021-09-21 02:06] AskAlexSharov opened #2710 "Add grpc health-check support to all services"
https://github.com/grpc/grpc/blob/master/doc/health-checking.md

[2021-09-21 02:07] #2703 closed

[2021-09-21 06:43] 8travis opened #2712 "Incorrect transaction field "From" value?"
I've just got my erigon node synced, soooo fast! But after playing with rpc calls got some questions:

When I request {"jsonrpc":"2.0","method":"eth_getBlockByHash","params": ["0x9a7c48f0e9779f731168e2ae319e404a2efd32dfa2d3ce0d3fb1466301f33be8",true],"id":1}
it returns 236 entries where one of them is -
...,
{
	"blockHash": "0x9a7c48f0e9779f731168e2ae319e404a2efd32dfa2d3ce0d3fb1466301f33be8",
	"bl

[2021-09-21 08:57] AskAlexSharov commented on #2705
I don’t know. You have free space, your db is 1.5Tb (with 2Tb limit and 2Gb growth step). No reason to get MDBX_UNABLE_EXTEND_MAPSIZE.

What is “nodes” folder size?

[2021-09-21 09:13] mtbitcoin commented on #2705
513 MB
![image](https://user-images.githubusercontent.com/8327464/134144708-1a62ba17-2162-495d-af9e-2d4abfe2229d.png)

[2021-09-21 09:27] AndreaLanfranchi commented on #2705
@AskAlexSharov I believe **on Windows** this should be expected. As we know from LMDB experience there's a 1:1 relation amongst map_size and file_size on windows. And actually MDBX makes no difference: it simply "hides" the problem using its geometry increase logic. On Windows the only way possible to extend the data file is to unmap it, resize it, and eventually remap it but as the db is opened b

[2021-09-21 09:31] mtbitcoin commented on #2705
**Without**  "--datadir" it works fine, albeit at a lower RPC performance (not as fast). Also, no issue on ubuntu. So this only appears when
1. using --datadir with rpcdaemon
2. running on windows

[2021-09-21 09:41] AndreaLanfranchi commented on #2705
Yes ... as I mentioned before this specific issue **only** affects windows due to differences about how the NT kernel memory maps files. Unfortunately this creates strong limitations on achieving best performances on Windows (besides we [have also other kind of issues on Windows in the related project Silkworm](https://github.com/torquem-ch/silkworm#windows) which is erigon's implementation in C++

[2021-09-21 09:47] AskAlexSharov commented on #2705
this is too much, maybe problem coming from there. show what is inside and what sizes of folders there.
then try to remove this (nodes) folder and see if it helped you.

[2021-09-21 10:31] AskAlexSharov commented on #2712
My node returns `"from":"0x71d6c3823bbbce39af789d2b063ad33b2ecda7d3"`
What cli parameters you used to start erigon?

[2021-09-21 13:05] mtbitcoin commented on #2705
Under (nodes) folder
--------------------
eth65 (2 files) ~256mb
eth66 (2 files) ~256mb

I don't think they are related to to how large these folders are, because just restarting the RPC daemon (without needing to restart erigon) works for a couple of hours again before running into the same errors again later.

[2021-09-21 14:45] 8travis commented on #2712
I run it in docker as /erigon/bin/erigon --private.api.addr="localhost:9090" --etl.bufferSize=1024MB --txpool.globalslots 100000 --txpool.globalqueue 100000 --datadir="/erigon/data"

After checking logs I also found this message happened during the sync stage:

[INFO] [09-12|14:39:13.227] Update current block for the RPC API     from=13191488 to=13191487
[INFO] [09-12|14:39:13.227] [1/18 Headers]

[2021-09-21 14:48] 8travis commented on #2712
Also it was compiled with go 1.17

[2021-09-21 14:55] 8travis commented on #2712
I was also wondering if there is a way to re-check/re-build data integrity/indexes after the full sync?

[2021-09-22 01:10] AskAlexSharov commented on #2712
`It was infinite loop of the same messages "Update current block for the RPC API from=13191488 to=13191487"` - it's another non-related known issue. for now if restart doesn't help, remove folder `<datadir>/nodes`.

[2021-09-22 01:11] AskAlexSharov commented on #2712
Then I will create some tool to check senders in DB

[2021-09-22 02:04] AskAlexSharov commented on #2712
Branch: `sender_check`
Command: `go run -trimpath ./cmd/integration stage_senders --datadir=<datadir> --integrity.slow=true --block=13_000_000`

[2021-09-22 02:12] AskAlexSharov commented on #2705
“ I don't think they are related ” - they have low maximum limit, and maybe you touched it. Try remove them and see if it helps.

[2021-09-22 02:15] alysak6075 commented on #2712
@AskAlexSharov  should the node be running while i run this?

[2021-09-22 02:47] alysak6075 commented on #2712
saw a bunch of these lines and no issues:
INFO[09-21|21:41:50.067] checked                                  block=13272700
INFO[09-21|21:41:50.248] checked                                  block=13272710
INFO[09-21|21:41:50.357] checked                                  block=13272720
INFO[09-21|21:41:50.584] checked                                  block=13272730
INFO[09-21|21:41:50.712] checked

[2021-09-22 02:52] AskAlexSharov commented on #2712
then looks like db has correct values

[2021-09-22 02:56] alysak6075 commented on #2712
also archivenode.io has same issue

[2021-09-22 03:05] AskAlexSharov commented on #2712
Ok. Then help me check next things plz:
1. go to branch `sender_check_dbg` - rebuild rpcdaemon - run that request where you see `from: 0x0` - show me logs of rpcdaemon
2. go to branch `sender_check_read_from_db` - rebuild rpcdeamon - run that request where you see `from: 0x0` - see if it fixing issue or not.

[2021-09-22 04:11] 8travis commented on #2712
1) cmd from branch sender_check - all checked

2) rpcdaemon logs from branch:

log [INFO] [09-22|04:02:00.732] recovered                                tx=ad4083c5da454e1fd8cce31e4f86eafae1d4faaa832bbc1a9be9ac2cfd956a87 sender="ebf9532ca9c982b69e91ecbb4b8da3eac65453ca\n"
[INFO] [09-22|04:02:00.733] recovered                                tx=d101a0f6a0c0bcf04ba22ba190a7952277ccf29c51495f1254e69fd2

[2021-09-22 04:57] AskAlexSharov commented on #2712
then fixed by https://github.com/ledgerwatch/erigon/pull/2717

[2021-09-22 04:57] #2712 closed

[2021-09-22 06:54] Uttam-Singhh commented on #2588
Any update?

[2021-09-22 09:38] mtbitcoin commented on #2705
1. Stopped both erigon and rpcdaemon
2. Removed the Nodes folder
3. Restarted both erigon and rpcdaemon
4. Nodes folder eventually build back up the same size previous and files
5. Does not resolve the issue

[2021-09-22 12:22] swtrse opened #2719 "RPC daemon is unable to handle messages that exceed accepted frame size"
#### System information

Erigon version:  2021.09.3-alpha

OS: Linux
#### Expected behavior
Rpc daemon serves request or at least there should be a way to configure the maximum accepted frame size.

#### Actual behavior
Rpc daemon throws error that is only visible if verbosity is set to debug level.

#### Steps to reproduce the behavior
1) Run rpc daemon and erigon configured for ropsten
2) Use bi

[2021-09-22 15:17] yoavj1 opened #2720 "When calling eth_getBlockByHash, some From fields are zeros"
#### System information

Erigon version: 2021.09.4-alpha

OS & Version: Linux

When using eth_getBlockByHash, for some transactions, the "from" field has the value of 0x0000000000000000000000000000000000000000, instead of the actual sender. It happens also for some regular transfers (without smart contracts).

Note that it doesn't happen when using eth_getBlockByNumber, for the same block, for whi

[2021-09-22 15:20] AskAlexSharov commented on #2720
I think fixed by https://github.com/ledgerwatch/erigon/pull/2717

[2021-09-22 15:25] yoavj1 commented on #2720
Sorry I missed that, it does seem like the same issue - I'll close this one

[2021-09-22 15:25] #2720 closed

[2021-09-23 02:49] AskAlexSharov commented on #2705
Does "remove --datadir from rpcdaemon on windows" ok for you?

[2021-09-23 03:17] mtbitcoin commented on #2705
Yes, as shared above running it with out the “—datadir” works but that sacrifices  rpc performance

[2021-09-24 01:56] AskAlexSharov opened #2725 "Flags: --prune.*.older=0 must disable stages"
- Stages after StageIntermediateHash - can be disabled - if --prune.*.older=0
- ChangeSets work: StageHashState, StageIntermediatHashes, Unwind of StageExec). It means: StageExec still must write FullImmutabilityThreshold amount of ChangeSets - even if --prune.h.older < FullImmutabilityThreshold. See variables `writeChangeSets` and `nextStagesExpectData`. (Please create test for this corner case -

[2021-09-24 02:08] AskAlexSharov commented on #2705
Then probably we just must recommend this way on Win. (Performance of remote rpc-daemon will get better - we will have caching - we working on some pre-requirements for it).

[2021-09-25 16:21] AndreaLanfranchi opened #2728 "No more output loglines on SIGINT/SIGABRT"
#### System information

git_branch=devel git_tag=v2021.09.03-26-g5da7fb64b git_commit=5da7fb64bf47f0b75a45a6f7b8ec3247768b78bb

OS & Version: Windows (but also reported to happen on Linux

#### Expected behaviour

On intercepting SIGINT (CTR+C) Erigon used to print out signal interception plus all messages about closing network connections and databases up to a clean shutdown.  Eventually (on mul

[2021-09-25 17:16] wmitsuda commented on #2570
I've just noticed it happened again:

[code]

du -h

[code]

Using the latest stable.

[2021-09-25 17:19] wmitsuda commented on #2570
I'll create a new issue to make sure this don't get lost, can't reopen this one.

[2021-09-25 17:20] wmitsuda opened #2729 "p2p node database update failed [again]"
I've just noticed it started to happen again:

[code]

du -h

[code]

Using the latest stable.

_Originally posted by @wmitsuda in https://github.com/ledgerwatch/erigon/issues/2570#issuecomment-927153852_

[2021-09-25 18:21] Tronic opened #2730 "MDBX_PAGE_NOTFOUND error prevents sync finishing"
Syncing hangs at stage 13 with a repeating error. After the error stage 13 restarts and this repeats after about 90 minutes once it again reaches number 12316795.

[code]

Running erigon version 2021.09.4-alpha with initial sync but the service has been restarted a few times while it was running. Possibly systemd has killed it if it took more than 30 seconds to exit. Perhaps this corrupted the dat

[2021-09-25 21:58] Tronic commented on #2730
Tried stopping the daemon and deleting etl-temp. After restarting it did the prior stages again or for new blocks, and then got stuck again:

[code]

[2021-09-26 13:37] AskAlexSharov commented on #2730
hi
- what is your FS
- do you use any manual FS tuning

try run:
[code]

[2021-09-26 13:42] AskAlexSharov commented on #2730
please also try Erigon's version `v2021.09.03` - to see if it's related to https://github.com/ledgerwatch/erigon/pull/2716 or not

[2021-09-26 15:48] Tronic commented on #2730
The filesystem setup is... complicated. RAID of HDDs with bcache SSD caching, and btrfs on top of that with compression and autodefrag enabled. Still, I never had data corruption and there were no reboots or re-mount of the filesystem at any point.

Didn't try with the earlier Erigon build yet, since corruption was found:
[code]

[2021-09-26 16:07] AskAlexSharov commented on #2730
Yes, your db corrupted because of some FS reason. Actually it’s first time I see db corruption  (after we switched to mdbx - 6 months ago). I think it’s because you have some “write buffer”.

1. I advise disable btrfs autodefrag - with erigon db it eating too much disk.
2. Usually “read cache of FS” does not lead to corruption.
3. But “write cache” does. I advise disable write buffers - Erigon doe

[2021-09-26 16:14] Tronic commented on #2730
Is there any way to backtrack from here without restarting the whole sync? Took me about a week on this setup and I cannot spare that much SSD space.

[2021-09-26 16:27] AskAlexSharov commented on #2730
If some of this will show no error, then maybe have chance to recover (otherwise nope):
./build/bin/mdbx_chk -v -d -2 <datadir>/chaindata
./build/bin/mdbx_chk -v -d -1 <datadir>/chaindata
./build/bin/mdbx_chk -v -d -0 <datadir>/chaindata

[2021-09-26 16:36] yorickdowne commented on #2653
This may not be fully fixed yet: `Checkpoint challenge timed out, dropping id=6ca720f4502f7113 conn=inbound addr=5.9.136.69:56446      type=erigon/v2021.09.5-al...`

[2021-09-27 11:35] Tronic commented on #2730
Checking with `-2` finished with the same six errors and I decided to start from scratch. Using a RAID-0 built of two NVME partitions totaling just enough to fit the uncompressed chaindata. After 18 hours I am in 7-Execution, num 7M progressing at about 500 Mgas/s: roughly five times faster than on the SSD-cached HDD array. Perhaps a bit more parallelism could be implemented to speed up the initia

[2021-09-27 11:35] #2730 closed

[2021-09-27 13:53] 3mg commented on #2226
https://github.com/ledgerwatch/erigon/pull/2736

[2021-09-28 08:46] gelfand commented on #2719
closes #2739

[2021-09-28 20:42] quickchase opened #2743 "Log for Update current block for the RPC API is reporting incorrect "from" number"
Latest stable release:

Erigon used to say:

`Update current block for the RPC API from=<old> to=<new>`

Now it says `Update current block for the RPC API from=<new> to=<new>`

Something messed with the log output - every single log entry for that step is "non incrementing" it's the same block number in the from field and the to field.

Example:
[code]

[2021-09-30 05:59] mandrigin commented on #2226
fixed in 2021.09.05

[2021-09-30 05:59] #2226 closed

[2021-09-30 07:56] canepat opened #2748 "Pre-Homestead eth_call fails for code storage out-of-gas"
#### System information

Erigon version: 2021.10.1-alpha

OS & Version: Linux Ubuntu 20.04.2 LTS

Commit hash: [e57c6d7](https://github.com/ledgerwatch/erigon/commit/e57c6d754627a9bb8634287309d889bdd2752931)

#### Expected behaviour
Response to eth_call API in mainnet is the same comparing:

RPCDaemon connected to Erigon Core
Silkrpc connected to Erigon Core
Etherscan (used as reference)

#### Act

[2021-09-30 08:29] AndreaLanfranchi commented on #2743
Actually it's not `from=<new> to=<new>` rather `from=<old+1> to=<new>`: which basically, on 1 block cycles, is perceived as new to new.

[2021-09-30 11:47] MysticRyuujin commented on #2743
It's still wrong 🤷‍♂️

[2021-09-30 13:03] AndreaLanfranchi commented on #2743
I don't get it. We have a PR linked but is not merged yet.

[2021-09-30 14:40] #2743 closed

[2021-09-30 14:48] quickchase opened #2753 "RPC method web3_clientVersion crashed"
web3_clientVersion is crashing - Alexey confirmed on his end - and I confirmed on 2 different servers:

Latest Stable Release:

[code]

[2021-09-30 15:25] quickchase opened #2754 "rpcdaemon: dual mode no longer working (private.api.addr ignored)"
Off latest stable release (`2021.09.05-alpha`): `private.api.addr` is being ignored with `--datadir` present

[code]

Downgrading to previous release (`2021.09.04-alpha`) works fine.

[2021-09-30 15:52] quickchase commented on #2743
Sorry @AndreaLanfranchi - I didn't see the PR. Thanks!

[2021-09-30 19:27] KaiRo-at commented on #2662
As another note, this has been happening a lot with versions before but has become rare with 2021.09.4 - though I still did see it, after some restarts, it was fine, at least for quite a while.

[2021-09-30 20:13] Tronic commented on #2730
Finished and running OK now, despite two nasty interruptions. First a hard crash of erigon due to running out of disk space (mmapped I/O caused SIGBUS and a 3800-line traceback followed). Then much later a General Protection Fault and the entire machine crashed (a faulty kernel module, unrelated to this). Even with both of these, the database now stayed intact. The whole process took four days, an

[2021-09-30 20:49] briancolecoinmetrics commented on #2753
We're seeing the same problem in logs on  2021.09.05, but also this trailing warning line:
[code]
Not sure if that means anything or not.

[2021-10-01 02:01] AskAlexSharov commented on #2753
fixed in devel I think

[2021-10-01 02:20] #2754 closed

[2021-10-01 05:24] #2748 closed

[2021-10-01 10:47] GBBx opened #2761 ""block device required" error when starting Erigon"
#### System information

Erigon version: `erigon version 2021.10.1-alpha`

OS & Version: Linux

Commit hash :  ef80fd54b1c6c82aae92f5fa24cbd381e8577b50

#### Expected behaviour
Erigon starts synchronising

#### Actual behaviour
Erigon fails to start

#### Steps to reproduce the behaviour
- Build with Go as described here: https://github.com/ledgerwatch/erigon#usage
- create datadir
- try to start

[2021-10-01 11:37] AskAlexSharov commented on #2761
@GBBx what is your disk? what is your FS?

[2021-10-01 11:46] GBBx commented on #2761
I tried to run it in a container with podman, mounting the `--datadir` as a volume (but it doesn't work even with other paths which are not on the mounted volume). I use xfs filesystem.
Is the `--datadir` supposed to be a device? So something like `/dev/sdb1`?

[2021-10-01 12:41] AskAlexSharov commented on #2761
Must be fine.

[2021-10-04 00:28] #2728 closed

[2021-10-04 00:50] splix opened #2768 "Stuck at 13107517 with header not found"
#### System information

Erigon version: `erigon version 2021.10.1-alpha`

OS & Version: Linux

Commit hash : tag v2021.10.01

#### Backtrace

[code]

Tried to restart multiple times, still stuck with block 13107517.

When I request the block details through JSON RPC it returns a correct hash. And returns `null` for blocks 13107518+

[2021-10-04 00:57] AskAlexSharov commented on #2768
Hi, please post output from:
[code]

[2021-10-04 01:05] splix commented on #2768
[code]

[2021-10-04 01:08] AskAlexSharov commented on #2768
I see that sync is inside RecoverFromDb func now and it does call addHeaderAsLink - mean't it's silently doing something (not stuck). You don't see anything in logs now?

[2021-10-04 01:13] AskAlexSharov commented on #2768
Add progress logs to RecoverFromDb func: https://github.com/ledgerwatch/erigon/pull/2769

[2021-10-04 01:21] splix commented on #2768
Hm, it was doing that for past few hours. I restarted it a few times, but I think I had given it at least an hour before first time I restarted. But I heard you, I'll give it more time.

Is it possible that it does some db upgrade from a previous version? It stuck right after I upgraded from `2021.07.04-alpha`.

[2021-10-04 01:29] AskAlexSharov commented on #2768
No, because `recoverFromDB` func running after all db migrations applied. It's already part of normal app flow.
But `header not found` may be related to some old fixed bug.

[2021-10-04 01:34] AskAlexSharov commented on #2768
Do you see `header not found` error in logs after restart?

[2021-10-04 01:35] splix commented on #2768
yes, always. same error after each restart

[2021-10-04 01:42] AskAlexSharov commented on #2768
then wait will not help

[2021-10-04 01:44] splix commented on #2768
oh, that's bad. can a `prune` help there? or may be some other way to roll back to a previous block?

[2021-10-04 01:51] AskAlexSharov commented on #2768
Let's try:
[code]

[2021-10-04 02:01] splix commented on #2768
Same issue.

Unwind:
[code]

and run:

[code]

[2021-10-04 02:43] AskAlexSharov commented on #2768
Then try switch to branch `logs_in_recover_from_db` and run:
[code]

[2021-10-04 02:48] splix commented on #2768
Still same issue:

[code]

[code]

[2021-10-04 02:54] AskAlexSharov commented on #2768
ok. Please do git pull on branch `logs_in_recover_from_db` and try again:
[code]

[2021-10-04 02:58] AskAlexSharov commented on #2768
Opps, I did mistake, can you do again plz

[2021-10-04 03:00] splix commented on #2768
now I'm getting something different:

[code]

the last error repeats continuously

[2021-10-04 03:13] AskAlexSharov commented on #2768
Good. Please do git pull and do:
[code]

[2021-10-04 03:36] splix commented on #2768
It looks better now:

[code]

I guess it works now. Thank you!

I'll leave it running for the night and going to check it in the morning. Will keep you posted.

[2021-10-04 07:01] GBBx commented on #2761
Hi @AskAlexSharov , so you mean it should work with just the path, not `/dev/...`?

[2021-10-04 07:11] AskAlexSharov commented on #2761
I think this is not error of MDBX, but error of Linux/FileSystem/Docker.
Probably something wrong with mount options.
You can google "block device required linux" or "block device required docker"

[2021-10-04 10:35] yorickdowne opened #2770 "eth_getLogs and eth_getBlockByNumber failing on pruned DB"
#### System information

Erigon version: v2021.10.01

OS & Version: Ubuntu 20.04

Commit hash : ef80fd54b1c6c82aae92f5fa24cbd381e8577b50

Prune: prune="--prune=htc --prune.r.before=11184524"

#### Behaviour

eth_getLogs call returns on error on block 11185311; eth_getBlockByNumber returns "null" for it and its parent and child block.

[code]

[code]

[code]

[code]

This pattern of not returning d

[2021-10-04 10:46] GBBx commented on #2761
Interesting. It really does work outside podman. I'll need to investigate further.

Thanks for your help.

[2021-10-04 10:46] #2761 closed

[2021-10-04 11:02] shark0der opened #2771 "eth_getBlockByNumber returns null for pending block"
I'm trying to get the baseFee of the pending block to avoid usage of gas price oracles. Requesting pending block information returns null, however the same request works well against geth.

#### System information

Erigon version: `erigon version 2021.10.1-alpha`

OS & Version: Ubuntu 20.04.3 LTS

Commit hash : `ef80fd54b1c6c82aae92f5fa24cbd381e8577b50`

#### Expected behaviour
`"method":"eth_getB

[2021-10-04 12:13] Tronic opened #2772 "Chaindata on HDD not feasible, looking for solutions to reduce MDBX size or to make it faster on slow drives"
Would it be possible to split cooler and hotter parts of the database to separate files? If COW is used on btrfs, erigon instantly fragments the database like crazy, making it very unusable. Because compression can only be used with COW, the database then takes 1.5 TB of disk space (and growing quickly by each day).

If old blocks and any indices that don't need to be constantly refreshed could be

[2021-10-04 13:03] AskAlexSharov commented on #2770
I understand what is reason:
- we recently added pruning of Senders - it's inside `h`
- and if no senders we do return "no block", but I think it's fine that no senders - senders can be recovered on the fly - just you will pay CPU
- so, if you will see high CPU usage at this block numbers - then also increase "pruning distance" of character `h`

Please try branch: `no_senders_is_fine`

[2021-10-04 13:33] Cript commented on #2588
Peers connection for dev network is disabled here: https://github.com/ledgerwatch/erigon/blob/b890e973db294fccff0622da94a324c335f993d8/cmd/utils/flags.go#L848

Output to console after I removed these lines:
[code]
The error happens here: https://github.com/ledgerwatch/erigon/blob/044aa6748cf92e6f9e45ae51f467bf22eb084e1c/p2p/server.go#L992

[code]

Metamask works fine with the first node, but the s

[2021-10-04 13:56] Cript commented on #2588
@AskAlexSharov, is it safe to remove completely the condition here? https://github.com/ledgerwatch/erigon/blob/b890e973db294fccff0622da94a324c335f993d8/cmd/utils/flags.go#L848

[2021-10-04 13:59] GBBx commented on #2761
Alright, I found the solution. I add it here for others as a reference.

Podman can use vfs or overlayfs for storage.
Overlayfs seems to cause the issue.
# Check current driver:
[code]
# Uninstall fuse-overlayfs
# Edit /etc/containers/storage.conf:
[code]
# Delete temporary data:
[code]
# Now it should work. No need to use `--mount`.
You can double-check the graphql driver:
[code]

There may be so

[2021-10-04 14:04] AskAlexSharov commented on #2588
@Cript  , I think no - because Geth also has it.
But you don't need P2P discovery - you need connect known nodes by --staticpeers flag, right?
--staticpeers must not limited by `cfg.MaxPeers`.

[2021-10-04 14:15] AskAlexSharov commented on #2588
`ListenAddr = ":0"` - means find some free port. It done this way to create swarm of dev nodes for simulations.
Geth then can return Enode address by `admin_nodeInfo` RPC call, we don't have it now - but maybe can implement one (now we return Enode address only in logs).

[2021-10-04 14:29] Tronic commented on #2772
Okay, at least the nodatacow Erigon seems to be running decently well on the SSD-cached HDD RAID now, and spending 1.5 TB of HDD is not that expensive but the HDDs are quite heavily loaded still.

[2021-10-04 15:13] yorickdowne commented on #2770
Perfect, `no_senders_is_fine` does exactly what I need. Thank you! I am looking forward to seeing that branch in a future release. Closing issue.

[2021-10-04 15:13] #2770 closed

[2021-10-04 17:33] splix commented on #2768
I can confirm that the Erigon is working as expected now

[2021-10-04 20:33] NessDan opened #2777 "Erigon crashing after 10.01 upgrade, "erigon: mdbx:9683: mdbx_page_alloc: Assertion `((re_list)[((re_list)[0])]) < txn->mt_geo.next && ((re_list)[1]) < txn->mt_geo.next' failed.""
#### System information

Erigon version: `erigon version 2021.10.1-alpha`

OS & Version: Ubuntu Linux 21.04

Commit hash : `ef80fd54b1c6c82aae92f5fa24cbd381e8577b50`

#### Expected behaviour

Erigon loads and properly runs

#### Actual behaviour

Erigon loads, starts to "event subscription channel established with the RPC daemon", and then promptly crashes with a key error:

[code]

#### Steps to

[2021-10-04 21:43] briancolecoinmetrics commented on #2753
We can confirm that 2021.10.01 appears to have resolved this.

[2021-10-04 23:12] zzh1996 opened #2778 "`rpcdaemon` crashes on `eth_call` occasionally after v2021.10.01"
#### System information

Erigon version: erigon version 2021.10.1-alpha

OS & Version: Linux Ubuntu 21.04

Commit hash: ef80fd54b

#### Expected behaviour

`rpcdaemon` doesn't crash, just like v2021.09.05 and previous versions.

Return data should be:

`[{"jsonrpc":"2.0","id":0,"result":"0x"},{"jsonrpc":"2.0","id":1,"result":"0x"},{"jsonrpc":"2.0","id":2,"result":"0x"},{"jsonrpc":"2.0","id":3,"res

[2021-10-05 01:13] AskAlexSharov commented on #2770
I said wrong, senders beling to “t”, not “h”.

[2021-10-05 01:15] yorickdowne commented on #2770
Thank you for clarifying. The No Senders branch worked, and since the consensus client (“beacon”) gets the data only once, when it is syncing deposits, the additional CPU load doesn’t hurt.

[2021-10-05 02:21] AskAlexSharov commented on #2778
I will take a look today

[2021-10-05 03:05] AskAlexSharov commented on #2777
1. what version of Erigon you had before?
2. please run
[code]
and show output

[2021-10-05 03:24] AskAlexSharov commented on #2778
@zzh1996 hi, can you help me to test - if `state_stream_default` branch solves your problem

[2021-10-05 05:01] AskAlexSharov commented on #2682
@Uxio0 hi, help me to test fix plz https://github.com/ledgerwatch/erigon/pull/2779

[2021-10-05 05:09] #2753 closed

[2021-10-05 05:13] #2768 closed

[2021-10-05 05:14] AskAlexSharov commented on #2729
@wmitsuda had you faced it since then?

[2021-10-05 05:14] #2719 closed

[2021-10-05 05:15] AskAlexSharov commented on #2705
closing for now - as no better solution yet

[2021-10-05 05:15] #2705 closed

[2021-10-05 05:16] AskAlexSharov commented on #2693
closing - because can't reproduce now. if have more info - feel free to reopen or create new issue

[2021-10-05 05:16] #2693 closed

[2021-10-05 05:16] #2631 closed

[2021-10-05 05:19] AskAlexSharov commented on #2633
closing for now - because probably we will not debug further - easier to re-sync than figure out what combination of which versions and evens bring us to this point. If you will have more info or will have new cases after re-sync - feel free to reopen this issue or create new one.

[2021-10-05 05:19] #2633 closed

[2021-10-05 05:20] AskAlexSharov commented on #2611
closing as fixed

[2021-10-05 05:20] #2611 closed

[2021-10-05 05:21] #2595 closed

[2021-10-05 05:34] NessDan commented on #2777
I can't say, it was one of the last 3 releases but that's as specific as I can get :(

Output:

[code]

Default filesystem for Ubuntu server installations (ext4?) I have an NVMe RAID for my disks. They are consumer NVMes.

291GB Left

[2021-10-05 06:18] AskAlexSharov commented on #2777
@NessDan what type of RAID?

[2021-10-05 07:13] erthink commented on #2777
Corresponding libmdbx' assertion is [here](https://github.com/erthink/libmdbx/blob/c81226906afe0e3758ac9143bcbe6a672b6c1b57/src/core.c#L6293-L6294).

For such cases DB should be checked without `-d` option.

[2021-10-05 07:26] AskAlexSharov commented on #2777
@NessDan please run `./build/bin/mdbx_chk -v <datadir>/chaindata`

[2021-10-05 07:38] zzh1996 commented on #2778
It's not working. The same error message.

[2021-10-05 08:44] AskAlexSharov commented on #2691
done

[2021-10-05 08:44] #2691 closed

[2021-10-05 09:06] Uxio0 commented on #2682
Sure, we are deploying the PR, thanks!

But streaming is related to the underlying error `{"jsonrpc":"2.0","id":0,"error":{"code":-32000,"message":"first run for txIndex 196 error: insufficient funds for gas * price + value: address 0x270E52F196C2aC640716383947f10dA15116aA0a have 0 want 1000000000000000000"}}`?

[2021-10-05 09:16] AlexeyAkhunov opened #2782 "Implement `eth_getTransactionCount` for "pending" block"
When this RPC method is called for "pending" block, we should be querying the transaction pool for the latest nonce of a transaction sent from the specified account. Currently this is not supported. This will require some modifications in here: https://github.com/ledgerwatch/interfaces/blob/b9b02cb6a62f8b7e2bb689b148492d0e4ad6d836/txpool/txpool.proto#L55 to add a function for querying latest nonce

[2021-10-05 09:19] AlexeyAkhunov commented on #2782
corresponding PR in go-ethereum: https://github.com/ethereum/go-ethereum/pull/15794/files

[2021-10-05 11:26] #2778 closed

[2021-10-05 11:28] AskAlexSharov commented on #2682
No, show me request plz.

[2021-10-05 12:02] Uxio0 commented on #2682
Sure

[code]

[2021-10-05 12:11] AndreaLanfranchi commented on #2771
Actually the method will return something only if `--mine` command line argument is enabled in Erigon cause otherwise Stage 5 [MiningCreateBlock] is not invoked and no "pending" block exists.

This said the reponse however lacks at least basefee (post EIP-1559). Keep issue opened for reference

[2021-10-05 13:22] AskAlexSharov commented on #2771
FYI: I added baseFee to miner https://github.com/ledgerwatch/erigon/pull/2773

will think about pending block

[2021-10-05 14:48] GBBx opened #2783 "Unable to shutdown gracefully"
#### System information

Erigon version: `./erigon --version`

OS & Version: Linux

Commit hash : ef80fd54b1c6c82aae92f5fa24cbd381e8577b50

#### Expected behaviour
Erigon can be shut down gracefully and then started again.

#### Actual behaviour
Erigon is shut down with SIGINT and cannot be started again (corrupt data).

#### Steps to reproduce the behaviour
1. I build a container image:
[code]
2.

[2021-10-05 17:06] wmitsuda commented on #2729
I haven't been running my node for long periods over the last days, so I didn't notice it.

I'll let it run non-stop now and see if it happens, I'll let you know.

[2021-10-05 17:42] erthink commented on #2777
@NessDan, in your case, the database is definitely damaged. As a libmdbx developer, I am interested to understand the cause and fix it if one is the result of an libmdbx' bug.

If you already run the `mdbx_chk -vvv` then wait it for completeness.
Otherwise, you can get the initial amount of information for me much quicker.
Please:
1. run `./build/bin/mdbx_chk -0 -d -vvvvv <datadir>/chaindata`
2. r

[2021-10-06 06:08] AskAlexSharov commented on #2783
show `git status` output plz

[2021-10-06 06:11] AskAlexSharov commented on #2783
show output of: `./build/bin/integration print_stages --datadir=<your_datadir>`
and i fixed this panic in `devel` branch

[2021-10-06 06:37] erthink commented on #2777
@NessDan, seems you got RAM glitches. Suggesting run the [memtestx86](https://www.memtest86.com/).

In details:
- all three MVCC snapshots (pointed by each of the three meta-pages) have the same problem;
- the problem is the GC' record #356176 has the four wrong entries (32-bit numbers) in the data;
- each GC' record is a sorted list of page numbers which could be reused in corresponding condition

[2021-10-06 08:11] GBBx commented on #2783
[code]
[code]

[2021-10-06 09:24] mandrigin commented on #2538
@AskAlexSharov is it fixed? I saw somewhere that there are still issues...

[2021-10-06 11:52] AskAlexSharov commented on #2538
Still the issue

[2021-10-06 13:44] NessDan commented on #2777
@erthink thank you, I ran memtest and you were correct!

I removed the faulty sticks, in the meantime is there anything I can do to repair the damage here?

[2021-10-06 13:52] wmitsuda commented on #2729
Got it, left it running overnight and it is happening again. The message is slightly different on this version.

[code]

Lots of these messages.

[2021-10-06 22:52] baruchrb opened #2791 "rpcdaemon always return block 0x0"
#### System information

Erigon version: erigon version 2021.10.1-alpha

OS & Version: Linux alpine3.14 / Linux Ubuntu 20.04

Commit hash : ef80fd54b1c6c82aae92f5fa24cbd381e8577b50

#### Expected behaviour
curl -X POST -H "Content-Type: application/json" --data '{"jsonrpc": "2.0", "method": "eth_blockNumber", "params": [], "id":1}' localhost:8845

{
    "jsonrpc": "2.0",
    "id": 1,
    "result":

[2021-10-07 01:24] #2777 closed

[2021-10-07 01:25] NessDan commented on #2777
Thank you for your help! I'll look into ECC Memory :)

[2021-10-07 12:27] paulmillr opened #2795 "Provide a somewhat stable version"
- https://www.ethernodes.org says 7% of the network is using Erigon
- The [wiki page for transition](https://github.com/ledgerwatch/erigon/wiki/Criteria-for-transitioning-from-Alpha-to-Beta) is unclear if the goals are achieved already. Perhaps you could create a GitHub Project, or use Milestones, or something, to signify what's left to be done for Beta?
- It's very tiring to have Erigon breaking

[2021-10-07 12:37] 0xKrishna commented on #2588
Now not even a single node is working, Earlier when I used to submit txn on local using metamask it used to create block, But now it's not even doing that. Getting this
[code]

Used the same commands as above to run the node

[2021-10-07 18:15] briancolecoinmetrics opened #2797 "erigon 2021.10.02 crashing / restart loop"
#### System information

Erigon version: 2021.10.02

OS & Version: Linux (Alpine 3.14 based Docker image; https://gitlab.com/coinmetrics/fullnodes/erigon/-/blob/main/Dockerfile)

Commit hash : 8b4d31f6617a051285e62ef065d4a9de2a439fb2

This is the startup message:
[code]

#### Expected behaviour

Erigon fullnode should continue running once started until manually stopped or something external break

[2021-10-08 02:13] AskAlexSharov commented on #2791
closing for now, feel free to reopen if need

[2021-10-08 02:13] #2791 closed, assigned to nobody

[2021-10-08 05:33] Uttam-Singhh commented on #2588
Hello @mandrigin,
I think so that the issue is still unresolved as @0xKrishna commented that Now not even a single node is working, earlier it used to work.
I would be grateful if you can reopen this issue again!😇

[2021-10-08 14:58] gelfand opened #2800 "Bug: `eth_subscribe` sends same notification twice for `newHeads`"
#### System information

Erigon version: `./erigon --version`

`erigon version 2021.10.3-alpha`

OS & Version: Windows/Linux/OSX

Commit hash : 5ca558c6670dd96afac472ef573152dda97fc866

#### Expected behaviour

RPC must send notification just one time about latest header as soon as it appears.

#### Actual behaviour

RPC sends two notifications about previous and new header.

#### Steps to reprodu

[2021-10-08 21:45] darklow opened #2802 "Transaction is being added as pending and not propagating to network"
#### System information

erigon version 2021.10.2-alpha
git_branch=stable git_tag=v2021.10.02 git_commit=8b4d31f6617a051285e62ef065d4a9de2a439fb2
OS & Version: Alpine Linux / Docker / Based on official example file
Network: Goerli Testnet

Docker compose config (rpcdaemon in remote mode) :

[code]

Commit hash: 8b4d31f6617a051285e62ef065d4a9de2a439fb2

#### Expected behaviour

Once broadcast - tra

[2021-10-09 00:28] metala opened #2803 "Inconsistent results from eth_call after stage Execution, where blockTag >= current eth_blockNumber - 1"
#### System information

Erigon version: `./erigon --version`
[code]

OS & Version: Windows/Linux/OSX
[code]

Commit hash : 8b4d31f6617a051285e62ef065d4a9de2a439fb2 + I have disabled CallTraces stage

#### Expected behaviour
When you provide block number to `blockTag` in `eth_call`, the data returned should be from the state as if the latest block in the chain is the block number provided.

#### A

[2021-10-09 01:39] #2800 closed, assigned to nobody

[2021-10-09 01:44] AskAlexSharov commented on #2797
@briancolecoinmetrics because commands didn't run: `unknown command "state_hash_state" for "integration"`
show me `integration --help`

[2021-10-09 01:44] AskAlexSharov commented on #2797
It even advising you
[code]

:-)

[2021-10-09 02:29] AskAlexSharov commented on #2662
@KaiRo-at thank you

[2021-10-09 05:03] gabronick opened #2804 "Kovan err="recovery from DB failed: wrong size for MixDigest: 0""
#### System information

Erigon version:  erigon version 2021.10.2-alpha

OS & Version: Linux 4.14.248-189.473.amzn2.x86_64

Commit hash :

#### Expected behaviour

Run erigon

#### Actual behaviour

[ec2-user@Kovan-Archive-3 erigon]$ erigon --datadir /external/kovan --chain kovan
INFO[10-09|04:50:22.468] Build info                               git_branch=HEAD git_tag=v2021.10.02 git_commit=8b4d3

[2021-10-09 05:39] briancolecoinmetrics commented on #2797
Just this?
[code]

And yes, I copy-pasted the command you provided, saw the error, and replaced the command as it suggested (it's the very next command in the typescript); given that it ran that without complaining about the command I assumed I'd substituted correctly?

[2021-10-09 11:28] metala commented on #2803
Update:
I have had a long discussion on this issue in the Discord chat of the project and we came to the conclusion that this is happening because in this test I am starting Erigon and during the first cycle every stage is committed. This is because during the first sync cycle Erigon doesn't know if height can jump with more than 8k blocks, thus Erigon ensures that no data is lost during the first

[2021-10-10 06:10] gabronick opened #2808 "no peers for Kovan"
#### System information

Erigon version:  erigon version 2021.10.2-alpha

OS & Version: Linux 4.14.248-189.473.amzn2.x86_64

Commit hash :

#### Expected behaviour

download kovan headers and blocks

#### Actual behaviour

INFO[10-10|06:06:44.222] Initialising Ethereum protocol           network=42
INFO[10-10|06:06:44.222] Effective                                prune="--prune="
WARN[10-10|06:06:

[2021-10-10 06:32] AskAlexSharov commented on #2808
@e-danko FYI: Sokol has hardcoded forkID https://github.com/ledgerwatch/erigon/blob/5069558752ab951ed79148beb207577d7cbb3c96/core/forkid/forkid.go#L206 (i don’t remember why). Maybe ForkID of Kovan is also not compatible now.

[2021-10-11 02:56] AskAlexSharov commented on #2797
you did correct. but by some reason command was killed.
please try smaller command:
[code]

[2021-10-11 02:59] AskAlexSharov commented on #2802
`[p2p] GoodPeers                          eth66=0 eth65=3` maybe you just have not enough good peers (maybe you propagated txs to them, but the didn't further or did for "not enough big part of network").
Yesterday I merged to `devel` fix which increasing number of good peers (we did drop some good peers) - maybe this will solve your problem.

[2021-10-12 01:29] #2804 closed

[2021-10-12 01:30] AskAlexSharov commented on #2803
Fixed by https://github.com/ledgerwatch/erigon/pull/2809

[2021-10-12 05:54] 0xKrishna commented on #2588
I used the same command as above in older chat
[code]

[2021-10-12 10:05] 0xKrishna opened #2818 "I need state `state` object inside connsensus"
I am implementing a consensus mechanism that is similar to `clique` but has some differences.
Now the problem I am facing here is that I am trying to do some internal contract calls from consensus code itself, To do that I am using thing code
[code]
The problem is that I am not able to get the state inside my consensus code.
In GETH there was `core.Blockchain` object which I passed and used inside