[2022-06-08 10:39] AskAlexSharov commented on #4400
one-time: we may release new db migrations - rare thing.

[2022-06-08 11:50] anonqoder commented on #4356
It is written in the README of the project, and I have the nimbus beaconchain + erigon (simply with ```--prune=hrtc```) running fine, that is why I wonder if that is some sort of leftover

[2022-06-08 12:14] rkapka commented on #4398
I am running Prysm `v2.1.3-rc.2`

Erigon commands: `--datadir ropsten --http --http.api=eth,erigon,web3,net,debug,trace,txpool,engine --authrpc.jwtsecret=/tmp/jwtsecret  --chain ropsten`
Prysm commands: `--http-web3provider=http://localhost:8551 --jwt-secret=/tmp/jwtsecret --genesis-state=./genesis.ssz --ropsten`

[2022-06-08 12:31] babulka123 opened #4408 "Erigon on BSC archive node has a constant height lag of ~2000-3000 blocks"
#### System information
Erigon version: `erigon version 2022.05.9-alpha-97e8c42d`
OS & Version: ubuntu 20.04 in docker
Hardware: 16-cores of CPU / 64GB RAM / ZFS on SSD
Commit hash : 97e8c42d

Trying to sync BSC archive node for some months, all this time facing the same problem. Generally, node's height grows faster than the chain's. But when the gap becomes like 3000 and the node takes the last

[2022-06-08 12:38] babulka123 commented on #4408
Some metrics from prometheus:
![image](https://user-images.githubusercontent.com/98876795/172617736-ece4136b-5996-441f-9303-a164df344c0c.png)

The amount of processed blocks differ, but anyway the node cannot finalize

[2022-06-08 16:55] iFA88 commented on #3953
Sadly the issue is still available with `v2022.06.02` release.

[2022-06-08 20:46] SeaMonkey82 commented on #4398
You don't need this flag anymore.  Genesis state is covered by `--ropsten`.

[2022-06-08 20:56] #3953 closed

[2022-06-09 01:50] AskAlexSharov commented on #4356
@Giulio2002 do you know?

[2022-06-09 07:20] stefanosstef commented on #4233
This time I didn't get this error, instead, after going 100% for the snapshots the output was this:

[code]

it displays this warning for all snapshot files, then continues:
[code]

[2022-06-09 08:39] jondoe1337 opened #4413 "trace_block and trace_transaction is inconceivable slow"
#### System information

Erigon version: `erigon version 2022.05.9-alpha-97e8c42d` (running ETH Mainnet)

OS & Version: Linux / Docker (running on a Dell PowerEdge™ R6515 DX181 with NVMe Raid)

#### Expected behaviour
Tested a few calls using `trace_block` and `trace_transaction` with blocks and transactions that are not more than 500 blocks ago. Both of them take more than 15-30seconds (!). This

[2022-06-09 10:32] artjoma commented on #4413
Version: 2022.06.2-alpha-5632b634 BSC mainnet

Block trace spent 3-5sec it's supper slow

[2022-06-09 11:45] rkapka commented on #4398
Hi, I just updated to commit `644d25d25df7b1ae08b13c6baa32b2779bc8ae33` and everything works OK. I think we can close the issue.

[2022-06-09 11:45] #4398 closed

[2022-06-09 13:51] iFA88 commented on #4413
AFAIK OpenEthereum stores the traces during executing and when you query them it is just a read. On other hand Erigon excecutes them and gives the tracer result back.

[2022-06-09 15:32] mohoff commented on #4400
Seeing the same issue running a dockerized version and restarting with `docker stop; rm; run`

 This happens with `2022.06.01-alpha` but also `2022.06.02-alpha`. Trying to sync mainnet. Running erigon and rpcdaemon as separate processes but in the same container.

[2022-06-09 18:38] nate-staked commented on #4400
The fix for me was to make sure rpcdaemon wasn't running

[2022-06-09 18:40] mohoff opened #4423 "Mainnet Snapshot download stuck at >90%"
#### System information

Erigon version: `v2022.06.02-alpha`

Commit hash : `fd0837d962987636649b5a2a5090601f3410d632`

#### Expected behaviour

Sync mainnet

#### Actual behaviour

Snapshot download stuck at high percentage.

[code]

Deleted all state and tried again but same issue.

[2022-06-09 18:41] mohoff commented on #4385
Thanks, the fix worked!

[2022-06-09 18:41] #4385 closed

[2022-06-09 20:14] tjayrush commented on #4413
I am not a current member of the core team, but I used to be a couple of summers ago. I can confirm what @iFA88 says. That's one of the reasons (there are others) that OpenEthereum requires a 12 TB hard drive and Erigon requires a 2TB hard drive. You can't have everything.

I switched officially from OpenEthereum to Erigon about a year and half ago. The main reason why I didn't do so earlier was b

[2022-06-09 20:20] MrLouzao commented on #4400
Hi. I am running Erigon in a kubernetes service and having the same problem.

[code]

Reading the comments I assume that this is caused by the fact that I am running the erigon and rpcdaemon at the same time, while erigon is trying to locking  exclusively the db.

I turned off the liveness and readiness probes and removed the rpc daemon from the args,  but  I am still receiving the same error. In

[2022-06-10 00:55] lqucool commented on #4233
Get the same err  error closing storage: FlushFileBuffers: The handle is invalid.  Have you solved it?

[2022-06-10 00:57] mohoff commented on #4423
In my situation, restarting erigon without starting rpcdaemon continues downloading snapshots. If rpcdaemon starts too, erigon runs into a db lock issue (see https://github.com/ledgerwatch/erigon/issues/4400)

[2022-06-10 01:43] AskAlexSharov commented on #4233
It's from https://github.com/edsrzf/mmap-go/issues/22

[2022-06-10 01:47] AskAlexSharov commented on #4233
probably solved by https://github.com/ledgerwatch/erigon/pull/4426

[2022-06-10 03:11] AskAlexSharov commented on #3892
Same complains:
https://github.com/ledgerwatch/erigon/issues/3373#issuecomment-1051085411
https://github.com/ledgerwatch/erigon/issues/3373#issuecomment-1149245943

[2022-06-10 03:11] AskAlexSharov commented on #3373
ok, need investigation, let's go to  https://github.com/ledgerwatch/erigon/issues/3892

[2022-06-10 03:40] Sleapy31 commented on #3373
No I haven't solve it yet. In fact I stopped using Erigon because of this issue.
I am glad that I am not alone and someone finally hear us lol.

[2022-06-10 10:30] convexman commented on #4381
Since than GC size seems steadily decreasing bit by bit. Latest values are
[code]

But that does not correlate well with commit cycle time which decreases but at some point deteriorates and skyrockets.

This is what I observe from rpc (blocks in X-axis)
![rpc lag](https://user-images.githubusercontent.com/83774390/173046022-9f7eb354-4fca-4bf8-afe5-412e2c0a55d4.png)

This is graph of commit cycles

[2022-06-10 11:42] babulka123 commented on #4408
This is because of erigon takes batches of various size of blocks to process, sometimes it processes 5000 and sometimes it is about 300.
In the end, we get the working node, but the latest data is 1-2 hours old (or more).
I wonder what would be if the chain stopped generating new blocks for a small time, maybe we could catch up with it and finally have the actual data.

So could it be network or I

[2022-06-10 16:14] mohoff commented on #4423
@AskAlexSharov 6h+ the first time

[2022-06-10 16:26] mohoff opened #4430 "Mainnet sync stuck at `Wrote block headers number=14499999` (seems restarting helps)"
#### System information

Erigon version: `v2022.06.02-alpha`

Commit hash : `fd0837d962987636649b5a2a5090601f3410d632`

#### Expected behaviour

Sync mainnet

#### Actual behaviour

Snapshot download succeeded after a few erigon restarts when it got stuck. However, now it's stuck at `1/16 Write Headers`:

[code]

This repeats so at `-8h5m54.052573606s` now.

Restarting the Erigon process seems to

[2022-06-10 16:59] mohoff commented on #4430
Stuck again

[code]

[2022-06-10 19:42] jondoe1337 commented on #4413
@tjayrush thank you very much for that answer. I came to the same conclusion to try `trace_block` but to be honest, the performance was not excellent for us. For a block that was around 500 behind the tip the call took almost 30s.
Not sure how to proceed here...a flag to include the tracing in the db would be somewhat helpful. For indexing the chain those performance numbers are not feasible. 😢

[2022-06-10 20:18] gebrits opened #4432 "receipt.contractAddress is plain wrong when using web3.eth.getTransactionReceipt"
#### System information

Erigon version: version 2021.11.3-alpha

OS & Version: MacOs 11.1

#### Expected + actual behaviour

When a contract is created, the `receipt.contractAddress` as fetched through `web3.eth.getTransactionReceipt` should contain the address of the just created contract. I assume etherscan is correct so for compare:

`https://etherscan.io/tx/0x42FA398A99A3A656D800B6570C036CB99

[2022-06-10 20:20] stefanosstef commented on #4233
I updated to latest devel. Do I need to delete everything and start over? I'm getting this:

[code]

I verified, rebuild and I'm getting the same, even after deleting from v1-013 and below

After canceling (ctrl+c) I got this:
[code]

[2022-06-10 20:57] tjayrush commented on #4432
Not sure if this helps, but I'm not seeing the same behavior. If I do:

[code]

directly against the node, I get this result:

[code]

This has the correct result for "contractAddress" of "0x1755b682cff797ee083faf3f3e1c3e1015586c60".

This is run against the `devel` branch at git commit:

[code]

[2022-06-10 21:09] tjayrush commented on #4413
My guess is that it will be a very long time before such a flag appears. (Not speaking for the team, of course).

I actually don't think you're correct when you say that "for indexing the chain, those performance numbers are not feasible." 30-second return time is, but we're not seeing that at all.

We have a locally running version of Erigon and our software (TrueBlocks) indexes the entire chain

[2022-06-10 21:21] AlexeyAkhunov commented on #4430
@mohoff Thank you for reporting! In your first log snippet, did you include all the anchor lines? I was looking for anchor with `anchorQueue.idx=0` but did not see it, is it because you did not include it or it wasn't there in the logs?

[2022-06-10 21:23] AlexeyAkhunov commented on #4413
Thanks for report, I will be working with tracing quite soon and will check out this issue as well to see why there might be such a slowdown

[2022-06-10 21:28] AlexeyAkhunov commented on #4413
What is your setup? Do you run separate RPC daemon or embedded?

If you are running separate, are you giving `--datadir` command line option to the RPC daemon?

[2022-06-10 22:11] mohoff commented on #4430
@AlexeyAkhunov Unfortunately I can't check anymore. In the first snippet, I copied all lines before I saw a repetitive pattern. I didn't pay attention to `anchorQueue.idx=0`

[2022-06-10 22:14] mohoff commented on #4430
@AlexeyAkhunov I lied, found it:

[code]

These match the timeframe of the first snippet.

[2022-06-10 22:16] mohoff commented on #4430
With `grep -C 10` the first hit is in this context:

[code]

[2022-06-10 22:32] AlexeyAkhunov commented on #4430
thank you @mohoff !

[2022-06-10 22:32] AlexeyAkhunov commented on #4430
thank you @mohoff !

[2022-06-10 22:38] AlexeyAkhunov commented on #4430
I think I know what causes this, will be fixing it soon

[2022-06-10 22:38] AlexeyAkhunov commented on #4430
I think I know what causes this, will be fixing it soon

[2022-06-10 23:06] AlexeyAkhunov commented on #4430
This will be the fix to test: https://github.com/ledgerwatch/erigon/pull/4433

[2022-06-11 04:23] AskAlexSharov commented on #4233
You can try remove only “datadir/snapshots/db” folder

[2022-06-11 04:25] AskAlexSharov commented on #4408
Can be disk latency, can be zfs issue.
Show more logs.

[2022-06-11 04:30] AskAlexSharov commented on #4381
Thank for info.
We work on it

[2022-06-11 05:13] artjoma commented on #4413
I solved my issue using multiple rpcnodes instances. Right now works fast.

[2022-06-11 13:12] gebrits commented on #4432
@tjayrush migrating now. Should probably be it

[2022-06-11 13:32] tjayrush commented on #4432
I'd be interested to learn if that fixes it.

[2022-06-13 04:32] JekaMas commented on #4396
It might worth it to use the same package with generics and forget about golang interfaces - https://github.com/hashicorp/golang-lru/pull/101

[2022-06-13 16:15] jondoe1337 commented on #4413
We run two separate RPC Daemons and just checked, no we don't have that option added to the run command.

@tjayrush Well, I see those numbers by just doing plain curl commands from the same machine. We synced that machine 2 weeks ago with the newest version, from scratch with the described hardware specs.
And to be honest, I doubt that you index the entire Mainnet within 2 days ;-) TrueBlocks does

[2022-06-13 17:35] geomad commented on #4039
Would it be safe now to run without `--snap.stop` ? I noticed this is what allowed me to have normal commit times.
I stopped updating from devel branch right now, and will continoue when alpha release of erigon2 upgrade 2 is out.

[2022-06-13 18:23] gebrits commented on #4432
@tjayrush yep that did the trick.

[2022-06-13 18:23] #4432 closed

[2022-06-13 19:15] gebrits opened #4440 "No more indexing after GoodPeers-message"
#### System information

Erigon version: version 2021.11.3-alpha

OS & Version: MacOs 11.1

#### Expected behaviour
Indexing should proceed normally

#### Actual behaviour

After a couple of normal index-cycles, the process gets in state 'GoodPeers', and seems to stall there.
Example log from a fresh restart:
[code]

What might be causing this?

[2022-06-13 21:33] mtgnoah commented on #2772
So what will the storage savings be for this? 225gb for the snapshots or are the storage savings greater than this?

[2022-06-14 04:29] vanphandinh commented on #4250
New Warn Message:
```[txpool.fetch] Handling incoming message msg=POOLED_TRANSACTIONS_66 err=RLPTooLong```

[2022-06-14 08:20] #4440 closed

[2022-06-14 16:46] cifer76 opened #4449 "Does Erigon sacrifices the data integrity for less disk usage and high state query performance?"
Hi I'm new to Erigon I'm not sure if the title suits. As my understanding about Erigon, it uses a flatten db schema to store the account state(and history) instead of the merkle patricia tree the Geth uses, actually I and our team are also considering this approach as it can save a lot of disk space the intermediate nodes of the merkle tree occupied, as well as providing a better account state que

[2022-06-15 00:26] eval-exec opened #4455 "Erigon cannot change to a full syncmode node from a snapshot syncmode node"
#### System information

Erigon version:

[code]
OS & Version:
[code]
Commit hash : fd0837d9

#### Expected behaviour

I started a erigon ethereum mainnet snapshot node, and it has sync to mainnet latest height.
But I want to change it to a full syncmode node. so I execute this:

[code]
I expect it should change to a full syncmode node.
#### Actual behaviour
As the `WARN` log describe, it still is

[2022-06-15 01:11] mohoff opened #4456 "Erigon mainnet block height lagging behind OE node"
#### System information

Erigon version: `2022.02.4-beta`

#### Expected behaviour

Erigon not being behind in blocks

#### Actual behaviour

Our Erigon mainnet node is consistently behind in blocks in comparison to an OpenEthereum node. We're seeing diffs of up to 8 blocks, usually 4+ block diff a few times per hour, while we collect block heights every 1 min. Worth mentioning is that the Erigon

[2022-06-15 01:11] mohoff commented on #4456
Will test this using a newer Erigon version once the node is synced

[2022-06-15 03:17] vanphandinh commented on #4340
The same problem
Run:
`curl http://10.0.1.2:8545   -X POST   -H "Content-Type: application/json"   --data '{"method":"trace_block","params":["14962517"],"id":1,"jsonrpc":"2.0"}'`
Got:
`{"jsonrpc":"2.0","id":1,"error":{"code":-32000,"message":"method handler crashed"}}`

[2022-06-15 03:18] vanphandinh commented on #4340
[code]

[2022-06-15 03:20] vanphandinh commented on #4340
Please check: @AlexeyAkhunov

[2022-06-15 05:05] AskAlexSharov commented on #4449
Erigon also calculating state root for new blocks: does it not on PlainState (flatten non-crypto-hashed keys), to calc trie root it using HashedSate (copy of PlainState but crypto-hashed) and storing some branch-nodes in TrieAccount table.

Most space-saving comes from encoding of Historical state changes: by inverted diffs. See: https://github.com/ledgerwatch/erigon-lib/blob/bbf96d05808e5bbcbf78e

[2022-06-15 07:18] alexlee85 opened #4458 "Panic: send on closed channel"
#### System information

Erigon version:
[code]

OS & Version:
[code]

Commit hash :  `ff5cbcb75dd9156e0917406fdf2fb126de629583`

#### Expected behaviour
do not panic

#### Actual behaviour
panic: send on closed channel

#### Backtrace

[code]

[2022-06-15 09:28] emilianobonassi commented on #4250
I've started to receive it from yesterday and erigon is stuck at block 14961000

[2022-06-15 09:42] emilianobonassi commented on #4250
A restart seems to have solved

[2022-06-15 10:08] AskAlexSharov commented on #2772
https://erigon.substack.com/p/disk-footprint-changes-in-new-erigon?s=r

[2022-06-15 10:10] AskAlexSharov commented on #4039
@geomad must be safe. `allowed me to have normal commit times` if your erigon doesn't eat all cpu's - then commit time must be not related.

[2022-06-15 10:14] geomad commented on #4039
Erigon uses minimal amounts of cpu ( 24 threads, 3.8Ghz base clock) but from the original issue and what worked for me I assumed it was a bug with snap and GC

[2022-06-15 11:01] IvanLazarevsky commented on #4097
How is it going?

[2022-06-15 17:36] wmitsuda opened #4464 "Node stuck on sepolia on headers download"
v2022.06.02

I'm attaching the debug logs.

[sepolia-log-debug.txt](https://github.com/ledgerwatch/erigon/files/8911791/sepolia-log-debug.txt)

[2022-06-15 17:51] mtgnoah commented on #2917
Was this feature ever finished?

[2022-06-15 18:05] ytrezq opened #4465 "Please support parity_PubSub"
# Rationale

OpenEthereum is deprecated but the software using it aren’t. The [PubSub](https://openethereum.github.io/JSONRPC-parity_pubsub-module) module allow to turn any rpc methods into a watch method.

Beside compatibility, **extremely useful when the block is set to `pending`** in order to get the transaction to frontrun with `eth_getstorageat`.

# Implementation

No ideas on how to implemen

[2022-06-15 18:31] ytrezq commented on #1992
@AskAlexSharov no idea on how to do this?

[2022-06-15 18:34] ytrezq commented on #2028
@AlexeyAkhunov @AndreaLanfranchi any chance a compatibility breaking change in the Erigon database would be accepted or is reopening https://github.com/openethereum the only way out to support building token rich lists on past blocks?

[2022-06-16 01:59] AskAlexSharov commented on #1992
@ytrezq we just didn't start work on this. we focus on this things now: https://erigon.substack.com/p/erigon-2-three-upgrades?s=r

[2022-06-16 02:00] AskAlexSharov commented on #2917
@mtgnoah no, last PR was abandoned

[2022-06-16 02:04] AskAlexSharov commented on #3892
Just nobody started working on this yet, we focus on https://erigon.substack.com/p/erigon-2-three-upgrades?s=r

[2022-06-16 03:47] Sleapy31 commented on #3892
Ok nvm

[2022-06-16 11:43] babulka123 commented on #4408
Finally, I've found that Erigon on BSC mainnet consumes a great deal of I/O operations, as shown in iotop (up to 60%).
After stopping it, I see ZFS ARC L2 size metrics became like 2.5 times smaller.
It runs on the server alongside other healthy blockchain nodes, and I suppose Erigon has to be executed on a dedicated server.

[2022-06-16 11:43] #4408 closed

[2022-06-16 14:04] AlexeyAkhunov commented on #4097
https://github.com/ledgerwatch/erigon/pull/4461

[2022-06-16 20:55] hrthaowang opened #4471 "Request for a New RPC Endpoint eth_callMany"
# Rationale

We want to request for a new rpc endpoint `eth_callMany`, which provides a flexible interface for users to simulate arbitrary number of transactions at an arbitrary blockchain index. It's extremely useful for getting the intermediate evm state of a blockchain. For regular `eth_call`, we could only get the end state after all of the transactions in that block. We want an api that's sim

[2022-06-17 07:05] nand2 commented on #4458
Same on
`git_branch=heads/v2022.06.03 git_tag=v2022.06.03-dirty git_commit=2a570ad599014c3bc522287967c778792a4eb4f4`
Twice so far in 1 hour.

[2022-06-17 07:33] enriavil1 commented on #4455
Currently if you run erigon for the first time with snapshots on then you cannot switch to using full.

[2022-06-17 10:09] alexlee85 commented on #4458
seems this commit [#4467](https://github.com/ledgerwatch/erigon/pull/4467) already fixed this problem

[2022-06-17 10:09] #4458 closed

[2022-06-17 11:42] tjayrush commented on #4413
@jondoe1337 Are you on the Erigon discord? I'd love to continue the conversation there. Otherwise, glad it's running faster. Do you think the solution has to do with using `--datadir`? I guess you can close this issue?

[2022-06-17 12:33] tropicar opened #4474 "is there any way to know the DB version"
From dappnode, it would be interesting to know if there is some way to know if the current data of the client is a deprecated version (how when there is an update from beta to alpha), does it exist some kind of config file that is in the client or some flag that give you some information related to this?
If this is not possible, does it some way to detect if is possible to do a reset of the db bec

[2022-06-17 17:40] panghalamit opened #4479 "Beta release with Gray glacier support?"
Is there a plan for beta release with support for upcoming gray glacier hardfork?

[2022-06-17 19:51] z3n-chada opened #4481 "override.terminaltotaldifficulty flag overrides erigon genesis configuration values"
#### System information

Erigon version: `erigon version 2022.99.99-dev-ecf528d5`

OS & Version: linux

Commit hash : ecf528d56a059805754337c98156b9056ad34409

#### Expected behaviour
The override.terminaltotaldifficulty flag should override the terminal total difficulty.

#### Actual behaviour
When using the flag it changes the engine back to ethhash (if it was running in clique for example) and

[2022-06-17 21:31] geomad opened #4482 "How to disable build in RPC"
#### System information

Erigon version: git_branch=devel git_tag=v2021.10.03-1315-g50873a5b1-dirty git_commit= 50873a5b1d163924ec7826886c9a9e8b7275e7df

OS & Version:Linux

I am running erigon with `--port 30305` , along with geth (on port 30303) . I use erigons RPC daemon in a different port than 8545.
After upgrading to latest devel I noticed the http api started by default

[code]

So I went a

[2022-06-17 23:40] wmitsuda opened #4484 "Ropsten sync stuck on 2022.06.04"
Note: this is a node which was stopped for many days, I've been syncing it to the tip since yesterday.

Using Erigon Alpha + Prysm.

With 2022.06.04: it got stuck in an eternal loop at block 12409387:

`erigon_1     | [INFO] [06-17|23:06:48.739] Timings (slower than 50ms)               Headers=11.992s Prune Senders=244ms
erigon_1     | [INFO] [06-17|23:06:48.739] Tables

[2022-06-17 23:46] wmitsuda commented on #4484
After downgrading to 2022.06.03: it was still stuck for a few cycles, then it progressed. Not sure if it was the effect of downgrade, or something prysm called that unstuck erigon.

[ropsten-logs.txt](https://github.com/ledgerwatch/erigon/files/8931773/ropsten-logs.txt)

[2022-06-18 01:45] AskAlexSharov commented on #4482
Add to Erigon —http=false

[2022-06-18 02:19] mohoff opened #4485 "Can't deploy contracts to dev chain in 2022.06.06 and 06.04"
#### System information

Erigon version: `2022.06.04`

Commit hash : `e866889b60f8854d574c54686792488a2cacba95`

#### Expected behaviour

Dev chain smart contract deployments succeed

#### Actual behaviour

First contract deployment fails with `header for hash not found`. The erigon logs show nothing special. RPC daemon logs are attached. The same series of contract deployements worked under `v202

[2022-06-18 06:45] geomad commented on #4482
That's what I tried, but then sentry send the error messages in the original post!

[2022-06-18 07:22] AskAlexSharov commented on #4482
Ah, righ

[2022-06-18 07:25] AskAlexSharov commented on #4482
@geomad it’s stupid, but need use: —http=false instead of —http false. No space.

[2022-06-18 09:38] geomad commented on #4482
Haha thanks! You should fix it in the flag description on https://github.com/ledgerwatch/erigon/pull/4470/commits/8f85c0680488ef6be09ab2365778414e5fd7a721 as well then!

[2022-06-19 13:30] sonderangebot10 opened #4495 "How can I set the websocket port to public?"
Hi!

I want to access the websocket port from an external machine. Thus, I need to make the port public instead of private. On geth I can do this by default. However, on erigon I cannot see such an option when running the client.

Is there any easy way to do this? Maybe someone could point me to the location I should modify in the code?

Thanks!

[2022-06-19 13:56] AskAlexSharov commented on #4495
—http.addr=0.0.0.0

[2022-06-19 14:08] #4495 closed

[2022-06-19 14:54] vladgovor77771 opened #4496 "Panic while sync: invalid memory address or nil pointer dereference"
#### System information

Erigon version: `erigon version 2022.99.99-dev-c2518ad6`.

OS & Version: `Linux container-erigon-cc55f474f-98f76 5.4.0-90-generic #101-Ubuntu SMP`.
Running in Kubernetes container. Delegated resources:
[code]
Running mainnet node with prune flags: `./build/bin/erigon --ws --http --prune=hrtc`.

Commit hash : `c2518ad6a336207e9b284e51a54b6256a31c8e1b`
Branch: `devel`

I've

[2022-06-19 16:41] jdubpark commented on #4496
Same error for me as well, syncing for the first time.

**Screenshot**

<img width="850" alt="Screen Shot 2022-06-19 at 11 39 54 AM" src="https://user-images.githubusercontent.com/21009231/174491401-7ad98915-c2db-4674-b17d-6f7574f2c4e8.png">
<img width="850" alt="Screen Shot 2022-06-19 at 11 40 01 AM" src="https://user-images.githubusercontent.com/21009231/174491403-236b071f-7f02-4d0c-9e47-33a53df

[2022-06-19 17:59] mtgnoah commented on #4496
I also got the same error on the same block so I'm wondering if something is odd about that exact block like something is null which usually isn't null. First time syncing too on Ubuntu. settings were `./build/bin/erigon --datadir=mainnet --torrent.download.rate=20mb --http`

[2022-06-19 18:13] mohoff commented on #4479
Yeah, see https://github.com/ledgerwatch/erigon/releases/tag/v2022.04.05

[2022-06-19 18:45] kaikash commented on #4496
Same for me. Looks like a bug?

[2022-06-19 19:46] IvanLazarevsky opened #4497 "Euler upgrade (systemcontracts.upgrade) GenesisHash - no value assigned anywhere"
Hello!
I'm not a Go developer at all, so I will refrain from submitting pull requests, but I've just found one suspicious place while trying to apply Euler upgrade changes over older commit.

Here (https://github.com/ledgerwatch/erigon/pull/4461) by @enriavil1
new variable **GenesisHash** was added.
[code]

It is used to define network here (**core/systemcontracts/upgrade.go**):
[code]

instead of

[2022-06-19 21:19] alysak6075 commented on #4496
Same issue

[2022-06-19 21:37] LiamSteph1208 commented on #4497
Herr

[2022-06-20 02:45] AskAlexSharov commented on #4496
workaround: —snap.stop

[2022-06-20 03:30] mtgnoah commented on #4496
I think commit f838268 may have caused the issue because I migrated back to b06b4b4 and it works fine now. I believe their is an issue in block_snapshots.go in the way blocks are retired

[2022-06-20 05:51] AlexeyAkhunov commented on #4496
This was a regression in 2022.06.04-alpha, fixed in `devel`

[2022-06-20 05:52] AlexeyAkhunov commented on #4496
For now, I recommend downgrading to `2022.06.03` until the next release. Thank you for reporting

[2022-06-20 06:42] unlimittt commented on #4456
Have the same for bsc. CPU: 5950X overclocked 4.5GHz, RAM: 128Gb, 4x SSD: 1Gb WD Black SN850
erigon compiled from latest devel branch
![Screenshot from 2022-06-20 11-02-12 2](https://user-images.githubusercontent.com/3004628/174540590-713684e5-89d8-4bba-81f9-d62ed059f574.png)

[2022-06-20 07:05] jondoe1337 commented on #4413
@tjayrush I never wrote that it's running faster, I was just giving a recap on "how old is that node". Yes I'm on discord there.

[2022-06-20 07:29] AlexeyAkhunov commented on #4497
@IvanLazarevsky Yes, I think you are right, will fix

[2022-06-20 08:07] AskAlexSharov commented on #4456
we have couple solutions for `Commit cycle` speed, currently testing

[2022-06-21 07:36] hritique opened #4510 "Erigon mainnet stuck at `erigon | [INFO] [06-21|07:01:47.459] [p2p] GoodPeers eth66=43`"
#### System information

Erigon version: `./erigon --version`

`erigon version 2022.06.6-alpha-77240899`

OS & Version: Windows/Linux/OSX

Linux - Ubuntu 20.04

Commit hash :

`7724089985bf9cb8bb7d1bde92892256a6af859f `

#### Expected behaviour
The erigon node should sync properly and server RPC queries

#### Actual behaviour
The node gets stuck and stops syncing. The rpcdaemon also stops serving

[2022-06-21 07:47] jdubpark commented on #4496
Can confirm that version `2022.06.30` works. No error on block `5800596`

FYI, `git checkout tags/v2022.06.03 --force` (**WARNING: OVERWRITES**)

![Screen Shot 2022-06-21 at 2 44 28 AM](https://user-images.githubusercontent.com/21009231/174744730-dddcd7c7-fbd8-4434-bc31-50c69e95c636.png)

Thanks @AlexeyAkhunov for the quick response!

[2022-06-21 18:17] MycoinTool commented on #3373
same issue, It's so torturous.
Want to stop using Erigon too.

[2022-06-21 18:51] mohoff opened #4513 "Sync memory footprint under 2022.06.02-alpha"
#### System information

Erigon version:  can't check right now but think it was `2022.06.02-alpha`

#### Behaviour

In a later sync stage of Erigon syncing mainnet, our instance (m6i.2xlarge) crashed. It has 32GB of RAM available and it seems all was used up. Is this expected?

[2022-06-21 19:41] mohoff commented on #4513
Based on the metrics data we have, it seems that when the chain is almost done syncing (or after it's synced), there are heavy read actions happening on the disk. The bottle neck on disk throughput probably cascaded into the client using more memory due to the high CPU I/O wait times?

[2022-06-22 03:57] AskAlexSharov commented on #4513
“ The bottle neck on disk throughput probably cascaded into the client using more memory due to the high CPU I/O wait times?” do you mean IO were wasted for SWAP? Or what?

[2022-06-22 03:58] AskAlexSharov commented on #4513
“ It has 32GB of RAM available and it seems all was used up. Is this expected?”, no but Erigon now a bit hungry (can be improved). do you have logs from that time?

[2022-06-22 04:22] AskAlexSharov commented on #4513
Also you can try update (couple related issues were fixed since your version

[2022-06-22 05:43] anonqoder opened #4515 "Huge resident memory usage during normal operation"
erigon version 2022.06.3-alpha-2a570ad5
Fedora Linux 35
32GB RAM

This is the report from 'top':

|  PID | RES |  RSan  |  SHR  | SWAP  |  %MEM  |   COMMAND
| ---- | ---- |  ----  |  ----  | ----  |  ----  |   ----
| 617451 |  10.6g |   7.1g  |  3.5g  |  573712  |  34.1  |   home/eth/release/erigon --datadir=/home//erigon --prune=hrtc

We can see that ```RSan``` (Resident Anonymous) is at a whoopi

[2022-06-22 17:49] RundongGan opened #4517 "Which version is the best for getting the archive node for Ethereum?"
Hi guys,
I have a question.
My computer has 64G RAM and I have a 4T SSD.
Which version is the best for me to get the Ethereum archive data (stable and fast)?

[2022-06-22 17:54] jondoe1337 commented on #4413
@artjoma the help output says: `(enabled if no --datadir set)` for the `state.cache`. I guess it won't work then?

[2022-06-22 20:57] Denis-score opened #4518 "[BSC] Sync stuck since upgrade to 2022.06.06"
#### System information

erigon version 2022.06.6-alpha-77240899

OS & Version: Linux (debian 11)

Commit hash : 7724089985bf9cb8bb7d1bde92892256a6af859f

#### Steps to reproduce the behaviour
Upgrade to 2022.06.06 then restart

#### Backtrace

[code]

Then nothing more happen. The service loop to "[1/16 Headers] Wrote block headers       number=18907620 blk/second=0.000 alloc=4.0GB sys=4.5GB"

[2022-06-23 00:24] #4517 closed

[2022-06-23 05:25] AskAlexSharov commented on #4250
There were released db migration which fixed this issue

[2022-06-23 05:25] #4250 closed

[2022-06-23 08:48] m4tr0x commented on #4518
Same for me here. The only values moving are "respMin", "respMax" and "dups". What irritates is, that blk/sec is 0 and the number isnt moving any upwards towards the most recent block.

[2022-06-23 09:04] primalcs commented on #4030
Could you please try
`let options = {
    topics: [
        '0x0000000000000000000000002faf487a4414fe77e2327f0bf4ae2a264a776ad2'
    ]
};`

instead of
`
let options = {
    topics: [
        null,
        '0x0000000000000000000000002faf487a4414fe77e2327f0bf4ae2a264a776ad2',
        null
    ]
};`
?

[2022-06-23 11:50] differs opened #4522 "Execute Blocks Stage can use Multi thread"
# Rationale

Why should this feature exist?
excute blocks stage use too much time

[2022-06-23 12:28] AndreaLanfranchi commented on #4522
Cause every block needs to be executed to determine the new states of accounts and contracts touched by transactions held in the block itself.
Multi threading on execution is extremely difficult as block x to be executed needs the state up to block x - 1

[2022-06-23 13:12] #4522 closed

[2022-06-23 13:16] AskAlexSharov commented on #4518
@radian-rgc , not same. Your node does print Error message in logs.

[2022-06-23 13:17] AskAlexSharov commented on #4518
@radian-rgc probably you need update to support Euler hardfork

[2022-06-23 13:44] ekimd opened #4523 "High CPU usage in 2022.06.06"
I'm running the docker image from 2022.06.06 and I'm noticing that the CPU usage is much higher now than with the image I was using previously from Apr/May--somewhere around 3x what it was previously.  Is this expected?

[2022-06-23 14:06] radian-rgc commented on #4518
Thanks @AskAlexSharov

I want to update erigon but need Go1.8 version, i update Golang to the last version but after run make erigon i got the below error:

[code]

What's wrong ?

[2022-06-23 15:17] AskAlexSharov commented on #4523
1 cpu will be used often and heavily to create new snapshots. This expected. Everything else not expected.

Now snapshots production is not very optimized, but even after optimizations probably still better reserve 1 cpu for snapshots production.

[2022-06-23 15:20] ekimd commented on #4523
Understood.  Thanks for the fast response.

[2022-06-23 15:20] #4523 closed

[2022-06-23 15:47] radian-rgc commented on #4518
mistake type 😅 so what about the error ? i think somthing about GOROOT or GOPATH :/

[2022-06-23 16:09] radian-rgc commented on #4518
fixed above problem by `export GO111MODULE="on"`

and now I'm running last version and start migration

![ccs](https://user-images.githubusercontent.com/23151404/175345008-22c1ea05-de4e-436e-a777-0a6b3f63348c.png)

[2022-06-23 18:14] Denis-score commented on #4518
@AskAlexSharov do you have an idea for my issue ? It's not the same.

[2022-06-24 00:17] ytrezq commented on #4153
Correct, it’s trading development time at the expense of slower user runtime (choosing faster to build instead of faster to run binaries).

Sounds like the way to go. Except of course it doesn’t runs nor not even support tracing of…

***Which don’t run Windows only programs inside it.***

*** Just doesn’t works on a Fresh Windows 10 install with many errors like this one to be fixed :

PS C:\Users

[2022-06-24 00:40] wmitsuda opened #4525 "Eliminate the need to modify erigon-lib when adding new table"
This is a code/feature request:

Currently adding a new table requires modifying table.go in erigon-lib, adding a constant to ChainDataTables array.

Problem: I'm doing some tests with new indexes, had to fork erigon-lib and replace the version in go.mod@erigon. Having to rebase it every new release is driving me crazy, pls I need a solution 😛

Is there some workaround that could be coded so I don

[2022-06-24 02:57] AskAlexSharov commented on #4518
@AlexeyAkhunov do you see any insight in this logs: https://github.com/ledgerwatch/erigon/issues/4518#issue-1280890875

[2022-06-24 03:06] AskAlexSharov commented on #4153
“ trackers_all_http.txt: no matching files found” we will fix, it’s about update git submodules.

Ipc - erigon doesn’t support ipc.

[2022-06-24 03:12] AskAlexSharov commented on #4525
1. Can use “replace” in erigon’s go.mod to point it to your local folder “./../erigon-lib”.
2. Can use go.work
3. Can add tables when opening db, by: mdbx.New().Path(p).WithTablesCfg(your_func_to_add_table).Open()

[2022-06-24 08:19] radian-rgc commented on #4518
@AskAlexSharov
After update erigon to the last version and migration complete, the problem come again and block locked at 18907620 🤔🤔

![Screenshot_2022-06-24-12-48-10-707_com sonelli juicessh](https://user-images.githubusercontent.com/23151404/175494327-136ccafe-c551-4881-8746-664327440733.jpg)

Please help, our services are down becuse of this problem

Thank you

[2022-06-24 09:59] masayil opened #4526 "Whats's the difference between rpcdaemon22 and rpcdaemon?"

[2022-06-24 12:17] AskAlexSharov commented on #4518
Try: “./build/bin/integration stage_headers —unwind=10_000 —datadir=<your_datadir>”

[2022-06-24 12:26] radian-rgc commented on #4518
@AskAlexSharov

Nothing change... :(

`./build/bin/integration stage_headers --unwind=10_000 --datadir=dexpool`

Still i go the same error:

`block body hash too few txs amount: 18930041, 1, trace: [stageloop.go:125 panic.go:844 accessors_chain.go:627 accessors_chain.go:521 accessors_chain.go:1099 body_algos.go:151 stage_bodies.go:134 default_stages.go:59 sync.go:327 sync.go:235 stageloop.go:159 s

[2022-06-24 12:51] artjoma commented on #4413
I never used this argument. Help description of -cache looks strange. My point of view, you should create your custom block-tracer and tx-tracer + API methods for them, to reduce trace result size. Your tracer will works only with EVM opcodes what you really need.

[2022-06-24 13:54] AskAlexSharov commented on #4518
"is it possible to skip this block ?" - you can try to remove this check from code, but I don't know what will happen (because I don't know root cause of the problem).

[2022-06-24 15:02] Aracki commented on #4400
I temporarily fixed this by going back to `v2022.04.02`

[2022-06-24 16:08] mohoff commented on #4456
Another data point: Alpha Erigon seems lagging behind Beta Erigon as well. Seeing up to 11 block difference, few times 5-7 blocks difference over the last 24h while collecting metrics every min.

[2022-06-24 18:03] creatzor opened #4530 "eth_getTransactionReceipt crashes"
#### System information

Erigon version: `erigon version 2022.99.99-dev-4e780725`

OS & Version: Linux

Commit hash : ??

#### Expected behaviour
No crash

#### Actual behaviour
Crash

#### Steps to reproduce the behaviour
Call eth_getTransactionReceipt for a lot of receipts (100+)
Try with transactions from this block number `1783947`

#### Backtrace

[code]

[2022-06-24 18:04] gavriilos commented on #4515
Feeling the same pain here. After reading the docs I got pretty sure I would be able to run Erigon in 8 GB of RAM. Unfortunately that's impossible. As of `2022.06.06-alpha`, even with (minor) tweaks such as `--state.cache 0`, it globs up all available memory and eventually gets killed by the OOM killer.

@AskAlexSharov please let us know once those memory optimization are implemented. Would love t

[2022-06-25 01:31] mohoff opened #4533 "dev chain: trace_replayBlockTransactions shows tx with nonce too high for 0-address"
#### System information

Erigon version: `2022.04.1-beta`

#### Expected behaviour

Tracing txs works as expected

#### Actual behaviour

Mostly works, but there's a block it does fail in our test setup:

[code]

Looking at the block, it has a single tx that deploys a contract:

[code]

We do deploy contracts prior to this tx, nonce=3 can make sense in the sense it's the 4th contract deployment. B

[2022-06-25 01:33] mohoff commented on #4533
Now that I think about it, contract deployments should set the to-address to 0, not the from-address. However, `0x61b59cb37f557e2f18ba8b9fbd19aae53fb29f9d` is one of the contracts we deploy. Not sure what's going on there or what this tx is about

[2022-06-25 01:45] mohoff commented on #4533
Looking at `tx.input` I recognize this as one of our regular txs we send. Just `tx.from` should be one of our addresses, not the 0-address. We use the same deployment script for ages and it never caused issues so I'm left to think this is a bug in the dev chain.

[2022-06-25 07:26] AskAlexSharov commented on #4513
Interesting. What if you reduce —batchSize ( 4 times )?

[2022-06-25 07:30] AskAlexSharov commented on #4456
@mohoff what if you add —snap.stop flag?

[2022-06-25 07:51] AskAlexSharov commented on #4153
1. Fixed by https://github.com/ledgerwatch/erigon/pull/4532

[2022-06-25 08:38] zzh1996 opened #4534 "callTracer shows empty output of some subcalls"
#### System information

Erigon version: Both latest alpha `2022.06.06-alpha` and latest beta `2022.04.05-deprecated`

OS & Version: Linux

#### Expected behaviour

callTracer result should be the same as `trace_transaction` and Geth callTracer

#### Actual behaviour

Erigon `callTracer`

[code]

Erigon `trace_tracetransaction`

[code]

Geth `callTracer`

[code]

[2022-06-25 10:09] AskAlexSharov opened #4538 "pruneLogIndex func must use ETL instead of maps: to limit RAM usage"

[2022-06-25 10:50] nikolinsko commented on #4518
First of all thanks for the information about the snapshot of bnbclub, saved me weeks of syncing up.
Are you sure your on a suitable devel commit? I downloaded the snapshot yesterday and could sync it up without a problem, maybe it might help to download the snapshot again otherwise?

[2022-06-26 00:39] Texnomic opened #4540 "(Re)Build Erigon 2 Ethereum Mainnet Archive Node from Snapshots"
May be I'm confused but I'm not able to rebuild my Erigon 2 node to be `Archive` node again. I've the `snapshots` folder but every time it starts syncing from last snapshot.

RPC Methods that targets historical state or WatchTheBurn don't work anymore.

The older `Alpha` releases was simply skipping the `download` stages (because the data is available in snapshot files) and then start the insertio

[2022-06-26 00:49] masayil opened #4541 "--rpc.accessList problem"
When I add the flag `--rpc.accessList=/root/svc/rules.json` , `--http.api "eth,web3,net"`  it doesn't work

[2022-06-26 00:55] masayil commented on #4541
![image](https://user-images.githubusercontent.com/65291464/175794958-af5ec346-ca55-415e-8ae3-eaec17ee2033.png)
If I want to enable RPC methods - `eth_newBlockFilter, eth_newPendingTransactionFilter, eth_newFilter, eth_getFilterChanges` , I have to manually add the other rpc methods under namespaces `eth,web3,net` into the `rules.json`

[2022-06-26 00:57] #4526 closed

[2022-06-26 00:58] masayil opened #4542 "Whats's the difference between rpcdaemon22 and rpcdaemon?"

[2022-06-26 01:43] wetezos opened #4543 "Deadlock of sync & RPC under load."
#### System information

Erigon version: `./erigon --version`
erigon version 2022.06.6-alpha-77240899
OS & Version: Windows/Linux/OSX
Linux version 4.15.0-163-generic (buildd@lcy01-amd64-021) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #171-Ubuntu SMP Fri Nov 5 11:55:11 UTC 2021
Commit hash :
(HEAD detached at v2022.06.06)
#### Issue
When I upgrade to the latest version, When the number of a

[2022-06-26 02:31] AskAlexSharov commented on #4543
Not enough logs.
maybe it does DB migration?

[2022-06-26 06:54] AskAlexSharov commented on #4542
22 it’s our experimental version with another data model. It’s about Erigon2 Upgrade2: https://erigon.substack.com/p/erigon-2-three-upgrades

[2022-06-26 06:55] #4542 closed

[2022-06-26 06:57] AskAlexSharov commented on #4541
Please be carefull with asterisk(star) “*” - shell may replace it with files list.

[2022-06-26 07:00] AskAlexSharov commented on #4540
1. Do “—snapshots=false” instead of “—snapshots false”
2. I don’t understand problem, show some logs

[2022-06-26 07:03] AskAlexSharov commented on #4540
Important: —snapshots=true producing Archive node! It’s just algorithm of sync. If you don’t set —prune flags, you will still have Archive node - just part of data will located in snapshots instead of db, but RPC can read them.

—syncmode flag were removed to reduce confusion

[2022-06-26 07:15] masayil commented on #4541
![image](https://user-images.githubusercontent.com/65291464/175803639-622c30af-e22d-45f4-8e93-03d36ca03292.png)
I remove it!

`--rpc.accessList`   overrides the parameter `--http.api`

[2022-06-26 10:15] wetezos commented on #4543
The node has been upgraded for about 3 days. No DB migration logs are seen. The migration should be completed

[2022-06-26 11:39] AskAlexSharov commented on #4543
Show more logs

[2022-06-26 20:32] wmitsuda commented on #4541
when you use --rpc.accessList, you need to specify *ALL* individual methods in the rules.json file. I know that because I use the same configuration, both params work together ("AND").

So, --http.api means "you are allowed to use those namespaces", but specifying --rpc.accessList reset all allowances.  But specifying only --rpc.accessList is not enough, but need to specify the methods AND enable

[2022-06-26 22:00] Texnomic commented on #4540
Okay, I've started it from a clean directory with only the `snapshots` folder.  It is now stuck at block `14501535`. Erigon Release `2022.06.06`.

<details>
  <summary>Loop</summary>

[code]
</details>

<details>
  <summary>Full Output</summary>

[code]
</details>

[2022-06-27 00:43] #4541 closed

[2022-06-27 02:51] masayil opened #4547 "eth_getFilterLogs not yet implemented ?"
**eth_getFilterLogs**  not yet implemented ?
I can't find any information from RPC Implementation Status (https://github.com/ledgerwatch/erigon/tree/devel/cmd/rpcdaemon)

[2022-06-27 03:41] AskAlexSharov commented on #4547
Something was implemented here: https://github.com/ledgerwatch/erigon/pull/4253

[2022-06-27 03:45] AskAlexSharov commented on #1736
Was implemented by https://github.com/ledgerwatch/erigon/pull/4253

[2022-06-27 03:45] #1736 closed

[2022-06-27 10:34] #4547 closed

[2022-06-27 16:11] du5 opened #4553 "panic: slice bounds out of range"
Erigon version: `./erigon --version` git_tag: v2022.06.06 git_commit: 7724089985bf9cb8bb7d1bde92892256a6af859f

can not reproduce bug,

command:
[code]

logs:
[code]

[2022-06-27 17:52] hrthaowang opened #4554 "`rawdb.ReadHeader()` cannot find blocks"
#### System information

erigon version 2022.99.99-dev-63fa65cf

#### Behavior
When I called `eth_estimateGas`, it could not find the block header.

`ValueError: {'code': -32000, 'message': 'block 14917087(a62c8a3c98465abaabc2d60e9b067a4e05634791e7627b787a094b35a5e7af31) not found'}`

#### Steps to reproduce the behavior
We can reproduce this behavior with this script.
`w3.eth.estimate_gas({"to":"

[2022-06-27 23:59] mohoff commented on #4485
Facing the same on latest release `2022.06.06`, commit is `588c2d4e36b68a59580154fc20f4c3e75ad36623`

[2022-06-28 04:03] AskAlexSharov commented on #4554
I think you also synced with snapshots. It means your db has no old headers. "rawdb" it's package to read db only.
anyway, agree (api.blockByNumberWithSenders also will use blocksLRU - which is make sense for estimateGas i think): https://github.com/ledgerwatch/erigon/pull/4556

[2022-06-28 04:04] AskAlexSharov commented on #3676
you can fix it in https://github.com/ledgerwatch/secp256k1

[2022-06-28 04:30] AskAlexSharov commented on #4553
Handled crash by: https://github.com/ledgerwatch/erigon/pull/4557

[2022-06-28 09:17] gfxlabs opened #4560 "Improved health check / health check for syncing"
# Rationale

Hi!

In order to keep our RPC downtime low, we run multiple nodes and load balance between them.

However, with the current healthcheck, it responds a successful code even if the node is still syncing, and it's hard to configure a
 complicated dynamic health check request to use the block number in body for the health check. Not to mention it's a bit annoying sometimes to send a reque

[2022-06-28 10:24] #4553 closed, assigned to nobody

[2022-06-28 12:00] battlmonstr opened #4563 "eth 67 support"
# Rationale

https://eips.ethereum.org/EIPS/eip-4938

# Implementation

Do you have ideas regarding the implementation of this feature?

Need to support both eth/66 and eth/67, because BSC doesn't support eth/67.
Need to delete Node Data from sentry.proto even for eth/66, because it is not used in reality.

Are you willing to implement this feature?

possibly

[2022-06-28 18:52] c0deright opened #4566 "2022.06.6-alpha does not sync: err="[1/16 Headers] ancestor is nil. height 1, hash d4e56740f876aef8c010b86a40d5f56745a118d0906a34e69aec8c0db1cb8fa3""
#### System information

Erigon version: erigon version 2022.06.6-alpha-77240899
git_commit=7724089985bf9cb8bb7d1bde92892256a6af859f

OS & Version: Ubuntu 20.04 LTS

#### Expected behaviour

Erigon does sync after downloading the snapshot

#### Actual behaviour

Erigon does loop an error and does nothing after torrent download.

#### Steps to reproduce the behaviour

Start erigon as follows:

`eri

[2022-06-29 03:09] AskAlexSharov commented on #4566
remove `--snap.stop`

[2022-06-29 05:39] dan-nathan commented on #4030
I'm running similar issues with my erigon node running on Ubuntu 22.04 on commit aa798534. If I only have one log subscription it works fine, but running multiple at once with different topic/address queries causes unexpected behaviour. I'm testing using go-ethereum with this simple program, which subscribes to logs with the option to filter by address `0xdac17f958d2ee523a2206206994597c13d831ec7`

[2022-06-29 07:12] tropicar commented on #4400
I have this issue too, I am using docker-compose, rpdaemon and erigon in two separate containers. If I stop the rpcdaemon container the error does not appear.

[2022-06-29 07:58] c0deright commented on #4566
Works now:

[code]

Can you clarify why `--snap.stop` *(Stop producing new snapshots)* is causing this issue? I have assumed it's a setting only affecting **creation** of snapshots, not extracting downloaded snapshots.

[2022-06-29 08:36] AskAlexSharov commented on #4400
This is how exclusive mode in mdbx works. We don’t plan to change it.

[2022-06-29 08:36] #4400 closed

[2022-06-29 08:40] AskAlexSharov commented on #4566
Maybe we will change it in future

[2022-06-29 10:46] ytrezq commented on #4153
That’s far from being the single problem. @AskAlexSharov it shouldn’t be the user’s issue instead of the developer’s issue to get the rpcdaemon available on `\\.\pipe\geth.ipc`. I don’t mind about a Windows based docker but it has to be provided.

Sorry, I was meaning the rpcdaemon of course.

[2022-06-29 12:21] AskAlexSharov commented on #4153
Docker: https://hub.docker.com/r/thorax/erigon
If something doesn't work - please create an issue

[2022-06-29 12:39] KaiRo-at commented on #4515
FWIW, since about June 20, so that should be the update to 2022.06.05 or .06, our Goerli node looks a lot like it has a memory leak, consuming more and more memory the longer it runs, and it pretty much starts off with higher usage than the versions before.

[2022-06-29 14:21] AskAlexSharov commented on #4515
@KaiRo-at we have 1 same report from BSC. Investigating. You can try to attach logs here, maybe it will helpful.

[2022-06-29 14:42] #4554 closed

[2022-06-29 18:46] tirumerla commented on #4560
@gfxlabs Interesting, i'm in the same boat as you (currently working on an implementation to make sure our nodes sync ). Our nodes are behind an NLB. While health checks are using GET calls, i usually use a POST call to get the latest block number ( to test if the node is syncing properly ). I'm planning on adding a reverse proxy ( like nginx or traefik ) to modify incoming GET request to a POST r

[2022-06-29 20:28] mohoff commented on #4456
Tested this over night but not helping @AskAlexSharov

Generally, do you recommend adding `--snap.stop` to Alpha nodes that finished the initial sync?

[2022-06-30 00:07] gfxlabs commented on #4560
@tirumerla yep! here, i actually started writing up what i was thinking with the headers, it's here

https://github.com/ledgerwatch/erigon/blob/c1c34c87162cc008c6e8e3b2c7561786e6f1a06f/cmd/rpcdaemon/health/health.go#L81-L135
and yes exactly, i really wanted to avoid putting a proxy in the middle.  so with this, i make a GET request to `/health` with
headers:
[code]
so this will make sure that the

[2022-06-30 02:29] AskAlexSharov commented on #4456
No. `--snap.stop` it's just workaround if your node can't work because of some bug related to new snapshots creation.

[2022-06-30 02:30] AskAlexSharov commented on #4456
"but not helping" - what does it mean?

[2022-06-30 02:42] AskAlexSharov commented on #4153
In perfect world: wouldn’t it be simpler to be always healthy and rich?

I'm totally agree with everything you say, but it's low-priority very-big task. High priority: archive node sync speed and size, the-merge support.

"that version of docker doesn’t let use Windows pipes" - I don't understand the problem, create issue with command and error message we can't fix it.

[2022-06-30 05:09] mohoff commented on #4456
It means we still see the same block lag as described in OP

[2022-06-30 08:00] ytrezq commented on #4153
The image contains a Linux os. Not Windows.

[2022-06-30 08:23] codylittle opened #4584 "Changing prune flags during initial sync"
Hey all,

I'm aware that changing prune flags after sync is prohibited as outlined in #3658.
However, I'm "most" (15m/19m) of the way through a sync of the BSC mainnet and have had a change of heart on not pruning.

Is the general advise still to just resync, or is there documentation available on the tool referenced by [Alex](https://github.com/ledgerwatch/erigon/issues/3658#issuecomment-10660140

[2022-06-30 09:35] AlexeyAkhunov commented on #4518
I can see the error is starting at Euler hard fork block, but I don't know why. perhaps that was a block from un-upgraded node, in which case it should have recovered

[2022-06-30 09:43] AlexeyAkhunov commented on #4518
@AskAlexSharov I suspect these nodes that are failing like that are having the pre-alpha DB format (as they started syncing on experimental versions prior the first alpha release). @radian-rgc @Denis-score please confirm what was your previous version. To fix that, you'll probably need to reset all the block bodies and re-download them, by using
`./build/bin/integration stage_bodies --reset --data

[2022-06-30 09:43] #4497 closed

[2022-06-30 11:16] AskAlexSharov commented on #4584
We don't allow change prune flags after node creation. For now re-sync is needed.
We will re-visit this problem after Erigon2 Upgrade2 release: https://erigon.substack.com/p/erigon-2-three-upgrades

[2022-06-30 11:16] #4584 closed

[2022-06-30 11:18] AskAlexSharov commented on #4456
ah.
current status: we have couple solutions for "Commit cycle" speed, currently testing

[2022-06-30 11:45] farwayer opened #4586 "Error building when using erigon module as dependency for extended rpc daemon"
[code]

I'm not Go pro dev but look like `go get` do not initialize `erigon-snapshots` git submodule in `erigon/turbo/snapshotsync/snapshothashes`. Сan you suggest how to fix this error?

[2022-06-30 12:30] enriavil1 commented on #4530
Is this still happening?

[2022-06-30 13:30] breezytm opened #4589 "Error - Could not connect to DB"
#### System information

Erigon version: `2022.99.99-dev-60b5a9ef`

OS & Version: `Ubuntu 20.04.4 LTS`

Commit hash : `sha256:d4b9a2121592e5bb4e54ab16d6411138efe33bb4b8ccf571a4e12bafaacc04c4`

#### Actual behaviour
This issue began to occur after pulling the latest devel image using ``docker-compose pull``

#### Backtrace

[code]

[2022-06-30 13:53] AndreaLanfranchi commented on #4589
Have you tried the suggestion ?

Likely because hardware failure.
Before creating issue please use tools like https://www.memtest86.com to test RAM and tools like https://www.smartmontools.org to test Disk. To handle hardware risks: use ECC RAM, use RAID of disks, run multiple application instances (or do backups). If hardware checks passed - check FS settings - 'fsync' and 'flock' must be enabled

[2022-06-30 14:06] breezytm commented on #4589
🤔
 I have other chain nodes running on the same hardware running just fine. Only the two erigon nodes are down with the same error.

[2022-06-30 14:22] AndreaLanfranchi commented on #4589
Other chain nodes ... probably their node implementation do not use MDBX.
Please try the suggestion.

[2022-06-30 14:33] AskAlexSharov commented on #4586
git submodules
You can run “make erigon” it will update git submodules for you

[2022-06-30 15:09] mandrigin commented on #4560
@gfxlabs kudos for the issue! we can try to upstream your changes relatively soon, are you running a fork right now?

[2022-06-30 15:13] mandrigin commented on #4515
@KaiRo-at can you try to run it with `--pprof` and then take a heap profile after your node suspiciously grew in RAM?

if you enable this flag then you can do `curl <node_address>:6060/debug/pprof/heap > heap.out` and then share this file with us here on in Discord so we can see the trace?

[2022-06-30 15:16] mandrigin commented on #4513
@mohoff can you run the node with `--pprof` flag and when it uses close to all the RAM do `curl http://<node_address>:6060/debug/pprof/heap > heap.out` and share the file here?

[2022-06-30 15:19] mandrigin commented on #4496
closing this one because I assume it isn't the issue on the latest release (https://github.com/ledgerwatch/erigon/releases/tag/v2022.06.06). Please reopen if that is not true.

[2022-06-30 15:19] #4496 closed

[2022-06-30 15:20] #4482 closed

[2022-06-30 15:20] #4479 closed

[2022-06-30 15:21] mandrigin commented on #4430
@mohoff please reopen if still happening on the latest release

[2022-06-30 15:21] #4430 closed

[2022-06-30 15:22] #4449 closed

[2022-06-30 15:26] mandrigin commented on #4324
please reopen if the issues persist

[2022-06-30 15:26] mandrigin commented on #4363
@AskAlexSharov do we still need to sanitize the request?

[2022-06-30 15:28] mandrigin commented on #4267
@AskAlexSharov is that the fix that you mentioned today?

[2022-06-30 15:29] mandrigin commented on #4288
You just have too few peers it seems like
[code]

This stage is networking-bound and dependent on the amount and quality of the peers. Try opening p2p ports so other nodes can discover yours.

[2022-06-30 16:14] mandrigin commented on #3899
@yperbasis please reopen if still valid

[2022-06-30 16:14] #3899 closed

[2022-06-30 16:16] mandrigin commented on #3878
@AskAlexSharov I think it is possible to have a "multiplatform" Docker image using `docker buildx` command, but the question is do we want to do so? :) If so, I can try to fix it, otherwise we can close this issue.

[2022-06-30 16:17] mandrigin commented on #3698
@sunce86 please reopen if still happens

[2022-06-30 16:17] #3698 closed

[2022-06-30 16:19] mandrigin commented on #3878
okay, it is a duplicate of https://github.com/ledgerwatch/erigon/issues/3676 anyway

[2022-06-30 16:19] #3878 closed

[2022-06-30 16:20] mandrigin commented on #3676
the issue is also in #0 75.31 /go/pkg/mod/github.com/anacrolix/go-libutp@v1.2.0/status.go:9:2: undefined: mu

if you want an ARM image, I would suggest building your own for a single platform for now.

[2022-06-30 16:22] #3625 closed

[2022-06-30 16:22] mandrigin commented on #3779
looks fixed to me, feel free to reopen if not

[2022-06-30 16:22] #3779 closed

[2022-06-30 16:24] mandrigin commented on #3434
@SpontaneousOverthrow well, "missing trie node" is a very geth-specific error, you won't get it anywhere except geth, neither in Nethermind, nor in Besu nor in Erigon.

Method handler crash should be investigated though.

[2022-06-30 16:27] mandrigin commented on #2446
@Denis-score please reopen if still happens

[2022-06-30 16:27] #2446 closed

[2022-06-30 16:28] mandrigin commented on #1866
@yperbasis there is no more demo branch. If that issue still is relevant, please reopen.

[2022-06-30 16:29] mandrigin commented on #1255
assume that is fixed, closing

[2022-06-30 16:29] #1255 closed

[2022-06-30 16:30] mandrigin commented on #2224
not sure how that is related to a node...

[2022-06-30 16:30] #2224 closed

[2022-06-30 16:56] N3KRoN opened #4592 "Error sync node from some last blocks"
#### System information

Erigon version: 2022.99.99-dev-c03d5735

OS & Version: Linux

Today about 50 minutes ago the node stopped syncing, on manual restart I got an error in TxLookup
<img width="1227" alt="Screen Shot 2022-06-30 at 19 55 10" src="https://user-images.githubusercontent.com/11051346/176734548-f3f5fed6-9ea3-4121-b2a5-5d4f3e07a65e.png">

[2022-06-30 17:00] #2659 closed

[2022-06-30 17:00] #2658 closed

[2022-06-30 17:00] #2660 closed

[2022-06-30 17:27] N3KRoN commented on #4592
`INFO[06-30|19:23:46.354] Starting metrics server                  addr=http://127.0.0.1:6060/debug/metrics/prometheus
INFO[06-30|19:23:46.354] Build info                               git_branch=devel git_tag=v2021.10.03-1381-gc03d57356 git_commit=c03d57356c225eeafd703e95d52ec9823881d8e9
INFO[06-30|19:23:46.354] Starting Erigon on Ethereum mainnet...
INFO[06-30|19:23:46.355] Maximum peer count

[2022-06-30 17:40] Sleapy31 opened #4593 "Erigon BSC panic when I close a subscription"
#### System information

Erigon version: `./erigon --version`
erigon version 2022.99.99-dev-087105d1

OS & Version: Windows/Linux/OSX
Ubuntu 20.04

Commit hash :
commit 087105d1f31d83ff88ceeca30dfe36dc01de28d7

#### Expected behaviour
When I close a subscribtion, it close it and Erigon continue to run. If I close my application with a subscription open, Erigon should not panic

#### Actual behavio

[2022-06-30 18:43] breezytm commented on #4589
It seems like the issue was permission related on the chaindata folder. Changed the permission on the directory and it is no longer crashing. Now the node is stuck on `block=15050001`

[code]

[2022-06-30 18:55] wmitsuda commented on #4484
I think this could be closed, didn't see it anymore.

[2022-06-30 18:55] #4484 closed

[2022-06-30 19:16] tjayrush commented on #4589
My guess is that if your chain is stuck on block 15050001 you haven't upgrade to include the Grey Glacier hard fork. Pull the latest version of Erigon and re-build and it should correct itself.

[2022-06-30 19:22] breezytm commented on #4589
I upgraded to the latest devel docker image already.

I think I may need to do this ➡️ [https://github.com/ledgerwatch/erigon/issues/4268](https://github.com/ledgerwatch/erigon/issues/4268)

[2022-06-30 19:52] breezytm commented on #4589
I just realized there was an update push about an hour ago for `devel` in docker hub but didn't work.

[code]

[2022-06-30 20:00] elee1766 commented on #4560
hey, thanks!

yeah, I'm running the fork right now on both of my nodes.

[2022-06-30 23:59] gfxlabs commented on #4560
oh that was my other account lol, the fork is here https://github.com/gfxlabs/erigon/tree/feat/healthcheck-2

[2022-07-01 03:48] lcgogo commented on #4540
Your log shows:
INFO[06-26|20:59:57.770] Using snapshots                          on=true

Below is my startup options
[code]

and my log shows
[code]

[2022-07-01 03:59] masayil opened #4596 "How to startup a bsc customize private chain."
Does erigon support this feature（customize private chain）?     If yes,  `--chain`  How should I set this parameter

[2022-07-01 04:27] AskAlexSharov commented on #4267
yes

[2022-07-01 04:27] #4267 closed

[2022-07-01 04:28] AskAlexSharov commented on #4363
let's close it for now

[2022-07-01 04:28] #4363 closed

[2022-07-01 04:31] AskAlexSharov commented on #4540
FYI: can't change --snapshots flag value after node creation

[2022-07-01 04:31] AskAlexSharov commented on #4596
See https://github.com/ledgerwatch/erigon/blob/devel/DEV_CHAIN.md

[2022-07-01 04:31] #4596 closed

[2022-07-01 04:39] masayil commented on #4596
The consensus protocol is clique. Can it change to parlia?

[2022-07-01 04:41] masayil commented on #4596
The consensus protocol is clique. Can it change to parlia? Create a BSC private chain?

[2022-07-01 06:02] AlexeyAkhunov commented on #4592
Can you show the logs of when it stopped syncing before you restarted? Any errors happened there (look for `EROR` and `WARN` strings)

[2022-07-01 07:13] N3KRoN commented on #4592
error here:
`WARN[06-30|19:25:18.845] [6/16 Execution] Execution failed block=15051225 hash=0x46252ba27024920def0df49be70059030447e62d76cd95bccf789218a29a9c96 err="could not apply tx 8 from block 15051225 [0x318d53b3cb96ef80172e0c6b63c61336a89f08811cf477aa959d614f8bce1656]: nonce too low: address 0x8729539b95216E4fdD82957C05766CfeBaf75960, tx: 4080 state: 4081"
INFO[06-30|19:25:18.845] UnwindTo bl

[2022-07-01 08:54] UliGall opened #4599 "erigon_getHeaderByNumber: block header not found"
#### System information

Erigon version: erigon version 2022.99.99-dev-16e57aa8

OS & Version:  Ubuntu 22.04 LTS (GNU/Linux 5.15.0-40-generic x86_64)
Machine:  AMD Ryzen 9 5950X, 128 GB RAM, 2x4TB NVMe SSD in RAID1

Commit hash :  16e57aa8a2a94a8ec872b088c9c9f43ac818d979

#### Expected behaviour

I want to use Trueblocks (I already opened an issue [there](https://github.com/TrueBlocks/trueblocks-c

[2022-07-01 12:11] javibitso commented on #4456
we have this same problem using version `v2022.06.03`. Sometimes we are behind the current block by more than 80 blocks compared to other implementations. It always returns `synced: false` when this happens.

[2022-07-01 12:46] mandrigin commented on #4464
@wmitsuda is that still happens on the latest block?

[2022-07-01 13:25] farwayer commented on #4586
@AskAlexSharov I'm not building erigon itself, we are using `erigon` go module as dep for custom rpc daemon (with extended API). In this case importing some stuff from `erigon` causes building error

[2022-07-01 16:50] Sleapy31 commented on #4593
Hi, I still have an issue, not exactly the same but it's related.

panic: send on closed channel

goroutine 5638 [running]:
github.com/ledgerwatch/erigon/turbo/rpchelper.(*Filters).OnNewEvent(0xc0b069a780, 0xc000118060?)
        github.com/ledgerwatch/erigon/turbo/rpchelper/filters.go:465 +0x32b
github.com/ledgerwatch/erigon/cmd/rpcdaemon/rpcservices.(*RemoteBackend).Subscribe(0xc0b4ab27d0, {0x1f3

[2022-07-01 17:35] primalcs commented on #4593
sorry, found this one too

[2022-07-01 17:46] wmitsuda commented on #4464
I haven't synced from scratch again, so I can't say it for sure.

[2022-07-02 01:14] breezytm commented on #4589
Any update on how to fix this issue? I can't be the only one who failed to upgrade in time and is stuck on this block.

[2022-07-02 03:20] pospool opened #4606 "unwind: empty block body 15050000"
#### System information

Erigon version: `./erigon --version`
erigon version 2022.05.6-alpha-327e7d96
OS & Version: Windows/Linux/OSX
Ubuntu 18.04

My node's data was out of sync yesterday, and the following error was reported when checking the log. How can I solve it?

`Jul 02 05:11:48 Ubuntu-1804-bionic-64-minimal erigon[16988]: [EROR] [07-02|05:11:48.288] Staged Sync

[2022-07-02 04:09] AskAlexSharov commented on #4606
15050000 it's https://blog.ethereum.org/2022/06/16/gray-glacier-announcement/
try update erigon version

[2022-07-02 04:10] AskAlexSharov commented on #4589
15050000 it's https://blog.ethereum.org/2022/06/16/gray-glacier-announcement/
try update erigon version

[2022-07-02 06:01] breezytm commented on #4589
I am running ``erigon version 2022.99.99-dev-fff6e4ff``

[2022-07-02 06:03] breezytm commented on #4589
Can you please confirm if that is the version I am supposed to be on

[2022-07-02 06:06] AskAlexSharov commented on #4589
must be ok. restart erigon and show more logs here.

[2022-07-02 06:10] breezytm commented on #4589
please let know if you need more

[code]

[2022-07-02 06:14] breezytm commented on #4589
That was from earlier
[code]

[2022-07-02 08:47] hritique commented on #4543
We are also facing the same issue. https://github.com/ledgerwatch/erigon/issues/4510
When there are clients connecting to the RPC, it stops syncing after a while and the RPC becomes unreachable
And the logs(pasted in the issue) keeps repeating forever.

[2022-07-02 09:57] justincavery opened #4607 "debug_traceTransaction needs to be fixed to deal with missing transactions"
#### System information

erigon version 2022.99.99-dev-e1dec529

OS & Version: Ubuntu 20.04

Commit hash :

i've just run a git fetch git pull on the node (about 2 or 3 months old) and restarted docker.  I'm seeing this in the logs and I'm not sure if that's expected or whether I just need to sync from the start again

[code]

[2022-07-02 14:05] roberto-bayardo commented on #3659
I just got OOM in stage 10 first time trying to sync:

[code]
OOM logs:

[code]

[2022-07-02 22:50] splix opened #4612 "Stuck on 15050007"
#### System information

[code]

But the same problem was with `v2022.06.06`

OS & Version: Linux

#### Actual behaviour

[code]

And it continues indefinitely. Restart doesn't help.

[2022-07-02 23:13] splix commented on #4612
Tried `integration stage_headers --unwind=10` but it doesn't help as well

[2022-07-03 03:43] AskAlexSharov commented on #4612
try
[code]

[2022-07-03 07:31] pospool commented on #4606
Whe I upgraded Erigon to the  2022.06.6-alpha-77240899, I got this error:

`Jul 03 09:21:00 Ubuntu-1804-bionic-64-minimal erigon[1420]: [INFO] [07-03|09:21:00.137] [6/16 Execution] Unwind Execution        from=15050008 to=15049999
Jul 03 09:21:03 Ubuntu-1804-bionic-64-minimal erigon[1420]: [INFO] [07-03|09:21:03.210] [4/16 Bodies] Processing bodies...       from=15049999 to=15068160
Jul 03 09:21:2

[2022-07-03 08:41] AskAlexSharov commented on #4606
FYI: https://www.markdownguide.org/extended-syntax/#fenced-code-blocks

[2022-07-03 08:42] AskAlexSharov commented on #4606
try:
[code]

[2022-07-03 09:22] xiaogea01 commented on #4612
meet the same issue

[2022-07-03 15:42] du5 opened #4619 "panic: runtime error: slice bounds out of range [:-1]"
version info `git_branch=HEAD git_tag=v2022.07.01 git_commit=0977639431fe520fc77399d03cdeba36526d2d52`

flags ` --prune= --prune.h.older=5000 --prune.r.older=5000 --prune.t.older=5000 --prune.c.older=5000 --chain=bsc --db.pagesize=16k `
[code]

[2022-07-03 16:10] splix commented on #4612
@AskAlexSharov yes, that helped. Thank you.

I guess the critical command is `integration state_stages --unwind=10`, because just `stage_headers` was not enough.

[2022-07-04 03:46] pospool commented on #4606
After the execution is completed, there is a new error report

`Jul 04 05:42:48 Ubuntu-1804-bionic-64-minimal erigon[12079]: [EROR] [07-04|05:42:48.009] Staged Sync                              err="must not happen, ResetSequence: 1122983, lastInDB: 1652931666, trace: [stageloop.go:116 panic.go:844 accessors_chain.go:841 stage_bodies.go:284 default_stages.go:62 sync.go:359 sync.go:203 stageloop.go

[2022-07-04 06:35] zeedevio commented on #4612
This fixed my node

[2022-07-04 07:19] mandrigin commented on #4607
@justincavery how do you reproduce that? any transaction IDs?

[2022-07-04 07:21] mandrigin commented on #4612
@splix @AskAlexSharov would you mind adding that info to our "troubleshooting" section in README? I will close the bug in the meantime.

[2022-07-04 07:23] mandrigin commented on #4593
@primalcs @AlexeyAkhunov so was it fixed? If so, please close the issue

[2022-07-04 07:26] mandrigin commented on #4560
nah, it is to normal RPCDaemon, but we will check if we can add this natively

[2022-07-04 10:32] zhonglinwei opened #4627 "how to close snapshot?"
command:
erigon --snapshots=false --snap.stop --private.api.addr=0.0.0.0:9090 --sentry.api.addr=sentry:9091 --downloader.api.addr=downloader:9093 --txpool.disable --metrics --metrics.addr=0.0.0.0 --metrics.port=6060 --pprof --pprof.addr=0.0.0.0 --pprof.port=6061

I have deleted snapshots dir data. when I start service on docker-compose, erigon will download snapshot again, so how to close snapshot

[2022-07-04 11:49] UliGall commented on #4599
Thanks @enriavil1, that solved my issue!

[2022-07-04 11:49] #4599 closed

[2022-07-04 12:23] KaiRo-at commented on #4515
I realized that this node had issues doing a snapshot merge due to not having enough disk space on the SSD. I did move the snapshots to the harddisk and symlinked it into the Erigon directory, which freed enough space to let the snapshot merge finish, and now the leak is gone as well - so it was connected to this failing snapshot merge.

[2022-07-04 12:38] #4627 closed

[2022-07-04 14:40] justincavery commented on #4607
I'm sorry @mandrigin I've since wiped that server and started from scratch again.

Feel free to close the issue (someone from discord asked me to open it based on my feedback).

[2022-07-04 16:46] du5 opened #4630 "BNB Smart Chain Mainnet gasPrice Method Error"
[code]

[code]

flags ` --prune= --prune.h.older=5000 --prune.t.older=5000 --prune.c.older=5000 --chain=bsc --db.pagesize=16k --http --http.api=eth,web3,net,txpool --http.compression`

![image](https://user-images.githubusercontent.com/54979375/177195731-31c3d41b-0c8c-4a27-856a-96234592c0a2.png)

[2022-07-04 17:14] mandrigin commented on #4607
sure, closing!

[2022-07-04 17:14] #4607 closed

[2022-07-05 03:47] AskAlexSharov commented on #4630
[code]

[2022-07-05 06:16] pospool commented on #4606
I solve this issue by this command:
` ./build/bin/integration  stage_headers --reset --datadir=/home/eth/.local/share/erigon
`

[2022-07-05 06:16] #4606 closed

[2022-07-05 07:58] mikolajsobolewski opened #4634 "Incorrect eth_gasPrice for rinkeby"
#### System information

Erigon version: `./erigon --version`
[code]
Erigon running options:
[code]

Erigon on the rinkeby returns incorrect  gas price value
Actual gasPrice
[code]
Behavior gasPice (get from geth)
[code]

[2022-07-05 08:10] AskAlexSharov commented on #4630
you use erigon's built-in http, right? Not external rpcdaemon?

[2022-07-05 08:33] AskAlexSharov commented on #4630
Can reproduce. Fixed by https://github.com/ledgerwatch/erigon/pull/4635
It was regression from https://github.com/ledgerwatch/erigon/pull/4528 which caused uin64 underflow (PendingBlock=-1 was converted to uint64)

[2022-07-05 08:50] wetezos commented on #4543
I had a test today, which reproduced this problem.
<img width="1823" alt="image" src="https://user-images.githubusercontent.com/40154568/177289333-bab505be-9cd4-4c43-93aa-3a28cf15bc1c.png">

`Jul 05 10:36:09 Ubuntu-1804-bionic-64-minimal erigon[26301]: [INFO] [07-05|10:36:09.776] Commit cycle                             in=5.361719327s
Jul 05 10:36:09 Ubuntu-1804-bionic-64-minimal erigon[26301]: [

[2022-07-05 09:34] banteg opened #4637 "erigon eats 100gb+ of memory when tracing a certain tx"
#### System information

Erigon version: erigon version 2022.07.1-alpha-09776394

OS & Version: Linux

Commit hash : 0977639431fe520fc77399d03cdeba36526d2d52

#### Expected behaviour

an rpc call returns a trace

#### Actual behaviour

erigon gobbles up 100gb+ or memory and gets killed by the system

#### Steps to reproduce the behaviour

run `debug_traceTransaction` against any of these txs:
- 0x

[2022-07-05 09:55] mandrigin commented on #4471
@hrthaowang closing the issue since the PR was merged, feel free to reopen

[2022-07-05 09:55] #4471 closed

[2022-07-05 09:58] mandrigin commented on #4510
I see the same behaviour every now and then. So far no luck reproducing it properly. It looks like it behaves better on the current `devel` branch. Trying to find steps to reproduce and fix.

[2022-07-05 10:00] mandrigin commented on #4510
@hritique I will close this one in favor of #4543, looks like the same issue to me.

[2022-07-05 10:00] #4510 closed

[2022-07-05 10:11] mandrigin commented on #4543
@AskAlexSharov there is definitely a deadlock somewhere in the built-in RPC service. It breaks both Engine API and RPCs. I am debugging.

[2022-07-05 10:25] AskAlexSharov commented on #4543
I can't reproduce. Try `pkill -SIGUSR1 erigon`

[2022-07-05 11:11] primalcs commented on #4593
@Sleapy31 do you have any more troubles here?

[2022-07-05 11:51] mandrigin commented on #4543
I can't reproduce that easily, it is pretty random. I think it happened during some hive tests and it definitely did happen on our validator nodes. As soon as I have one stuck, I will let you know.

[2022-07-05 13:44] mandrigin commented on #4543
@hritique @wetezos can you share your RPC load (methods thats are called)? Because it might be something with one of the methods, I didn't manage to pinpoint yet. If you can share which RPCs are being called, it would be much appreciated.

Or if you are ready to help, I can give you a branch with extra log output, so we can see the last PRC before the deadlock.

[2022-07-05 13:54] mandrigin commented on #4543
@kucharskim are you comfortable building from sources or should I pre-build a Docker image for you?

[2022-07-05 14:36] mandrigin commented on #4543
anyway, here is the build with extra logs: https://github.com/ledgerwatch/erigon/tree/issue4543

[2022-07-05 14:56] mandrigin commented on #4637
@banteg is there anything more fresh that has this or similar behaviour? I have a pruned node, so I can't check that far back in history. Or similar transactions that aren't 1/2 of a year old are tracing just fine?

[2022-07-05 14:57] MysticRyuujin commented on #4637
This is also affecting the latest `stable`/`beta`/`depreciated` release.

[code]

[2022-07-05 14:57] mandrigin commented on #4630
@AskAlexSharov do you think it also fixed 4634?

[2022-07-05 15:01] mandrigin commented on #4566
looks like the issue is dealt with.
closing, feel free to reopen if you feel otherwise

[2022-07-05 15:01] #4566 closed

[2022-07-05 15:06] mandrigin commented on #4589
[code]

and
[code]

try this one and post the result here, probably you are on a wrong chain, because the version looks fine

[code]

relevant logs

[2022-07-05 15:08] AlexeyAkhunov commented on #4637
This is because of this PR: https://github.com/ledgerwatch/erigon/pull/2779

[2022-07-05 15:35] mandrigin commented on #4637
I wonder also if another json-serialization lib could work there, the marshal/json isn't the most frugal code

[2022-07-05 15:52] mandrigin commented on #4630
@du5 so if that is fixed, I am closing this issue. Feel free to reopen if needed.

[2022-07-05 15:52] #4630 closed

[2022-07-05 15:52] #4097 closed

[2022-07-05 15:54] #4455 closed

[2022-07-05 15:58] mandrigin commented on #3864
I assume it is a duplicate of #4637

Mining issue seems to be different. I will close this issue for now, but please reopen @victordeleau if it reproduces on the latest release.

[2022-07-05 16:03] mandrigin commented on #1624
I think Kovan is deprecated https://twitter.com/optimismPBC/status/1542589602329919490

There is some work on AuRa now, but no ETA.

[2022-07-05 16:04] mandrigin commented on #1613
@AlexeyAkhunov @banteg

isn't that how existing forks work? they freeze the DB, sync tx pool and mine on their own.

[2022-07-05 16:05] mandrigin commented on #1613
I agree it could be a very cool feature, if we can piggy-back on our dev network

[2022-07-05 16:06] mandrigin commented on #3867
@wmitsuda it sync on my machine just fine, is it still an issue for you?

[2022-07-05 16:23] #4474 closed, assigned to nobody

[2022-07-05 16:24] mandrigin commented on #4464
will try to sync from scratch now

[2022-07-05 16:29] mandrigin commented on #4298
@drunkirishcoder please retry on the latest alpha and see if it persists

[2022-07-05 16:36] mandrigin commented on #4153
In theory, yes, in practice supporting and updating all possible versions for different OSes and for different linux distros, flavours and versions is a huge job.

I will welcome if someone runs and supports an unofficial package for Windows or something. Unlikely we will do this anytime soon though. Not many from the core contributors use Windows.

Docker is the best way to run unless you want to

[2022-07-05 17:36] leonardchinonso commented on #4619
@du5 can you try running `downloader verify_hashes`? Your snapshots files might be corrupted.

[2022-07-05 17:39] banteg commented on #4637
no, my dataset consisted of 11,000 transactions and only these three had this behavior

[2022-07-05 18:18] wmitsuda commented on #3867
Haven't tried it again, I'll probably sync goerli from scratch next week.

[2022-07-05 20:01] wmitsuda opened #4641 "PoS http configuration is very confusing"
This is a follow-up of this [long] discussion that started on discord (please read them all up to the last msg from me saying I'm going to open an issue on github): https://discord.com/channels/687972960811745322/906989870419959818/977295597092618280

Since I agree with most points there, I'd like to summarize the pain points:

1 - mixing configuration of RPC endpoints

Post-merge, you'll having 2

[2022-07-05 20:01] wmitsuda commented on #4641
@MysticRyuujin pls add your comments!

[2022-07-05 20:28] MysticRyuujin commented on #4641
I agree with all of the above. The `8551` port has a well defined spec and use case, its configuration options should probably be limited but they should definitely be isolated/specific to that port/use case, and the other flags need only apply to the actual JSON-RPC port.

[2022-07-05 20:45] mandrigin commented on #4464
Sepolia syncs just fine on the latest `devel` for me, closing this issue.

[code]

[2022-07-05 20:52] mandrigin commented on #4641
(1) add 2 flags `--authrpc.addr localhost --authrpc.port 8551` for engine API specifically (same as in Geth to simplify setup)
(2) refactor launching RPC, always filter out `engine_` APIs from the RPCDaemon and hardcode these APIs for the engine HTTP. Move jwt auth only to the engine API.

[2022-07-06 02:02] #4540 closed

[2022-07-06 02:03] wetezos commented on #4543
[test.log](https://github.com/ledgerwatch/erigon/files/9050880/test.log)

[2022-07-06 02:38] AskAlexSharov commented on #1613
@mandrigin FYI:
1. our mining now doesn't use dbRwTransaction, it using only "mutation" object. FunnyGiulio worked on this feature.
Maybe 1. can be used for this feature (if don't need store ephemeral fork in db

[2022-07-06 03:05] NarupoomChaisawat opened #4644 "Okay, I've started it from a clean directory with only the `snapshots` folder. It is now stuck at block `14501535`. Erigon Release `2022.06.06`."
Okay, I've started it from a clean directory with only the `snapshots` folder.  It is now stuck at block `14501535`. Erigon Release `2022.06.06`.

<details>
  <summary>Loop</summary>

[code]
</details>

<details>
  <summary>Full Output</summary>

[code]
</details>

_Originally posted by @Texnomic in https://github.com/ledgerwatch/erigon/issues/4540#issuecomment-1166656983_

[2022-07-06 03:10] wetezos commented on #4543
I reproduced this problem just, this the last logs.

[test.log](https://github.com/ledgerwatch/erigon/files/9051172/test.log)

[2022-07-06 04:48] kucharskim commented on #4543
Yeah, from source is fine. I just built it, asked @hritique to deploy it and see how it goes.

[2022-07-06 04:57] AskAlexSharov commented on #4619
@du5 no, he mean `downloader torrent_hashes --verify`

[2022-07-06 06:54] ytrezq commented on #4153
@mandrigin this doesn’t have value with Windows where unless you have to use Reactos in russia, the only distributor is Microsoft.

[2022-07-06 07:12] mandrigin commented on #4543
okay, at some point it always times out it looks like, every requets takes 50s.

@wetezos if you still have the node running, can you do `pkill -SIGUSR1 erigon` and show the output?

same to you @kucharskim when you reproduce the bug

also also, please run it with --pprof flag and try to get me the goroutine trace like that

[code]

after you reproduce. I have more data to test now, but it will st

[2022-07-06 07:30] mandrigin commented on #4637
okay what we can try to do is try to change the json serialization library in an experiment branch and then @banteg @darkhorse-spb if you can test it on your machines and see if that helps at all

[2022-07-06 07:31] leonardchinonso commented on #4619
@du5 sorry for the confusion, I meant `downloader torrent_hashes --verify`. You can pass the directory of the torrent files with the 'datadir' option (`downloader torrent_hashes --verify --datadir=<data_dir>`) so it verifies them if you have `.torrent` files.

[2022-07-06 07:43] ytrezq commented on #4153
@mandrigin my point is I need a Windows binary, if you didn t read the whole thread.
The logic behind, is I m failing to do it for a single version, so seek core team to update their build integration like I was accustomed to with Openethereum in order to not only have code but something which can be used.

[2022-07-06 07:44] #4560 closed

[2022-07-06 07:53] wetezos commented on #4543
**if you still have the node running, can you do pkill -SIGUSR1 erigon and show the output?**

Yes, our node is still running, but it has been restarted. Now the node is running normally. The following is the log after pkill execution

`Jul 06 09:50:29 Ubuntu-1804-bionic-64-minimal erigon[18510]:         github.com/anacrolix/torrent@v1.44.0/tracker_scraper.go:247 +0x49c
Jul 06 09:50:29 Ubuntu-1804

[2022-07-06 08:18] Giulio2002 opened #4646 "Setting up codecov for Erigon/Erigon-lib"
# Rationale

Erigon has really poor testing, a tool to track and manage untested code would be nice.

# Implementation

Let's use codecov :)

[2022-07-06 08:30] mandrigin commented on #4637
but the question is also, what eats all this RAM?

@banteg can I ask you to run Erigon with the built-in rpc daemon and with `--pprof` and then when it begins eating RAM, maybe at 60 or 80 GB, do `curl http://127.0.0.1:6060/debug/pprof/heap > heap.out` and attach this file here? then I can look at the profiler too

[2022-07-06 08:33] mandrigin commented on #4543
@wetezos ah, but it syncs/works, `pkill` is useful when it stops syncing/responding to RPC, right now it doesn't show anything suspicious.

[2022-07-06 08:35] mandrigin commented on #3867
okay, I will close it for now, please reopen (or create a new one) if it fails again

[2022-07-06 08:37] mandrigin commented on #1613
could be, but I need someone @banteg do you need this to be persistent across Erigon launches?

[2022-07-06 08:39] mandrigin commented on #4586
One option could be to point your depednency to a local dir that is already prepared with `git submodule` etc. I don't think `erigon` repo is friendly to be used as go module itself.

[2022-07-06 08:42] mandrigin commented on #4634
@mikolajsobolewski can you check if it reproduces on the latest `devel` build?

[2022-07-06 08:45] wetezos commented on #4543
`root@Ubuntu-1804-bionic-64-minimal:~# netstat -lntp | grep 60
tcp        0      0 127.0.0.1:6060          0.0.0.0:*               LISTEN      24391/rpcdaemon
root@Ubuntu-1804-bionic-64-minimal:~# curl http://127.0.0.1:6060/debug/pprof/goroutines
Unknown profile`

[2022-07-06 08:45] wetezos commented on #4543
`root@Ubuntu-1804-bionic-64-minimal:~# netstat -lntp | grep 60
tcp        0      0 127.0.0.1:6060          0.0.0.0:*               LISTEN      24391/rpcdaemon
root@Ubuntu-1804-bionic-64-minimal:~# curl http://127.0.0.1:6060/debug/pprof/goroutines
Unknown profile`

[2022-07-06 08:48] AskAlexSharov commented on #4637
We decided to enable back streaming feature by default:

https://github.com/ledgerwatch/erigon/pull/4647 Erigon has enalbed json streamin for some heavy endpoints (like trace_*). It's treadoff: greatly reduce amount of RAM (in some cases from 30GB to 30mb), but it produce invalid json format if error happened in the middle of streaming (because json is not streaming-friendly format)

We decided th

[2022-07-06 08:49] AskAlexSharov commented on #2682
We decided to enable back streaming feature by default:

https://github.com/ledgerwatch/erigon/pull/4647 Erigon has enalbed json streamin for some heavy endpoints (like trace_*). It's treadoff: greatly reduce amount of RAM (in some cases from 30GB to 30mb), but it produce invalid json format if error happened in the middle of streaming (because json is not streaming-friendly format)

We decided th

[2022-07-06 08:54] mandrigin commented on #4543
oh, sorry, then `curl http://127.0.0.1:6060/debug/pprof/goroutine` :) typo

[2022-07-06 08:56] mandrigin commented on #4543
also, this is necessary **only when you reproduce the deadlock/rpc issue**

[2022-07-06 09:03] mandrigin commented on #4634
We need to cover this RPC with unit-tests so it doesn't regress further.

[2022-07-06 09:28] mikolajsobolewski commented on #4634
i confirm, it seems ok.

[2022-07-06 10:50] bert2002 opened #4651 "openethereum migration"
Hi,
I am checking if its possible to migrate the chain state from `openethereum` to erigon, without re-syncing the full blockchain (>10TB takes too much time to sync for a full archive node).
I configured erigon to use my previous openethereum data dir (using the docker image), but since a couple of hours its still inserting headers and it doesnt seems to notice the chain state.
[code]
Is there an

[2022-07-06 10:52] AndreaLanfranchi commented on #4651
There is no way Erigon can read data from OE database.
What you're seeing is erigon resync from scratch.

[2022-07-06 11:09] darkhorse-spb opened #4654 "failed to WriteRawTransactions: bucket: BlockTransaction, mdbx_cursor_put: MDBX_MAP_FULL: Environment mapsize limit reached"
#### System information

Erigon version: `./erigon --version`
erigon version 2022.04.5-deprecated

OS & Version: Windows/Linux/OSX
Docker, Alpine Linux v3.15

#### Expected behaviour
Blocks are synchronized

#### Actual behaviour
I have 3 erigon nodes with stable version on different servers, all of them are stuck with the following error messages.

#### Backtrace

[code]

[2022-07-06 12:15] darkhorse-spb commented on #4654
Thanks @NarupoomChaisawat,
I've checked out 2022.04.05-deprecated tag, updated libmbdx submodule to the latest commit and rebuilt erigon.
Unfortunately, nothing changed :(

[2022-07-06 12:24] mandrigin commented on #4651
our databases are completely incompatible, syncing from scratch takes a couple of days usually, so that is the recommended way.

[2022-07-06 12:25] mandrigin commented on #4637
@banteg @darkhorse-spb  can you check in the current devel version and see if it helped?

[2022-07-06 12:25] mandrigin commented on #4634
okay, I will keep it open until we add unit tests

[2022-07-06 12:39] Texnomic opened #4657 "[Streaming] Pending Transaction Hashes without Body"
#### System information

Erigon version: v2022.04.05

OS & Version: Ubuntu

#### Bug

Erigon is sending Pending Transaction Hashes which returns `null` with `eth_getTransactionByHash` for very long time. Sometimes forever.

[2022-07-06 12:41] Texnomic opened #4658 "[Streaming] Duplicated Pending Transaction Hashes"
#### System information

Erigon version: v2022.04.05

OS & Version: Ubuntu

#### Bug

Erigon is sending duplicated Pending Transaction Hashes multiple times.

[2022-07-06 12:46] PeaStew opened #4659 "Erigon stops syncing once it reaches blockheight"
#### System information

erigon version 2022.07.1-alpha-09776394

OS & Version: Linux Ubuntu 20.04

Commit hash : 0977639431fe520fc77399d03cdeba36526d2d52

#### Expected behaviour
Erigon was started from a full backup from an existing node (2022.99.99-dev-0a527fed), the node should start syncing from where the existing node stopped before backup and then continue syncing to blockheight.

#### Actu

[2022-07-06 12:51] AndreaLanfranchi commented on #4651
@NarupoomChaisawat is NOT possible

[2022-07-06 13:27] PeaStew commented on #4659
`Jul 06 12:34:54 <hostname> systemd[1]: Started Ethereum Erigon Archive 1.
Jul 06 12:34:55 <hostname> erigon[105230]: [INFO] [07-06|12:34:55.233] Build info                               git_branch=HEAD git_tag=v2022.07.01 git_commit=0977639431fe520fc77399d03cdeba36526d2d52
Jul 06 12:34:55 <hostname> erigon[105230]: [INFO] [07-06|12:34:55.233] Starting Erigon on Ethereum mainnet...
Jul 06 12:34:55

[2022-07-06 14:02] mandrigin commented on #4543
If I see correctly, we seem to be leaking quite a bit of goroutines

[code]

[2022-07-06 14:04] mandrigin commented on #4543
@wetezos you are running the RPC daemon separately, right? what if you can do the same but with the built-in one?

[2022-07-06 14:07] tjayrush commented on #4637
Is it Go Code? We ran into the same issue with TrueBlocks. We stream our data too.

We were able to get around it using a `defer` call that closes and open JSON objects or arrays. It's not perfect -- it doesn't work that well with nested objects, but it works for simple arrays and simple objects for example. If any sub-routines return an error, the `defer` simply closes the array.

If the program

[2022-07-06 15:00] nalepae opened #4660 "Issue at Sepolia Merge"
#### System information

Erigon version: `v2022.07.01` (Docker image on Kuberneted)

During Sepolia merge, I used multiple combos:

1. Geth - Teku
2. Geth - Prysm
3. **Erigon - Teku**

Everything went well for combos 1. and 2., however for combo 3. (Erigon - Teku) our validators missed some attestations right after the merge.

Example of missed attestation:
<img width="468" alt="image" src="https:

[2022-07-06 15:06] Giulio2002 commented on #4660
Attestation are not handled by EL

[2022-07-06 15:12] Giulio2002 commented on #4660
that is probably because we were reverting the invalid side fork, it should not persist after, but failing to attest once or twice is not a big deal usually

[2022-07-06 15:13] Giulio2002 commented on #4660
it seems proposals are going through so i would not worry about a couple of attestations failed on a chain revert.

[2022-07-06 15:24] AskAlexSharov commented on #4654
Fixed by https://github.com/ledgerwatch/erigon/pull/4638

[2022-07-06 15:40] AskAlexSharov commented on #4637
Then user will not see error message at all

[2022-07-06 15:54] tjayrush commented on #4637
We attach the error as another field in the object in the `defer` method. Not perfectly compliant JSON (perfectly compliant JSON, if it returns an error, returns empty data -- but that's not possible with , but it works.

[2022-07-06 15:58] AskAlexSharov commented on #4637
@tjayrush it even may work in many client libs. do you have some open-source example?

[2022-07-06 16:05] tjayrush commented on #4637
I'm almost embarrassed to show it. It's super hacky, but here's an example: https://github.com/TrueBlocks/trueblocks-core/blob/feature/new-unchained-index-2.0/src/apps/chifra/internal/chunks/handle_addresses.go#L66. The RenderFooter routine (which closes an array and an object (everything our API delivers has the same shape) get called even if an error happens. We deliver the error on standard err

[2022-07-06 16:10] AskAlexSharov commented on #4637
tnx, will try tomorrow

[2022-07-06 17:04] mandrigin commented on #4543
@wetezos @kucharskim I updated the branch with a possible fix, the commit is [`991451d`](https://github.com/ledgerwatch/erigon/commit/991451d35221a1e9441708cf385613f3e8f8d302)

Try to upgrade and see if it resolves your issue

[2022-07-06 17:26] nalepae commented on #4660
This issue only happened right after the merge.
It is OK right now (without rebooting any clients/validator)

[2022-07-06 17:46] alysak6075 opened #4661 "trace_* grinds RPC calls to 5X slower"
#### System information

Erigon version: `erigon version 2022.06.6-alpha-77240899`

OS & Version: Windows/Linux/OSX

CentOS 8

Commit hash : `7724089985bf9cb8bb7d1bde92892256a6af859f`

#### Expected behaviour
RPC calls return in a normal fashion

#### Actual behaviour
after several concurrent `trace_*` calls, all calls to RPC slow down by 5X or more times

#### Steps to reproduce the behaviour
cal

[2022-07-06 17:51] darkhorse-spb commented on #4654
Thanks @AskAlexSharov , but rebuilding from latest commit of stable branch and replacing binary didn't help :(
Started resync from scratch on one of nodes.

[2022-07-06 17:52] mandrigin commented on #4661
does it recover if you give some "rest" to the node?

[2022-07-06 17:53] mandrigin commented on #4660
okay, then I will close it for now, feel free to reopen if you see some major issues

[2022-07-06 17:53] #4660 closed

[2022-07-06 17:53] alysak6075 commented on #4661
Yes

[2022-07-06 18:21] mandrigin commented on #4661
yep, it isn't a leak, we have fixed json streaming in the latest `devel` branch see https://github.com/ledgerwatch/erigon/issues/4637

[2022-07-06 22:38] 0xshawn opened #4664 "unwind: empty block body 15050000"
#### System information

Erigon version: 2022.07.1-alpha-09776394

OS & Version: Linux, amazon linux 2 x64

Commit hash : v2022.07.01

I meet the problem of `unwind: empty block body 15050000` while block stuck in 1505000, I try the steps in the issues of https://github.com/ledgerwatch/erigon/issues/4606 but it does not help:

[code]

Here is my command and history:

[code]

Any idea how to fix th

[2022-07-06 22:41] 0xshawn commented on #4664
Run `stage_headers` and its output:
[code]

[2022-07-06 22:42] 0xshawn commented on #4664
#4706

[2022-07-06 22:43] 0xshawn commented on #4664
#4606

[2022-07-07 00:37] wetezos commented on #4543
Yes, Because of `erigon --http.addr` doesn't work, so we use RPC daemon.

[2022-07-07 00:38] wetezos commented on #4543
Great, let me have a try.

[2022-07-07 03:12] AskAlexSharov commented on #4654
- what is your db size now?
- show logs of Erigon when it starting

[2022-07-07 06:04] SeaMonkey82 opened #4666 "Erigon fails to return deposit logs"
In prysm:
[code]
`eth_getLogs` REQUEST and RESPONSE
[code]

[2022-07-07 06:08] mandrigin commented on #4666
@SeaMonkey82 which network is that?

[2022-07-07 06:09] SeaMonkey82 commented on #4666
Ropsten

[2022-07-07 06:10] mandrigin commented on #4666
from the chatroom

okay, I will check what it returns on my validators

[2022-07-07 06:27] mandrigin commented on #4543
@wetezos any results so far? :) we are looking at building a new release today, so this one might or might not be included

[2022-07-07 06:31] wetezos commented on #4543
Hey @mandrigin  At present, it has been running stably for 4 hours.  I think this problem should be solved

[2022-07-07 07:05] mandrigin commented on #4543
the "official" PR fixing this issue: https://github.com/ledgerwatch/erigon/pull/4667

[2022-07-07 07:19] darkhorse-spb commented on #4654
`2.1T    ./chaindata
0       ./LOCK
4.0K    ./nodekey
1.3G    ./nodes
0       ./transactions.rlp
2.1G    ./txpool`

`[INFO] [07-07|07:16:33.145] Starting metrics server                  addr=http://0.0.0.0:6060/debug/metrics/prometheus
[INFO] [07-07|07:16:33.145] Build info                               git_branch=stable git_tag=v2022.04.05-1-gcff0972f2 git_commit=cff0972f21dba4b94e313114b07bbc695

[2022-07-07 07:29] #4619 closed, assigned to leonardchinonso

[2022-07-07 07:55] nalepae commented on #4660
I understand, but in our case all my validators connected to Erigon failed to attest once or twice, furthermore just after the merge.

After a quick talk with Ben Eddington (Teku), we conclude to that:

1. EL (Erigon) is out of sync right after the merge, which implies that
2. All calls from BN (Teku) to EL (Erigon) returns 503 (service not available), which imples that
3. No attestations are done

[2022-07-07 09:23] NarupoomChaisawat commented on #4630
@NarupoomChaisawat

[2022-07-07 09:48] mandrigin commented on #2245
I assume that is fixed, especially with 2022.07.02, feel free to reopen if there are issues

[2022-07-07 09:48] #2245 closed

[2022-07-07 09:58] mandrigin commented on #2004
@MysticRyuujin is it still broken? If so, please reopen

[2022-07-07 09:58] #2004 closed

[2022-07-07 10:00] mandrigin commented on #4485
@mohoff can you provide the full transaction so I can debug locally?

[2022-07-07 10:01] mandrigin commented on #4518
@radian-rgc can you check a solution from this issue? https://github.com/ledgerwatch/erigon/issues/4659#issuecomment-1177268066

[2022-07-07 10:03] mandrigin commented on #4323
okay, so this looks like it is fixed

[2022-07-07 10:03] #4323 closed

[2022-07-07 11:56] AskAlexSharov commented on #4654
o_O

[2022-07-07 18:51] yiteng-guo opened #4673 "rpcdaemon v2022.07.02: MDBX_NOTFOUND: No matching key/data pair found"
#### System information

Erigon version: `./erigon --version`: devel or v2022.07.02

Commit hash : devel=e13a318e0

#### Expected behaviour

[code]

This command should work.

#### Actual behaviour

Exits with
[code]

Note that it works without any problem if I don't add `--datadir` to rpcdaemon.

#### Steps to reproduce the behaviour

DataDir structure
[code]

[2022-07-07 23:06] mconover opened #4674 "Large torrent announce response panic erigon client every time on Windows"
#### System information

Erigon version: erigon version 2022.07.1-alpha-09776394

OS & Version: Windows 11

Commit hash :
This one works: erigon.exe version 2022.06.6-alpha-77240899
This one panics across all Windows devices I have tested: erigon version 2022.07.1-alpha-09776394

This is due to default UDP buffer size being 8K and no easy way to increase the size. So this was some change in the al

[2022-07-08 01:26] wetezos commented on #4543
Hey @mandrigin  , After upgrading to the latest version ` 2022.07.2-alpha-c7a94eee`, it ran for 5 hours, and the problem reappeared.

goroutines.out.:

[goroutines.out.txt](https://github.com/ledgerwatch/erigon/files/9068201/goroutines.out.txt)

`Jul 08 03:12:14 Ubuntu-1804-bionic-64-minimal erigon[12276]: [INFO] [07-08|03:12:14.151] [p2p] GoodPeers                          eth66=86
Jul 08 03:14:1

[2022-07-08 02:59] AskAlexSharov commented on #4674
I will take a look

[2022-07-08 03:00] AskAlexSharov commented on #4673
show erigon cli flags

[2022-07-08 03:17] AskAlexSharov commented on #4654
[code]

[2022-07-08 05:17] creatzor commented on #4530
Yes, sorry for the delay. It happens intermittently. It may be related to computing resources.

[2022-07-08 06:34] mandrigin commented on #4543
@wetezos

(1) does it appear on the branch https://github.com/ledgerwatch/erigon/tree/issue4543 ?

(2) and can you give me the goroutines from `erigon` and not from `rpcdaemon`?

[2022-07-08 07:11] mandrigin commented on #4543
nevermind about (1), the branch is removed, let's start with (2)

[2022-07-08 07:45] Sleapy31 commented on #4593
No it is working now thank you. I will reopen if there is any issues

[2022-07-08 07:45] #4593 closed

[2022-07-08 08:28] wetezos commented on #4543
Ok, Can I rollback to the previous version? This version takes 5-6 hours to reproduce the problem

[2022-07-08 08:49] mandrigin commented on #4543
no, because it looks like I fixed one place, but there is more than one place
it is fine, I can wait, no worries

[2022-07-08 08:49] mandrigin commented on #4543
so it takes longer to reproduce, right? :)

[2022-07-08 08:50] wetezos commented on #4543
Yeah, about 6h.

[2022-07-08 08:51] mandrigin commented on #4543
Yeah, that means I fixed some places, but not all of them.
Thanks so much, so goroutine traces on `erigon` itself, even if it takes 6 hours or whatever needed :)

[2022-07-08 08:52] wetezos commented on #4543
Your are most welcome. Let's have a try.

[2022-07-08 08:59] yperbasis opened #4679 "Panic in txpool with 2 sentries"
When I set up 2 sentries (`backend.sentryServers` in eth/backend.go), after some time Erigon crashes with
[code]

[2022-07-08 09:49] flywukong opened #4681 "how to run a eriogon node on bsc net with Snap sync mode?"
I need to run a eriogon node on bsc net , also , I wonder if this can be done with with Snap sync mode.
thanks for any guide

[2022-07-08 10:07] darkhorse-spb commented on #4654
[code]

[2022-07-08 20:24] kucharskim commented on #4543
We run with this at the moment:
[code]

[2022-07-09 03:16] AskAlexSharov commented on #4673
How do you build rpcdaemon? I feel that you run “./cmd/rpcdaemon22” instead of “./cmd/rpcdaemon”

[2022-07-09 03:20] AskAlexSharov commented on #4681
—chain=bsc

[2022-07-09 03:20] #4681 closed

[2022-07-09 03:21] AskAlexSharov commented on #4679
Great. Now we know that need 2 sentries to reproduce it.
Need run txpool with -race to find reason

[2022-07-09 12:48] leonardchinonso commented on #4538
I've looked at how `etl`s are used in the code, but don't really understand how they can replace the maps for `addresses` and `topics` used in `pruneLogIndex` function

[2022-07-09 13:21] mtgnoah opened #4684 "Staged Sync err="runtime error: invalid memory address or nil pointer dereference,"
#### System information

Erigon version: `./erigon --version`
erigon version 2022.99.99-dev-b06b4b4c

OS & Version: Ubuntu

Commit hash :

#### Expected behaviour
It it supposed to just do this
INFO[07-09|08:20:09.539] [6/16 Execution] Executed blocks         number=14981548 blk/s=16.6 tx/s=2957.0 Mgas/s=257.0 gasState=0.48 estimated duration=3h46m28.700s batch=531.2MB alloc=4.8GB sys=8.8GB

####

[2022-07-09 17:26] iFA88 opened #4686 "Ropsten sync from scratch gives `Fork choice missing header` error constantly"
Greetings!

I have synced ropsten from scratch with prysm but i got constantly `Fork choice missing header` error after activated PoS.
https://gist.github.com/iFA88/8fa7a082015e5a1e1fa28a9369b64290
After unwind 1000 blocks:
https://gist.github.com/iFA88/953af843e8cf9f10a48d3b5a54a4d940

Prysm works good, i have an other erigon+prysm combo on another server which works well.
Any suggestion welcome.

[2022-07-09 19:16] iFA88 commented on #4686
After restart and after 45 min some miracle happened and now syncing new pos blocks:
https://gist.github.com/iFA88/26ef069c98c0be99954c0b94d673de36

[2022-07-09 20:51] yiteng-guo commented on #4673
[code]
and
[code]

I just cleaned my build dir and only built the rpcdaemon by `make rpcdaemon`. It didn't work as well.

[2022-07-09 22:43] #4644 closed

[2022-07-10 01:40] mohoff opened #4688 "Goerli initial sync: db error, streaming issue, silent crashes"
#### System information

Erigon version: latest `2022.07.02`

#### Expected behaviour

clean sync

#### Actual behaviour

Erigon seems to silently crash during sync. Erigon is managed by `runit` which should explain the restarts.

[code]

I can't tell if it's related to

[code]

or

[code]

I have to observe further, it seems it's still making sync progress.

#### Steps to reproduce the behaviour

[2022-07-10 02:10] AskAlexSharov commented on #4688
OOM killer?

[2022-07-10 03:04] wetezos commented on #4543
Hey @mandrigin , The problem reappears after 2 days of running this time, but it is found that erigon does not listen to port 6060
commond:
erigon --snapshots true --http --ws --http.vhosts eth.rpc.local --snap.keepblocks=true --http.api=eth,erigo,web3,net,debug,trace,txpool --http.addr xxx --pprof

`netstat -lntp | grep erigon
tcp        0      0 0.0.0.0:42069           0.0.0.0:*               LI

[2022-07-10 04:27] mohoff commented on #4688
@AskAlexSharov Digged out some graphs, there are definitely spikes but it's not capping out

<img width="1619" alt="Screen Shot 2022-07-09 at 23 24 22" src="https://user-images.githubusercontent.com/6060612/178131261-30ba1f69-c5fa-4a7f-9813-e1bfe109b876.png">

Regarding "it's still making progress": Looks stuck, it's jumping around in block numbers and on each restart, the db issue shows up:

[cod

[2022-07-10 13:17] AskAlexSharov commented on #4688
It’s OOM killer. Maybe we have mem leak.

[2022-07-10 13:26] wmitsuda opened #4689 ""exited with code 137" at bodies stage"
v2022.07.02, I'm trying to sync goerli, it keeps being killed at ~same stage/block, it seems because out of memory, but I gave 16GB for the entire docker process.

I'll try to increase memory, but 16GB doesn't seem to be too much for bodies stage/testnet? maybe a leak?

[code]

[code]

[2022-07-10 14:24] AskAlexSharov commented on #4689
Yep, likely leak. Or bug in logic.

[2022-07-10 16:00] wmitsuda commented on #4689
I searched a little more in the logs, found another crash occurrence during execution stage:

[code]

[2022-07-11 01:23] wetezos commented on #4543
pkill -SIGUSR1 erigon logs:

[pkill.log](https://github.com/ledgerwatch/erigon/files/9080281/pkill.log)

[2022-07-11 05:50] flywukong commented on #4681
https://github.com/ledgerwatch/erigon/issues/4681#issuecomment-1179469167

I saw that  Snap sync seems disabled  in bsc mainnet

[2022-07-11 07:16] dmitriyselivanov commented on #4485
@mohoff @mandrigin the issue was fixed in [d72fba3](https://github.com/ledgerwatch/erigon/commit/d72fba3bec6beb4ef829f626760ff3725152a6f1)
I am not facing the issue at the current devel branch commit [8a75033](https://github.com/ledgerwatch/erigon/commit/8a75033b9860aa019f4ef88280f52f1abbfe8536) as well.

[2022-07-11 07:33] #4485 closed

[2022-07-11 07:45] mandrigin commented on #4543
@wetezos unfortunately, that is not the full log of goroutines, I see it is trimmed quite a bit (the top half is missing). Maybe you can try to `tee` Erigon log to a file, so I can see the full log with all 2 days of load?

[2022-07-11 08:12] mandrigin commented on #4538
This one is taken by @nanevardanyan at the moment

[2022-07-11 08:14] mandrigin commented on #4666
Is being investigated by @dmitriyselivanov

[2022-07-11 08:14] mandrigin commented on #4688
We had the same issue when syncing Goerli specifically, after 2-4 OOMs it went fine.
I even shared the trace in Discord. Let me try to find it.

[2022-07-11 08:15] mandrigin commented on #4688
![](https://media.discordapp.net/attachments/687972960811745326/994895618868789278/profile001.png)

[2022-07-11 08:15] mandrigin commented on #4688
When syncing Goerli, it took about 26 GB of RAM to get through it successfully.

[2022-07-11 08:16] mandrigin commented on #4688
That is at stage 4/16 — block bodies. BitTorrent sync is on.

[2022-07-11 08:17] mandrigin commented on #4684
Many things to unpack here :)

(1) Can you share the full log?

(2) Can you try on the latest release and on the latest `devel` version?

[2022-07-11 08:20] mandrigin commented on #4533
@mohoff there were some improvements to the dev chain lately, can you re-check with the latest release?

[2022-07-11 08:25] mandrigin commented on #4289
I think the only thing we can do here easily to support partial progress is to write in sorted batches, say every 1M of txs. But the question is, do we need that for the stage that is (A) not very long and (B) is already even shorter with BitTorrent sync.

For me it sounds like extra complexity for not a lot of gain.

[2022-07-11 09:43] leonardchinonso commented on #4205
@mandrigin @AskAlexSharov this issue is fixed by: https://github.com/ledgerwatch/erigon/pull/4662
Can close it now, yes?

[2022-07-11 11:45] GBBx opened #4692 "Enormous memory usage on Chapel"
#### System information

Erigon version: `erigon version 2022.07.2-alpha-c7a94eee`

OS & Version: Linux

Commit hash :

#### Expected behaviour
Erigon gets OOM killed although the machine has 100 GB memory.
Erigon should run and synchronise.

#### Actual behaviour
Erigon is stuck on block 19203507. It seems to be doing some synchronization tasks but sooner or later it uses all the available memory

[2022-07-11 11:50] AndreaLanfranchi commented on #4692
This is by design. Due to MDBX memory mapping OS cache will use as much memory as it's available to keep hot data available without frequent IO.  This does not imply RAM is unusable ... as soon as other processes will require memory the OS will release the mapping cache.
Simply disable OOM killer.

[2022-07-11 12:33] AskAlexSharov commented on #4205
Yes

[2022-07-11 12:33] #4205 closed

[2022-07-11 12:35] AskAlexSharov commented on #4289
@mandrigin agree

[2022-07-11 12:37] AskAlexSharov commented on #4681
I think - enabled by default.

[2022-07-11 15:37] mandrigin commented on #4289
closing it then, if anything changes, we will revisit

[2022-07-11 15:51] mandrigin commented on #4692
@AndreaLanfranchi I am not 100 sure about that. We synced a lot of Erigon nodes and only latest released cause OOMs at least for us, so I assume there is some leak somewhere.

@GBBx can you run it with the pprof flag enabled and get me a heap trace when then node is at about 70 or 80GB? You can check the pprof port in the readme, I am replying from a phone, so can’t give you the full instruction.

[2022-07-11 16:09] brandoncurtis commented on #3912
For anyone who finds this issue while searching for this error: try disabling the RPC daemon before restarting Erigon.  This allowed me to bypass the error and recover successfully from the crash.

- Erigon version v2022.06.03

[2022-07-11 16:49] cifer76 commented on #4522
to clarify, upgrade2 will solve this not by multi-threads, but by packaging execution results(state, receipts, traces) into static files.

[2022-07-11 17:10] mtgnoah commented on #4684
Yes I will try on latest release and will then post the full log

[2022-07-11 17:40] mohoff commented on #4688
Now seeing after restart:

[code]

Any ideas to repair this? Otherwise I purge and start from the beginning

[2022-07-12 03:27] yiteng-guo commented on #4673
Any update on this?

[2022-07-12 03:29] 73649 opened #4695 "Consistency in version number"
#### System information

Erigon version: v2022.07.02

OS & Version: Ubuntu 20.04 LTS

Commit hash : This is the problem I am reporting

#### Expected behaviour
Version number should be consistent

#### Actual behaviour
I downloaded Release v2022.07.02 and when I ran "git describe --tag", it says:
`v2022.07.02`

But when I ran it, the log starts with:
`Build info                               git_b

[2022-07-12 06:31] mandrigin commented on #4543
I will need to check out more error scenarios

[2022-07-12 08:17] eino-makitalo commented on #4692
Quite many newest tags are "leaking" memory. Now testing  v2022.07.02 and it started with 20 % of 32 GB machine.  Now in 10 minutes it's 31.1 %.    It runs about one day and then OOM Killed.

[2022-07-12 08:51] mandrigin commented on #4692
@eino-makitalo, can you send the heap pprof?

[2022-07-12 12:54] AskAlexSharov commented on #4695
Show more info:
- what “git status” shows
- what command you using to build erigon
- - what command you using to run erigon
- - what “erigon —version” shows

[2022-07-12 12:57] AskAlexSharov commented on #4673
What error you see now? On what request?

[2022-07-12 13:00] AskAlexSharov commented on #4688
Check that your processes have different pid: https://github.com/ledgerwatch/erigon/blob/b161c27ac318e5689656929ee032aea5b1c0350d/docker-compose.yml#L19

[2022-07-12 13:08] hexoscott commented on #4634
I've added some unit tests, but before putting in a PR it looks like there are some other issues at play.

The original regression around -1 being passed for the block number to get the latest causing a buffer underflow is resolved by the code changes in #4528 and #4635 but because we create a fresh oracle for every RPC request the default price will always be returned (0 based on the default conf

[2022-07-12 15:44] yiteng-guo commented on #4673
nvm. My erigon and rpcdaemon were on different versions. It worked after I upgraded both to the latest alpha releases.

[2022-07-12 15:44] #4673 closed

[2022-07-13 00:23] mohoff commented on #4688
@AskAlexSharov Your example points at a multi-container setup but I have Erigon and RPC daemon running as separate processes in the same container. Does the PID tweak still apply?

[2022-07-13 09:14] AskAlexSharov commented on #4654
@darkhorse-spb hi, still have this problem?

[2022-07-13 10:11] darkhorse-spb commented on #4654
@AskAlexSharov Thank you for your help! Here are the logs:
[code]

[2022-07-13 10:19] AskAlexSharov commented on #4654
@darkhorse-spb pushed more debug, do one more time

[2022-07-13 10:48] darkhorse-spb commented on #4654
@AskAlexSharov here are the logs:
[code]

[2022-07-13 10:59] AskAlexSharov commented on #4654
pushed fix to `stable_dbg_full` try if it help

[2022-07-13 11:11] darkhorse-spb commented on #4654
@AskAlexSharov sorry, but..
[code]

[2022-07-13 11:16] AskAlexSharov commented on #4654
@darkhorse-spb
- show `uname -a`
- pushed one more time, try

[2022-07-13 11:22] AskAlexSharov commented on #4654
you also can try to look on some system limitation of VirtualMemory:
`sysctl -a  | grep vm | grep page`

[2022-07-13 11:31] darkhorse-spb commented on #4654
@AskAlexSharov it runs in docker, if that matters.

[code]

[code]

[2022-07-13 11:55] AskAlexSharov commented on #4654
How much ram do you have?

[2022-07-13 12:33] zzir opened #4704 "New blocks are not synchronized"
#### System information

Erigon version: `./erigon --version`
erigon version 2022.99.99-dev-8c27879a

OS & Version: Linux

Commit hash : 8c27879a6b45b4bc5d21c96e8e0ce475a85a9a48

#### Problem

It seems to be stuck, reaching altitude 7206332 and no longer synchronizing the new block.

#### Backtrace

command: ./erigon --datadir=/mnt/data2/erigon-goerli --chain=goerli --ws --http --http.addr="0.0.0.

[2022-07-13 12:50] darkhorse-spb commented on #4654
188Gb, 50Gb available

[2022-07-13 13:15] hexoscott commented on #4634
Raised the PR anyway, can adjust as needed:

#4705

[2022-07-13 13:45] AskAlexSharov opened #4706 "Re-check invalid rlp warning"
Erigon sometime prints:

WARN[07-13|20:12:56.220] Handling incoming message                stream=RecvMessage err="decode BlockBodiesPacket66: rlp: input list has too many elements for eth.BlockRawBodiesPacket66”

it maybe invalid rlp, or maybe we parsing valid rlp with error. Need re-check. If all good, reduce verbosity of this log.

[2022-07-13 17:13] mandrigin commented on #3152
@AskAlexSharov shouldn’t we return an error instead of crashing in that case?

[2022-07-13 20:02] x-EricH-x opened #4710 "RPC method eth_getLogs crashed: runtime error: index out of range [2] with length 0"
Suspecting a bug, but can also be data corruption in my local node,
but either way I don't have good clues on how to solve it.

#### System information

Erigon version: 2022.07.2-alpha-c7a94eee

OS & Version: Linux, Ubuntu 22.04 LTS

Commit hash : HEAD detached at v2022.07.02

#### Expected behaviour
JSON RPC should returns sth like
[code]
#### Actual behaviour
JSON RPC returned.

request:
[code]

[2022-07-14 02:10] AskAlexSharov commented on #3152
@mandrigin of course, and better user-friendly one

[2022-07-14 02:29] MysticRyuujin opened #4711 "Allow re-downloading missing snapshot data"
Since all of the files required for snapshot sync are already shared via BitTorrent - it would be cool if a node started with missing snapshot data could identify the missing pieces and re-download.

I attempted to test if this was possible by simply moving all of the `v1-013000-013500*` files to a different folder then starting Erigon, hoping Erigon would notice that the files were missing and re

[2022-07-14 03:55] zzir commented on #4704
我尝试 https://github.com/ledgerwatch/erigon/issues/4323

[2022-07-14 03:55] zzir commented on #4704
I try https://github.com/ledgerwatch/erigon/issues/4323

[2022-07-14 05:39] zzir commented on #4704
The problem seems to have been solved

[2022-07-14 06:11] #4704 closed

[2022-07-14 06:41] mandrigin commented on #3152
I will reopen then

[2022-07-14 06:44] mandrigin commented on #3152
@dmitrtselivanov will take this one

[2022-07-14 06:46] dmitriyselivanov commented on #3152
Yep, I will take this one :D

[2022-07-14 07:23] dmitriyselivanov commented on #4666
@SeaMonkey82 @mandrigin the erigon (rosten, unpruned, commit 329d586) response to the provided `eth_getLogs` request is semantically identical to infura's one (and infura uses `geth` client according to [FAQ](https://infura.io/faq/general))
[erigon_329d586.txt](https://github.com/ledgerwatch/erigon/files/9109485/erigon_329d586.txt)
[infura.txt](https://github.com/ledgerwatch/erigon/files/9109487/i

[2022-07-14 07:26] mdben1247 commented on #4456
We are also experiencing very frequent poor commit cycle times on `v2022.07.02`, in the order of several seconds. Also interesting, `Timings (slower than 50ms)` consistently reports `Headers` in the range of about 5-20 seconds, even on occasions when commit cycle times are good, less than a second. Does anyone know what is the meaning of these Headers timings?

[code]

[2022-07-14 10:01] #4543 closed

[2022-07-14 10:30] #884 closed

[2022-07-14 15:33] yperbasis commented on #4563
PR #4564 adds support of eth/67 with `--p2p.protocol` flag (defaults to 66).

[2022-07-14 15:45] revittm commented on #4543
@wetezos we've pushed changes which implement a semaphore on the transaction limit (https://github.com/ledgerwatch/erigon/pull/4712) please could you test? (Thank you for the repro btw, much appreciated!!!)

[2022-07-14 16:01] Giulio2002 commented on #4660
If your validators are all connected to the same node, they will without a doubt present the same problem if there is a network mishandling. I do not think that it is worth having a ticket for a couple of missed attestations since the issue wont be too significant anyway.

[2022-07-14 16:03] dafky2000 opened #4716 "MDBX_PAGE_FULL when syncing Polygon mainnet"
#### System information

Erigon version: 2022.06.6-alpha-77240899

OS & Version: Linux

Commit hash : 7724089985bf9cb8bb7d1bde92892256a6af859f

#### Expected behaviour
Move to the next  sync stage (14)

#### Actual behaviour
Restarts current stage 13 (LogIndex 1/2) after failing LogIndex 2/2

#### Steps to reproduce the behaviour
./erigon --chain=bor-mainnet --bor.heimdall=https://heimdall.api.mat

[2022-07-14 16:05] mandrigin commented on #4660
Erigon does become out of sync every now and then and Teku doesn't really like it. We run couple of thousands validators on Erigon + Teku combination and sometimes it misses attestations. It looks like both nodes are waiting for each other at that point, but I never dig too deep into it. I think post-ethCC I can spend more time figuring out the issue. We didn't have that with Prysm.

[2022-07-14 16:08] mandrigin commented on #4689
Yeah, latest versions seems to have a leak at initial sync, we had these as well. @revittm can you try or ask someone to take a look?

[2022-07-14 16:09] mandrigin commented on #4661
@alysak6075 did it help?

[2022-07-14 16:10] mandrigin commented on #4637
@AskAlexSharov do you want to keep this one around?

[2022-07-14 16:16] revittm commented on #4689
Sure, will have a look tomorrow!

On Thu, 14 Jul 2022, 17:08 Igor Mandrigin, ***@***.***> wrote:

[2022-07-14 16:41] alysak6075 commented on #4661
Hi. Sorry ive been traveling for a while. Havent had the time to dedicate to testing. I will test ASAP and will let you know.

[2022-07-14 17:26] x-EricH-x commented on #4710
sure, I didn't explicitly pass any pruning flags though.

here is the line for erigon
[code]

and here is the line for the rpc daemon
[code]

[2022-07-14 19:18] SeaMonkey82 commented on #4666
If the response is semantically identical to geth, I wonder why the same error doesn't occur with prysm-geth.

[2022-07-14 23:04] mtgnoah commented on #4684
I tried to use a backup of this too which had left off at 10 million blocks and got the same error again.

[2022-07-15 00:45] AskAlexSharov commented on #4637
It’s fixed - streaming enabled. But we need add this approach also: https://github.com/ledgerwatch/erigon/issues/4637#issuecomment-1176407488

[2022-07-15 00:47] AskAlexSharov commented on #4716
Your db size now?

[2022-07-15 01:35] wetezos commented on #4543
Sure, thanks for your hard work.

My version is right?
`erigon --version
erigon version 2022.99.99-dev-e1dec529

git branch
* devel
`

When i restart i got an error:
`
flag provided but not defined: -snapshots`

[2022-07-15 03:19] AskAlexSharov commented on #4543
@wetezos show you cli command

[2022-07-15 03:46] zhonglinwei opened #4718 "stuck on erigon version 2022.07.2-alpha-c7a94eee with no error messages"
Logs:
[INFO] [07-15|03:30:32.562] RPC Daemon notified of new headers       from=15144851 to=15144852 header sending=9.463µs log sending=217ns
[INFO] [07-15|03:30:32.562] [1/16 Headers] Waiting for headers...    from=15144852
[INFO] [07-15|03:30:35.933] [snapshots] Dumping txs                  block num=14577933 alloc=4.5GB sys=5.8GB
[INFO] [07-15|03:30:39.492] [1/16 Headers] Processed

[2022-07-15 04:19] AskAlexSharov commented on #4718
In your logs i see that you are fine. Where do you see stuck?

[2022-07-15 05:04] zhonglinwei commented on #4718
The log doesn't scroll anymore, after 90 minutes, I check log again, it still here.

[2022-07-15 05:06] zhonglinwei commented on #4718
<img width="881" alt="image" src="https://user-images.githubusercontent.com/51225774/179154504-66e13140-5353-45fd-a39e-78e9bc8ecfff.png">

[2022-07-15 07:52] temaniarpit27 commented on #3136
@jondoe1337: I will be happy to take this task up.
Can you please assign this to me?

[2022-07-15 08:42] AskAlexSharov commented on #4718
Wow. Can you try:
pkill -SIGUSR1 erigon

[2022-07-15 08:57] zhonglinwei commented on #4718
yes, i try to restart erigon docker, it will sync block again, but it will stuck again in about 25 minutes.
<img width="916" alt="image" src="https://user-images.githubusercontent.com/51225774/179190201-c6ee5230-b327-46a6-8344-6ac937a8d18b.png">

[2022-07-15 09:07] revittm commented on #4543
@wetezos forgive me if I'm missing something, but _e1dec529_ looks to be a commit from May, I assume the version should be at the tip of the devel branch, i.e. `erigon version 2022.99.99-dev-92e2311`

[2022-07-15 09:17] jeremie-H commented on #4692
Hello, i'm just new to erigon, and want to sync on mainnet, but i get the OOM killer for the second time (first time with 16GB RAM, so I increase the memory up to 24GB).

[debug_erigon.zip](https://github.com/ledgerwatch/erigon/files/9119527/debug_erigon.zip)

In addition, i've got node-exporter & grafana, it seems that memory grow up quickly (2 times on this screencapture)
![image](https://user-i

[2022-07-15 10:59] neal-zhu opened #4725 "eth_getTransactionByHash return null result for all transaction"
eth_getTransactionByHash return null result for all transaction

[2022-07-15 11:14] AskAlexSharov commented on #4725
Show erigon logs and output of eth_syncing

[2022-07-15 11:14] AskAlexSharov commented on #4725
I thin you not synced yet

[2022-07-15 12:02] wetezos commented on #4543
Great, i have upgraded to ` 2022.99.99-dev-92e2311e`, let's have a try.

[2022-07-15 13:53] dafky2000 commented on #4716
It was about 3.1 TB yesterday, right now in the process it is 2.6TB (at block 28970000 of LogIndex 1/2).

I got this error during my first sync attempt but thought I may have omitted `db.pagesize` during initialization. This time around I'm 100% certain it was there from the first run.

[2022-07-15 16:09] mandrigin commented on #4637
okay @nanevardanyan will take a look at the error handling then

[2022-07-15 18:57] x-EricH-x commented on #4710
what does "0466c3ab45c0611f2befdacdeb39954f131ff3f25b28b3b7ac971aa536949f6a" means and why am I getting a thumbs down?

[2022-07-15 19:05] mandrigin commented on #4710
@x-EricH-x I removed that comment, no clue who that is.

[2022-07-16 01:15] breezytm commented on #4566
I am also having this exact issue but I am not using ``--snap.stop``. Any idea what may be causing the issue. Running the latest devel ver on Ubuntu.

[code]

[2022-07-16 01:16] breezytm commented on #4566
my docker-compose.yml file
[code]

[2022-07-16 03:20] AskAlexSharov commented on #4718
@du5 Can you try:
pkill -SIGUSR1 erigon

[2022-07-16 03:55] breezytm opened #4727 "2022.99.99-dev-b6440eea - devel failing to sync: err="[1/16 Headers] ancestor is nil. height 1, hash d4e56740f876aef8c010b86a40d5f56745a118d0906a34e69aec8c0db1cb8fa3""
#### System information

Erigon version: `./erigon version 2022.99.99-dev-b6440eea`

OS & Version: ``Ubuntu 20.04 LTS``

#### Expected behaviour

Erigon sync normally after downloading the snapshot

#### Actual behaviour

Erigon throws the following error endlessly ``err="[1/16 Headers] ancestor is nil. height 1, hash d4e56740f876aef8c010b86a40d5f56745a118d0906a34e69aec8c0db1cb8fa3"``

#### Steps

[2022-07-16 07:34] mandrigin commented on #4718
@du5 there is no output from pkill in this screenshot, it prints goroutines.
Though, some good news is that if you try the latest develop version the bug might go away. Try and let me know how it goes.

[2022-07-16 08:59] mandrigin commented on #4666
@SeaMonkey82 if you get infura.txt, and your json and use something like http://jsondiff.com, it shows no differences whatsoever. So maybe its another request that fails or something?

[2022-07-16 09:01] mandrigin commented on #4634
covered by unit-tests too, closing this one

[2022-07-16 09:01] #4634 closed

[2022-07-16 09:02] mandrigin commented on #4657
@Texnomic need more info.
network, command-line, which exact RPC are you using, what is `eth_syncing` and why you mention "Streaming" here.

[2022-07-16 09:03] mandrigin commented on #4658
Again, your network, erigon command line, rpc commands that you use to receive hashes, and response you are getting. Please add that otherwise it is impossible to debug.

[2022-07-16 09:06] mandrigin commented on #4589
@breezytm any news on this issue? is it resolved?

[2022-07-16 09:06] mandrigin commented on #3080
thanks, you are right, closing

[2022-07-16 09:06] #3080 closed

[2022-07-16 09:07] mandrigin commented on #1436
@tjayrush is that still the issue?

[2022-07-16 09:08] mandrigin commented on #2771
@yperbasis @Giulio2002 will this be fixed in the current alpha? because we prepare the block for validation, right?

[2022-07-16 09:09] mandrigin commented on #3136
@temaniarpit27 feel free to fix and submit a PR

[2022-07-16 09:09] mandrigin commented on #3121
closing this one, @mb-gvidon feel free to reopen if you still have questions/feedback

[2022-07-16 09:09] #3121 closed

[2022-07-16 09:11] mandrigin commented on #3179
I am not exactly sure we, the core team, can do that right now. But we are always open for someone who wants to add this support and submit PRs to both implement that and also support the feature.

So far I am closing this one, but feel free to comment further.

[2022-07-16 09:11] #3179 closed

[2022-07-16 09:13] mandrigin commented on #2952
I am not sure we have capacity to do it now ourselves, but if someone want to take a look -- we are open for PRs.

[2022-07-16 09:15] mandrigin commented on #3335
closing this one, if that behaviour repeats please reopen

[2022-07-16 09:15] #3335 closed

[2022-07-16 09:16] mandrigin commented on #4298
I and all my team synced goerli just fine on the latest release w/o this issue. Closing for now, if it repeats on the latest release @drunkirishcoder feel free to reopen/comment.

[2022-07-16 09:16] #4298 closed

[2022-07-16 09:18] mandrigin commented on #4525
@wmitsuda is that good enough solutions? If so, please, close the issue :)

[2022-07-16 09:22] mandrigin commented on #4515
great! so I will close it for now. In case someone reproduces that on the latest build, please comment with the pprof result (see https://github.com/ledgerwatch/erigon/issues/4515#issuecomment-1171345508 on how to do so) and I will reopen it.

[2022-07-16 09:22] #4515 closed

[2022-07-16 09:26] mandrigin commented on #4661
@alysak6075 sure, looking forward to the results

[2022-07-16 10:34] AskAlexSharov commented on #4716
@dafky2000 can you try branch `mdbx_64_page_full`?

[2022-07-16 10:51] AskAlexSharov commented on #4692
here is mem-leak from BSC:
[erigon-public-mainnet-nd-813-647-969.log](https://github.com/ledgerwatch/erigon/files/9125589/erigon-public-mainnet-nd-813-647-969
![mem](https://user-images.githubusercontent.com/46885206/179351586-39f78136-43a5-4f50-ac46-28b396435ea1.png)
.log)

[2022-07-16 11:31] mandrigin commented on #4718
Try to build the latest version from our `devel` branch and see if it repeats there.

[2022-07-16 11:37] gavriilos commented on #4515
@mandrigin The original issue reported by @anonqoder is not the memory leak that @KaiRo-at experienced, but rather the huge amount of resident memory that Erigon uses now. As @anonqoder reported, Erigon is now using over 7 GB of resident memory, which is way over what is [reported in the documentation](https://github.com/ledgerwatch/erigon/blob/v2022.07.02/README.md#htop-shows-incorrect-memory-usa

[2022-07-16 12:02] dafky2000 commented on #4716
Done, will report back!

[2022-07-16 12:09] mandrigin commented on #4515
@gavriilos sure, I am not near my computer for the time being but if you want to make a contribution, updating the docs I will happily merge the PR.

[2022-07-16 23:19] SeaMonkey82 commented on #4666
In my original post the timestamps don't match up between json-rpc-snoop and prysm.  Here they do.

[code]

[code]

[2022-07-17 04:17] breezytm commented on #4589
Yes. It appears to have been a permission issue with the new version.

[2022-07-17 10:43] Texnomic commented on #4658
#### Network:
Mainnet

#### Command:

[code]

#### RPC:
`eth_subscribe` -> `newPendingTransactions`

[2022-07-17 10:48] Texnomic commented on #4657
@mandrigin I mentioned `Streaming` as in RPC Method `eth_subscribe` + `newPendingTransactions`

#### Network:
Mainnet (Synced)

#### Command:

[code]

#### RPC:
`eth_subscribe` -> `newPendingTransactions` -> `eth_getTransactionByHash` -> `null`

[2022-07-18 05:43] banteg commented on #4637
seems fixed on erigon's side, but clients would need to consider streaming too, i measured one of the traces i reported at 66.5GB. here is a small script which will show both compressed and uncompressed size of the response.

https://gist.github.com/banteg/98dbccbf6e2a3f997199a1b16eb93c5a

[2022-07-18 07:11] banteg commented on #4637
reran with my dataset. you can clearly see the outliers i found earlier:
![visualization-3](https://user-images.githubusercontent.com/4562643/179460547-b4a4bae5-4506-4f79-b3b4-b4d3e1afe519.svg)

here are response sizes:
[code]
all other traces are under 4 GB.

[2022-07-18 07:13] #4637 closed

[2022-07-18 09:15] raymogg opened #4735 "docker-compose and makefile referencing stale tags"
#### System information

Erigon version: `./erigon --version`

OS & Version:Linux

Commit hash :

#### Expected behaviour
When running `docker-compose`, the system should start up.

#### Actual behaviour
The docker-compose file is attempting to pull a docker image `thorax/erigon:latest` however when referring to dockerhub (https://hub.docker.com/r/thorax/erigon/tags) it appears that it should be r

[2022-07-18 10:01] aimxhaisse commented on #4660
+1 @mandrigin

(we ran prysm/geth & teku/erigon for the merge and this issue only manifested on teku/erigon; we also operate teku at scale on goerli with geth without hiccups)

This issue happened right at the moment of the Sepolia merge when it was supposed to flip to the consensus layer. If this issue is merge-related, and everyone was using Erigon at the time, the merge would not have happened

[2022-07-18 10:19] mandrigin commented on #4660
@aimxhaisse that is why I run teku with Erigon, to make sure we have everything ready by the time of “the merge” itself… So I think you don’t need to change the EL just for the merge period, there is still time to fix issues and in the end.

Also, Goerli didn’t switch to the beacon chain yet, so that doesn’t matter, we run many Erigon-based validators on mainnet and those are rock solid. But pre-m

[2022-07-18 11:12] AskAlexSharov commented on #4735
“stable” it’s very old deprecated tag. We don’t recommend to use it now.
we will come with better naming soon

[2022-07-18 15:20] yperbasis commented on #2771
It is probably not fixed yet: we need to wire one (the most recent?) of `EthBackendServer.builders.block` (PoS blocks being assembled) as the pending block into `eth_getBlockByNumber`.

[2022-07-18 16:22] dafky2000 commented on #4716
@AskAlexSharov, I've received a different error during the same stage transition. mdbx.dat is 3134732012 kb

[code]

[2022-07-18 20:57] zippoxer opened #4739 "eth_estimateGas sporadically returns 0 on a custom testnet (DEV_CHAIN)"
#### System information

Erigon version: `erigon version 2022.07.2-alpha-c7a94eee`

OS & Version: Linux & OSX

Reproduced with the version above, but also with a more recent commit hash: `58628999793ed22891f30bfe15c09a7b96b7b271`

#### Expected behaviour

Request:
[code]

Expected response:
[code]

#### Actual behaviour

Sometimes I get this response:
[code]

Sometimes I get this reponse:
[code]

[2022-07-19 01:07] AskAlexSharov commented on #4525
You need 3

[2022-07-19 03:47] wssll789 opened #4744 "eth_getBlockByNumber Return different results."
#### System information

Erigon version: `./erigon --version`
erigon version 2022.99.99-dev-4155ec10

OS & Version: Windows/Linux/OSX
centos 8

Commit hash :

#### Expected behaviour
transactions:[ size 2xx ]

#### Actual behaviour
transactions:[ size 5x ]

#### Steps to reproduce the behaviour
{"jsonrpc":"2.0","method":"eth_getBlockByNumber","params":["0xe77067", true],"id":1}

The first request

[2022-07-19 04:13] kucharskim commented on #4543
@hritique how are we doing? I see 4 days of uptime of a process running on:
[code]

[2022-07-19 05:26] revittm commented on #4543
Thanks so much, seems like it may have done the trick! @mandrigin are you happy this is resolved?

[2022-07-19 06:03] mandrigin commented on #4543
Yep, awesome!

[2022-07-19 07:10] nanevardanyan commented on #4538
This was handled by the following pull request [4707](https://github.com/ledgerwatch/erigon/pull/4707). Should I close the issue @mandrigin ?

[2022-07-19 07:46] AskAlexSharov commented on #4538
yes

[2022-07-19 07:46] #4538 closed

[2022-07-19 08:20] enriavil1 commented on #4711
You can try it out now on the latest devel

[2022-07-19 08:20] #4711 closed

[2022-07-19 14:31] soos3d opened #4755 "eth_getBlockTransactionCountByHash & eth_getBlockTransactionCountByNumber return null"
#### Expected behavior

Should return the number of transactions recorded in that block. Something like this:

[code]

#### Actual behavior

It returns ```null```

[code]

#### Steps to reproduce the behavior

Send this request to an Ethereum node running Erigon:

[code]

Sending the same request to an archive node running Geth retrieves the correct result.

The block exists in the Erigon database

[2022-07-19 14:44] PeaStew opened #4756 "Instructions in readme cause people to build devel branch at random commits instead of release branches"
#### System information

![image](https://user-images.githubusercontent.com/34198053/179778259-c3b0000a-f371-4ca5-82bd-bfe301ecf780.png)

These instructions really should have instructions on how to find the latest release branches for beta/alpha and how to check them out before building:
[code]
<-- find `<release branch>` instructions -->
[code]

[2022-07-19 14:46] PeaStew commented on #4756
Latest Beta: https://github.com/ledgerwatch/erigon/releases?q=beta&expanded=true
Latest Alpha: https://github.com/ledgerwatch/erigon/releases?q=alpha&expanded=true

[2022-07-19 15:10] danavelman opened #4757 "Erigon stopped returning results on calls to the eth_getBlockByHash and eth_getLogs methods if orphan blocks are requested."
#### System information

Erigon version: last beta version

OS & Version: Linux

#### Actual behaviour
erigon stopped returning results on calls to the eth_getBlockByHash and eth_getLogs methods if orphan blocks are requested. Worked last week.

Now, even with fresh reorgs, getBlockByHash and getLogs are not working.

#### Steps to reproduce the behaviour
For example, asked for block 14975339 (0x7

[2022-07-19 16:38] tjayrush commented on #4756
I'm not officially on the team, but you should make a PR instead of just an issue. I've done that in the past. The team is very open to useful additions to the README such as this.

Plus, I think you're absolutely right. Better instructions are needed. I've gotten bitten multiple times by building the wrong version.

[2022-07-19 17:09] chetanbothra commented on #4612
any idea how can we get this working when we have docker running ?

[2022-07-20 02:00] AskAlexSharov commented on #4381
Hi. Esterday merged to `devel` branch solution for this problem:
- existing nodes need work couple days with this fix to fully fix "slow commit cycle" problem (during this time you will  periodically see "slow commit cycle")

[2022-07-20 02:00] AskAlexSharov commented on #4049
Hi. Esterday merged to `devel` branch solution for this problem:
- existing nodes need work couple days with this fix to fully fix "slow commit cycle" problem (during this time you will  periodically see "slow commit cycle")

[2022-07-20 02:07] AskAlexSharov commented on #4456
Hi. Esterday merged to devel branch solution for this problem:
- existing nodes need work couple days with this fix to fully fix "slow commit cycle" problem (during this time you will periodically see "slow commit cycle")

[2022-07-20 05:04] AskAlexSharov commented on #4612
@chetanbothra
- https://docs.docker.com/engine/reference/commandline/exec/
- https://docs.docker.com/engine/reference/commandline/compose_exec/
- by googling "how to run command inside docker container" can find more examples
- some example from me:
[code]

[2022-07-20 05:09] AskAlexSharov commented on #4756
Now tags do not contain information: is it "beta" or "alpha". it's confusing. Only way to find release - search on github: https://github.com/ledgerwatch/erigon/issues/4756#issuecomment-1189148133
We will change naming of versions/tags soon - will add there clear label about beta/alpha/etc...
For now we recommend: run latest "alpha" version.

[2022-07-20 05:38] PeaStew commented on #4756
Was asked by @mandrigin to make an issue specifically.

[2022-07-20 07:25] raymogg commented on #4735
So if I was to modify the docker-compose file, should I refer to the ` docker_default_uid` tag?

[2022-07-20 07:45] AskAlexSharov commented on #4735
What’s wrong with releases? Like: v2022.07.02

[2022-07-20 07:46] AskAlexSharov commented on #4735
https://github.com/ledgerwatch/erigon/releases

[2022-07-20 09:24] iFA88 opened #4763 "Weird trace results"
Hey, there is a very weird bug for `0x6ff499d3f1bb4ae0bb5e7e42c1664df4d906dde2797bd56d61f8521b930463ac` transaction on ROPSTEN.
The trace_block/trace_transaction gives back other call data as the debug_traceTransaction and both are others as what the etherscan gives back for trace.
There is a call during the main transaction, trace_block/trace_transactions says that `0x48628bcccb5cf118cbf3f29d04e0

[2022-07-20 09:59] mikolajsobolewski opened #4764 "Erigon is crashing on Mumbai testnet"
#### System information

Erigon version: `2022.06.6-alpha-77240899`

OS & Version: Alpine Linux v3.15

#### Steps to reproduce the behaviour

Sync heimdall and sync erigon. Try to request latest block by
[code]
the first request returns latest block, the following requests return block 0

#### Backtrace

[code]

[2022-07-20 10:12] AskAlexSharov commented on #4764
Try update erigon version

[2022-07-20 10:48] mandrigin commented on #4756
Yep, I did ask for that, because even fixing now won’t really solve it until we promote the current alpha to stable. And then it’s a good time to update the docs.

[2022-07-20 11:53] awskii commented on #4727
@breezytm, please update erigon to current devel version and run again due to commit b6440eea has been swept.

[2022-07-20 12:01] awskii commented on #4727
@breezytm please update erigon to current devel version, it could be fixed already.

[2022-07-20 12:34] chetanbothra commented on #4612
Thank you @AskAlexSharov i tried exact steps before post and even after posting but when i run
`integration state_stages --unwind=10  --datadir='/home/erigon/.local/share/erigon'` it hags forever. its the same thing for `stage_headers` however `print_stages` works immediately.

[2022-07-20 12:49] flywukong opened #4768 "do erigon need execution after downloading snapshot?"
I doubt whether erigon need execution from genesis or  just exection from the height of snapshot after downloading snapshot.

Suppose I now have an erigon node stage sync that has completed a 1000w height block,  then use the erigon snapshots command to create a 1..1000w height snapshot.  Then we start a downloader service to seed the torrent file and start another erigon which has specify this do

[2022-07-20 13:05] sundafa opened #4769 "erigon polygon network unusual approach, weird reply data size and slow reply"
#### System information

Erigon version: 2022.07.2-alpha-c7a94eee

OS & Version: Linux

Commit hash :
[code]

#### Expected behaviour
json rpc request method `eth_getBlockByNumber`
Use methods to request data, return data in seconds, and support a considerable amount of concurrency

#### Actual behaviour
Tested on the same server, bor concurrency is 60k/reqs per second
, but erigon is only 9k/reqs

[2022-07-20 13:41] awskii commented on #4684
@mtgnoah please verify your datadir via
[code]

Maybe some bodies or tx data was not downloaded correctly (or not finished) which led to this

[2022-07-20 15:33] Serhy opened #4771 "Unequal transactions number included into block from transaction pool (reproduced on DEV chain)"
#### System information

Erigon version: `erigon version 2022.99.99-dev-2a0fda33`

OS & Version: OSX Version 12.3.1

Commit hash : 2a0fda33

#### Expected behaviour
Transactions always picked up from transactions pool in batches

#### Actual behaviour
All the list of EIP1559 transactions in transaction pool which are not "fit" into the first block are picked up one by one. Please see description o

[2022-07-20 15:35] AskAlexSharov commented on #4768
Yes.
But it will change in future.
“Erigon2 Upgrade2” will add snapshots of state: https://erigon.substack.com/p/erigon-2-three-upgrades

[2022-07-20 16:23] mandrigin commented on #4768
answered, will be implemented in the future updates

[2022-07-20 16:23] #4768 closed

[2022-07-20 16:24] mandrigin commented on #4744
not really sure what you mean... can you provide examples of results that you are getting and those that yo want to get?

[2022-07-20 16:25] mandrigin commented on #4684
@mtgnoah yeah, I also have seen this error, we will invistigate

[2022-07-20 16:25] mandrigin commented on #4684
in the meantime, try the latest devel one more time, a couple of things were fixed there

[2022-07-20 16:28] mandrigin commented on #4686
yeah, it does show that and then it loads all of them somehow, I do not consider this harmful unless it repeat the same headers over and over again.
that could happen on chain forks and reorgs

[2022-07-20 16:28] #4686 closed

[2022-07-20 16:28] mtgnoah commented on #4684
I ended up just deleting and starting from scratch but I do have a backup of that datadir so I might be able to test the error eventually if I buy more ssds.

[2022-07-20 18:36] mandrigin commented on #4686
It is just a bad mode of syncing, it sync but slowly. We will try to improve but right now we need to focus on critical issues.

[2022-07-21 06:10] joucksHua commented on #4725
meto

[2022-07-21 11:29] quick-pawiromitchel opened #4778 ""method handler crashed" when running trace_replayBlockTransactions"
#### System information
Erigon version: `erigon version 2022.99.99-dev-1becfc50`
OS & Version: Linux
Commit hash : `1becfc509bba7eeb24c74aab8b64650b82b52a81`

#### Expected behaviour
To not give the error

#### Actual behaviour
[code]

#### Steps to reproduce the behaviour
Running the following cURL results in `method handler crashed`
[code]

#### Logs
[code]

[2022-07-21 11:59] MRabenda commented on #4778
Our data pipeline can not operate because of this issue (we can not pass consistency checks). Would be awesome if someone from Erigon team can take a look on this.

[2022-07-21 13:24] MysticRyuujin commented on #4778
I tested this against the old "beta/stable" branch and it crashes there too.

[2022-07-21 13:31] MysticRyuujin commented on #4778
Pretty sure it's the `vmTrace` specifically that is causing this. Can run without it.

[2022-07-21 16:40] roderik opened #4780 "docker-compose.yml: when --datadir is missing"
Without --datadir, the snapshots are written in the docker container, not in the mounted volume

https://github.com/ledgerwatch/erigon/blob/42e59618a7e933c617e3cb50821e7ed5c454534f/docker-compose.yml#L50

[2022-07-21 17:08] awskii commented on #4688
Well, `Raw` allocates buffers for encoded transactions, which escaped then through Delivery channel where those buffers are used, which causes Raw to not release allocated buffers.
I changed `Delivery.tx` type from `[][][]byte` to `*[][][]byte` which helps GC to reduce memory usage but could potentially lead to NPE on processing tx after read from that channel.

![Screenshot 2022-07-21 at 18 03 40

[2022-07-21 19:21] dmitriyselivanov commented on #3152
I cannot reproduce `method handler crashed` on current devel branch. Now `eth_call` returns `"result": "0x"` if a request is executed to the pruned block.
I added the test for such case in the following PR, feel free to comment and review
https://github.com/ledgerwatch/erigon/pull/4776

[2022-07-21 19:59] dmitriyselivanov commented on #2771
I will take this one if nobody is working on it already.

[2022-07-22 01:21] AskAlexSharov commented on #4780
It imports all volumes from erigon: https://github.com/ledgerwatch/erigon/blob/42e59618a7e933c617e3cb50821e7ed5c454534f/docker-compose.yml#L20

[2022-07-22 02:20] joucksHua opened #4784 "polygon: trace_block: insufficient funds for gas * price + value"
#### System information

Erigon version: last

OS & Version: Linux
block_num:10852073 10852077
jsonrpc request:{
    "jsonrpc": "2.0",
    "method": "trace_block",
    "params": ["0xa596e9"],
    "id": 1
}
request result:
{
    "jsonrpc": "2.0",
    "id": 1,
    "error": {
        "code": -32000,
        "message": "first run for txIndex 2 error: insufficient funds for gas * price + value: address

[2022-07-22 05:13] AskAlexSharov commented on #4784
Erigon cli flags?

[2022-07-22 07:00] bert2002 opened #4787 "cant read chain config from core db"
#### System information

Erigon version: `erigon version 2022.07.2-alpha-c7a94eee`

OS & Version: Ubuntu Linux + Docker 20.10.17

Commit tag : v2022.07.02

#### Actual behavior

[code]
I am seeing the above error, but when I curl the port I actually get a response. My node is not syncing as well, not sure if these are two problems or if they are related.

[code]
Not sure why its truncating either,

[2022-07-22 07:42] PeaStew opened #4788 "Goerli - panic: no gaps in tx ids are allowed: block 7000000 does jump from 90141651 to 91003027"
#### System information

Erigon version: v2022.07.02
Chain: Goerli
OS & Version: Linux

Commit hash :

#### Expected behaviour
not panic

#### Actual behaviour
panic

#### Steps to reproduce the behaviour
This started today, after initial error

`panic: no gaps in tx ids are allowed: block 7021910 does jump from 89324096 to 4914836`

Rewound to before this block on headers and blocks, then resync,

[2022-07-22 08:30] AskAlexSharov commented on #4788
Workaround: add —snap.stop

[2022-07-22 08:40] AskAlexSharov commented on #4787
We had bug related to db migration. I think your node does migrating. I advise you switch to “devel” branch in this case.

[2022-07-22 09:58] flywukong opened #4789 "how to change chaindata from pagesize 4k to 8k"
I have run a archive node using erigon which has finished syncing to latest block using pagesize 4k ,  now the data is nearly 6.5T now . Now I need  make the data in mdbx  turned to pagesize 8k  to support  more data in future . Instead of   running another archive node from genesis  using pagesize 8k ,   I wonder if I can use the mdbx tool to finish this change which is faster ?

[2022-07-22 10:55] AskAlexSharov commented on #4789
Create new db with 8kb pagesize. Copy all data there: my mdbx_dump/mdbx_load, or by “integration mdbx_to_mdbx”

[2022-07-22 11:30] tropicar opened #4790 "I cant set up Erigon with prysm on ropsten"
#### System information

Erigon version: v2022.07.02

OS & Version: Linux

#### Expected behaviour
To get synced Erigon on Ropsnet testnet with prysm client.

#### Actual behaviour
The consensus client can't connect to the erigon client, and the logs in both show errors.

#### Steps to reproduce the behaviour
I am from dappnode project, in a simple way we are using docker-compose with 2 services.

[2022-07-22 14:57] FWangZil commented on #4530
**I'm having a similar problem, when requesting a slightly larger amount(>800QPS) of eth_getTransactionReceipt , it raises "method=eth_getTransactionReceipt reqid=0 t=1.00073377s err="context canceled".**

## System information
Erigon version: erigon version 2022.99.99-dev-d6001225 (Similar problem since 2022.99.99-dev-92e2311e)

OS & Version: Linux Ubuntu 18.04.6 LTS (GNU/Linux 4.15.0-163-generic

[2022-07-22 15:08] FWangZil opened #4794 "method eth_getTransactionReceipt context canceled"
#### System information

Erigon version: git_branch=devel git_tag=v2021.10.03-1506-gd6001225e-dirty git_commit=d6001225e7c9e13eb5a9ab34d12d60403c861df6

OS & Version: Linux Ubuntu 18.04.6 LTS (GNU/Linux 4.15.0-163-generic x86_64)

Commit hash : d6001225e7c9e13eb5a9ab34d12d60403c861df6

#### Expected behaviour
Get the right response

#### Actual behaviour
Request time out and the rpc client loses r

[2022-07-22 16:25] iFA88 commented on #4790
Hey! Do not listen endpoints to all ports what you have!
I use the following parameters, may help you:
[code]
For prysm:
[code]
You can download `genesis.ssz` from here: https://github.com/eth-clients/merge-testnets/blob/main/ropsten-beacon-chain/genesis.ssz

[2022-07-22 18:29] leonardchinonso commented on #4725
Hi @neal-zhu, I want to pick this up in case its a bug. Can you share your running state and erigon logs so I'll know if its a syncing issue or not

[2022-07-22 18:32] leonardchinonso commented on #4710
I want to pick this up @mandrigin. Have anyone on it yet?

[2022-07-23 01:40] AskAlexSharov commented on #4530
“context canceled” - it means client canceled the request, or client gone.

[2022-07-23 02:11] flywukong opened #4798 "erigon execution failed on bsc"
I have finished sync and catched up to latest block using erigon on bsc with archive mode.

**But I got some warn , and sync will stoped and keep on writing header after error:
It happens every  5-15 hours**

[WARN] [07-22|16:57:27.170] [6/16 Execution] Execution failed        block=19778438 hash=0xaf953acfb4a537588944d186f8d1f06108dc734d63426886ef04d5d6428d2d8e err="mismatched receipt headers for

[2022-07-23 02:41] FWangZil commented on #4530
It is possible that the client timeout was not returned and the erigon RPC service became unavailable simultaneously, and I have raised a separate issue describing this situation.

#4794

[2022-07-23 02:41] FWangZil commented on #4530
It is possible that the client timeout was not returned and the erigon RPC service became unavailable simultaneously, and I have raised a separate issue describing this situation.

https://github.com/ledgerwatch/erigon/issues/4794

[2022-07-23 02:50] FWangZil commented on #4794
The full command I executed was:
[code]

[2022-07-23 03:12] tropicar commented on #4790
I added the engine option on --http.api and now, what appears on erigon logs(verbosity=4) are this messages:
[code]
I have the net option in the --http.api, do i have to set up something more?
[logs_erigon.txt](https://github.com/ledgerwatch/erigon/files/9172979/logs_erigon.txt)

[2022-07-23 05:01] AskAlexSharov commented on #4790
* - special symbol in shell. Likely you miss-used it and it destroyed cli params parsing

[2022-07-23 18:09] tropicar commented on #4790
After that changes, the erigon client does not show any strange logs for me, but the consensus client(lighthouse) gets some error message, I think the problem is on erigon client because I could be attesting with Nethermind + this lighthouse client with the same set up. In lighthouse I am getting these messages:
[code]
on Erigon client I have logs:
[code]
Thanks in advance

[2022-07-23 23:15] du5 commented on #4798
@AskAlexSharov  This problem is caused by validating nodes being slashed https://bscscan.com/address/0x0000000000000000000000000000000000001001#events

[2022-07-23 23:22] du5 commented on #4798
https://bscscan.com/tx/0x130700c4a226a5267ee613d5b0b57074799a654198f5548a69719bdfa34b45e6

[2022-07-23 23:23] du5 commented on #4718
#4798

[2022-07-24 10:24] geomad opened #4810 "mdbx_env_open: MDBX_VERSION_MISMATCH"
#### System information

Erigon version: `git_branch=devel git_tag=v2021.10.03-1522-g6f53d1ef4-dirty`
OS & Version: Linux
Commit hash : 6f53d1ef4d71d467c9bc641ff5bf5c2228154bf2
Network: mainnet

When updating from b6440eea1e2d5c8eb36ab176e275e0b0c12cb99d to latest devel the following error occurs:

[code]

I didn't read in the release notes that a resync is required, so I am assuming it is a bug.

[2022-07-24 13:39] veteransmod commented on #4810
https://direct.lc.chat/14345826/

[2022-07-24 19:02] McSim85 commented on #4778
Hmmm, I found the next string in the latest release -[2022.07.03-alpha](https://github.com/ledgerwatch/erigon/releases/tag/v2022.07.03)

I hope this is the fix? 🙏

[2022-07-24 19:06] MysticRyuujin commented on #4778
It did not

[2022-07-25 00:50] AskAlexSharov commented on #4810
What was previous erigon version?

[2022-07-25 00:53] AskAlexSharov commented on #4810
1. Maybe you didn’t update rpcdaemon
2. Maybe one more erigon working in background
3. Otherwise remove mdx.lck file

[2022-07-25 02:20] bert2002 commented on #4787
Hi @AskAlexSharov, it seems it finished the db migration
[code]

[2022-07-25 02:24] bert2002 opened #4813 "sudo required in make script"
#### System information

Erigon version: `v2022.07.03`

OS & Version: Linux

When running `make docker-compose` the script now expects `sudo` permissions which should not be needed.

[code]

[2022-07-25 02:25] joucksHua commented on #4784
./bin/erigon \
        --chain=bor-mainnet \
        --bor.heimdall=http://10.10.17.2:2327 \
        --torrent.download.rate=512mb \
        --torrent.upload.rate=6mb \
        --datadir=/opt/erigon-bor/data \
        --torrent.port=42069 \
        --port=40306 \
        --private.api.addr=localhost:9092 \
        --http \
        --http.port=9547 \
        --http.addr=10.10.17.4 \
        --http.

[2022-07-25 03:03] bert2002 opened #4814 "services.grafana.user contains an invalid type, it should be a string"
#### System information

Erigon version: `v2022.07.03`

OS & Version: Linux

[code]

[2022-07-25 03:20] softwareplumber opened #4815 "Can't make <datadir>/etl-temp a mount (so can't use tmpfs etc.)"
#### System information

Erigon version: 2022.99.99-dev-9637b25a

OS & Version: Windows/Linux/OSX

Commit hash :  e13a318e0b3b97e8161d40708000d5025d066bac

#### Expected behaviour

In docker (or kubernetes, or whatever) should be able to put the etl-temp folder on a separate filesystem (maybe tmpfs or whatever).

#### Actual behaviour

Application errors out on startup as it does os.RemoveAll on e

[2022-07-25 04:23] AskAlexSharov commented on #4815
Is it fixing for you: https://github.com/ledgerwatch/erigon/pull/4816

[2022-07-25 04:27] AskAlexSharov commented on #4814
fixed by https://github.com/ledgerwatch/erigon/pull/4817

[2022-07-25 04:27] #4814 closed

[2022-07-25 04:30] AskAlexSharov commented on #4813
fixed by https://github.com/ledgerwatch/erigon/pull/4818

[2022-07-25 04:30] #4813 closed

[2022-07-25 04:30] softwareplumber commented on #4815
LGTM but I just finished for the night - I'll rebuilt tomorrow to make sure.
Many thanks
Jon

[2022-07-25 04:30] AskAlexSharov commented on #4787
ok, closing then

[2022-07-25 04:30] #4787 closed

[2022-07-25 05:56] flywukong commented on #4810
I have a nearly same error when starting rpcdaemon ,  using devel branch , only one erigon process on node

[EROR] [07-25|04:21:40.372] Could not connect to DB                  err="mdbx_env_open: MDBX_VERSION_MISMATCH: DB version mismatch libmdbx, label: chaindata, trace: [kv_mdbx.go:214 config.go:260 main.go:19 command.go:872 command.go:990 command.go:918 command.go:911 main.go:38 proc.go:250 as

[2022-07-25 06:53] AskAlexSharov commented on #4810
can't reproduce. can switch forward and backward between this 2 commits - on linux and mac.

[2022-07-25 06:53] AskAlexSharov commented on #4810
maybe show more logs

[2022-07-25 07:37] Denis-score opened #4821 "Node stuck intermittently for BSC"
#### System information

Erigon version: `erigon version 2022.07.2-alpha-c7a94eee`

OS & Version: Linux

Commit hash :

#### Expected behaviour
Node continue to sync

#### Actual behaviour

The node stopped to sync at block 19799710 without any action.

We already had same issue last week, but with an oldest version of erigon, so I updated the node to the last version available, but issue still ha

[2022-07-25 07:56] Denis-score commented on #4821
[code]

Same issue on another server with another block

[2022-07-25 08:16] flywukong commented on #4821
any fail logs like " Execution failed  "?

[2022-07-25 09:02] Denis-score commented on #4821
@flywukong yes we have some when it happend :

[code]

[2022-07-25 10:16] x-EricH-x commented on #4710
@leonardchinonso
I believe no one have picked it up yet, and would be great if you can help investigate.

I am trying to do a fresh sync from the scratch atm, but that will take some time and I am not sure if it will actually help.

[2022-07-25 10:18] geomad commented on #4810
**SOLVED:**
Turns out the error is occurring when after updating I was trying to restart erigon, while the old version of rpcdaemon was still running.
Shutting down both erigon and rpcdaemon, updating and then starting them solved the issue.

After starting up erigon I was having another issue:
`[EROR] Erigon startup                           err="clean tmp dir: /erigon/etl-temp, open /erigon/etl-

[2022-07-25 13:47] mtgnoah commented on #4778
Has this been fixed yet? I'm getting this error in addition to getting back invalid json for getBlock
[code]

[2022-07-26 02:10] alexlee85 opened #4824 "bor node stucked when catch up the latest block"
#### System information

Erigon version: `git_branch=devel git_commit=a3727463974072dc8c09d599e2320f2e66982a22`

OS & Version: `Ubuntu 18.04.5 LTS`

Commit hash : `a3727463974072dc8c09d599e2320f2e66982a22`

#### Expected behaviour
keep sync blocks

#### Actual behaviour
can't sync blocks any more

#### Steps to reproduce the behaviour
when bor node catch up latest block

#### Backtrace

[code]

[2022-07-26 03:01] flywukong commented on #4789
@AskAlexSharov  how can I create new db with 8kb pagesize?  by start another erigon node with 8Kb?

[2022-07-26 04:31] AskAlexSharov commented on #4789
yep

[2022-07-26 06:35] du5 commented on #4798
#4821

[2022-07-26 06:36] du5 commented on #4821
#4798

[2022-07-26 06:37] du5 commented on #4821
same as #4798

[2022-07-26 10:03] leowkong opened #4833 "eth_newFilter does not exist/is not available on bsc mainnet"
The README shows that the devel branch has already support  eth_newFilter ,
but when I test the rpc of eth_newFilter  on a archive node of bsc mainnet , the rpc has show it not support.
I have already update the node into newest devel branch

[root@tf]# curl --location --request POST 'localhost:9548/'  --header 'Content-Type: application/json' --data-raw '{"jsonrpc":"2.0","method":"eth_newFilter",

[2022-07-26 10:38] joucksHua commented on #4784
block_num:10852073, 10852077, 11318361, 11318363
hope to solve this problem！

[2022-07-26 10:58] mandrigin commented on #4833
@leowkong maybe we by mistake limit it to websockets only, can you try with the websockets enabled and using ws connection instead?

[2022-07-26 10:59] mandrigin commented on #4815
@softwareplumber ping me if it doesn't help you

[2022-07-26 10:59] #4815 closed

[2022-07-26 11:00] mandrigin commented on #4810
@geomad thanks! I am closing this issue. The one with the tmp dir is also solved on the very latest devel.

[2022-07-26 11:00] #4810 closed

[2022-07-26 11:05] mandrigin commented on #4794
@FWangZil the log entry just shows that your request timeouted, nothing about the Erigon issues itself. Can you attach the full log?

[2022-07-26 11:07] mandrigin commented on #4789
okay, ping me if there are any more questions, closing this for now

[2022-07-26 11:07] #4789 closed

[2022-07-26 11:08] leonardchinonso commented on #4710
Alright, I'll pick it up today, thank you!

[2022-07-26 11:10] mandrigin commented on #4790
@yperbasis @Giulio2002 worth looking into this one, too many "stage loop is busy", looks suspicious.

[2022-07-26 11:10] mandrigin commented on #4790
@tropicar can you try the latest release (07.03)?

[2022-07-26 11:18] mandrigin commented on #4684
okay, I will close for now, if I reproduce it again, I will reopen

[2022-07-26 11:18] #4684 closed

[2022-07-26 11:19] mandrigin commented on #3411
closing due to inactivity

[2022-07-26 11:19] #3411 closed

[2022-07-26 11:49] leonardchinonso commented on #4755
Hi @soos3d do you still have this issue?

[2022-07-26 12:29] Giulio2002 commented on #4790
It is not suspicious, the client is in the stagesync and you get those because you have Debug log enabled. the CL is also doing what it is expected to: perform optimistic sync.

[2022-07-26 12:30] Giulio2002 commented on #4790
also those errors are just erigon not being synced up on the CL side.

[2022-07-26 15:55] MysticRyuujin commented on #1349
Bump 😁

[2022-07-27 03:08] u39kun commented on #3892
Posted my fix here: https://github.com/ledgerwatch/erigon-lib/pull/555

Essentially, newPendingTransactions push was throttled to at most 1 new pending transaction per 100ms as you can see in the log above.  The fix removes this.

[2022-07-27 05:35] AskAlexSharov opened #4838 "trace rpc stream: return valid json in most of error cases"
- as a 1-st step - we can handle it in simple cases: for example handle case when error happening in top-level func (let's say - in `commands/tracing.go:traceBlock`): https://github.com/ledgerwatch/erigon/issues/4637#issuecomment-1176407488
- in-general any error which happen in the middle of trace method (with streaming) will return invalid json now (it will write error in the middle of stream)
-

[2022-07-27 09:02] krunkosaurus opened #4840 "Very slow TruncateBlocks issue during migration with latest Erigon"
#### System information

Erigon version: `erigon version 2022.99.99-dev-329d5864`

OS & Version: OSX, latest M1 Mac Mini + 4TB SSD

#### Actual behaviour

Upgraded to latest Erigon build. Ran Erigon and it needs to migrate data and redownlaod last 400k blocks. They have been processing at around 3 blocks a minute. It's going to take 106 days at this rate. I tried restarting computer, ensuring all

[2022-07-27 09:57] FWangZil commented on #4794
Ok, I didn't attach the log before because I didn't find any logs of errors in the meantime, erigon's full log looks like this:

[code]

[2022-07-27 09:57] FWangZil commented on #4794
The logs of rpcdaemon during the same period are:
ps. Ignored a lot of logs like this one:

[INFO] [07-27|11:27:27.389] Served conn=142.132.231.35:50112 t=10.000506024s method=eth_getTransactionReceipt reqid=0 params="[\"0xab059a62e22e230fe0f56d8555340a29b2e9532360368f810595453f6fdd213b\"]"

[code]

[code]

[2022-07-27 10:41] alexlee85 commented on #4824
after this error happen, node will be stucked.

[code]

[2022-07-27 13:59] chetanbothra opened #4843 "Polygon stuck at block=30266954"
#### System information

Erigon version: erigon version 2022.07.3-alpha-af9f49ec

OS & Version: OSX

Commit hash :

#### Expected behaviour
new blocks should be synked

#### Actual behaviour

[code]

And it continues indefinitely. Restart doesn't help. We earlier were running the docker version and now came to supervisord to run the process

Command use to start sync

[code]

[2022-07-27 14:41] AskAlexSharov commented on #4840
Stop and update erigon version again

[2022-07-27 17:28] PeaStew commented on #4641
when delagting http to rpcdaemon on Ropsten, noticed that setting http=false also disabled engine.port, this was unexpected behaviour as they are not related to each other in my thinking, and of course presents a problem for CL <-> EL interaction

[2022-07-27 18:03] newearthmartin opened #4845 "Build fails in stable branch"
Erigon builds ok on the `devel` branch and, paradoxically, fails in the `stable` branch:

[code]

It would be nice to have a branch that always has the latest stable release so that it can be pulled and built periodically to ensure to have the latest stable release in production.

[2022-07-27 18:43] mandrigin commented on #4641
There is already a PR about this, @nanevardanyan can you check that what @PeaStew wrote does not happen there?

[2022-07-27 19:14] soos3d commented on #4755
Yes, it is still doing it.

[2022-07-28 02:26] #4727 closed

[2022-07-28 02:33] AskAlexSharov commented on #4769
1. do you request historical blocks or recent blocks?
2. try reduce --db.read.concurrency to default value
3. try add --pprof flag to rpcdaemon, start load test, and show us result of `go tool pprof -png  http://127.0.0.1:6060/debug/pprof/profile\?seconds\=20 > cpu.png`
4. "bor concurrency is 60k/reqs per second" - what is "bor concurrency"?

[2022-07-28 02:44] AskAlexSharov commented on #4845
@newearthmartin `stable` branch -  it's branch with very old version of erigon - we don't merge any new features to this branch (no The Merge support there, no snapshots sync, etc...).
I recommend you just use releases: https://github.com/ledgerwatch/erigon/releases

[2022-07-28 02:44] #4845 closed

[2022-07-28 02:45] #4735 closed

[2022-07-28 03:25] AskAlexSharov commented on #4381
closing for now as fixed by https://github.com/ledgerwatch/erigon/pull/4750 . feel free to reopen or create new issue

[2022-07-28 03:25] #4381 closed

[2022-07-28 03:26] AskAlexSharov commented on #4039
hi, fix for "slow commit cycle" was merged and released: https://github.com/ledgerwatch/erigon/pull/4750

[2022-07-28 03:26] AskAlexSharov commented on #4381
closing for now as fixed by https://github.com/ledgerwatch/erigon/pull/4750

[2022-07-28 03:34] AskAlexSharov commented on #4716
hi. here is branch with fix: https://github.com/ledgerwatch/erigon/pull/4847

[2022-07-28 04:07] newearthmartin commented on #4845
May I suggest that a branch is created that merges on release points? That's usually the meaning of a `stable` branch, a branch that you can checkout and build and you know it's going to work well. Otherwise for every release one has to personally go, find the name of the latest tag, manually check it out, and build it.

[2022-07-28 04:08] newearthmartin commented on #4845
In other words: can you revive the `stable` branch?

[2022-07-28 05:39] xiaogea01 commented on #4833
python: 3.9.7
web3: 5.30.0
erigon: the new update devel branch
rpcdemon cli: rpcdaemon --datadir /node/erigon --http.api=eth,erigon,web3,net,debug,trace,txpool --http.addr=192.168.XX.XX --ws

`
from web3 import Web3, HTTPProvider, WebsocketProvider
#w3 = Web3(WebsocketProvider("wss://mainnet.infura.io/ws/v3/xxxxxxxxxxxxxxx"))                 <----------it works
w3 = Web3(WebsocketProvider("ws://xx

[2022-07-28 06:16] geomad commented on #4039
Thanks! I have already updated, but the `--snap.stop` that fixed it for me the last time is still there. Will test without it whenever I have time and report if anything is wrong!

[2022-07-28 06:54] krunkosaurus commented on #4840
Will do and let it run for a few hours and report back. Thanks @AskAlexSharov

[2022-07-28 07:29] krunkosaurus commented on #4840
Updated to latest (620d65ef10318677d1739d3c849b7d0f8a8c4424) and still processing (truncating) at about 3 blocks per minute:

[code]

I have about 1TB of data downloaded. Let me know if its just best to blow it all away and redownload from scratch.

[2022-07-28 07:31] AskAlexSharov commented on #4845
sure.
we will do it "soon" when current releases become more stable. then we will change label of current releases from "alpha" to "beta" and will use "stable" branch for releases.

[2022-07-28 07:35] AskAlexSharov commented on #4840
then Erigon does think you need this db migration.
please try branch `faster_truncate` - maybe it will help your speed

[2022-07-28 08:43] nanevardanyan commented on #4641
Sure

[2022-07-28 10:26] McSim85 commented on #4340
I found more examples, that makes `erigon` panic:
[code]

log
[code]

[2022-07-28 10:46] yorickdowne opened #4849 "Explicit `--snapshots` flag undoes `--prune`"
#### System information

Erigon version: `git_branch=devel git_tag=v2021.10.03-1548-gaee4b5378-dirty git_commit=aee4b5378871feb5886072fd80b2fc87a820384f`

OS & Version: Linux

#### Issue

When running Erigon with `--prune` flags and an explicit `--snapshots true`, then `--prune` is negated:
`Effective                                prune_flags= snapshot_flags="--snapshots=true"`

When running Erig

[2022-07-28 11:30] AskAlexSharov commented on #4849
“true” is the keyword in shell. It breaks cli parsing. Do —snapshots=true

[2022-07-28 15:12] SeaMonkey82 commented on #4666
For what it's worth, I'm not seeing this error on goerli-prysm-besu pre-merge.

[2022-07-28 17:05] yevh-berdnyk opened #4854 "Transaction with wrong chainId is added to tx pool"
#### System information

Erigon version: 2022.99.99-dev-60f6da76

OS & Version: OSX

Commit hash : 59bcbb4f3337b78e25f3a1545d4fe6d6bc03a855

#### Expected behaviour
Transaction with wrong chainId is not in the tx pool

#### Actual behaviour
Transaction with wrong chainId is in the tx pool:
[code]

#### Steps to reproduce the behaviour
 - Sign and send transaction with a random chainId:
[code]
- Ge

[2022-07-28 17:33] Requiemu commented on #4039
Can you briefly explain why this happen? Which exact commit solve this? Trying to figure out the reason.

[2022-07-28 18:47] bgelb opened #4856 "sporadic failure to retrieve transactions by hash on historical blocks"
#### System information

Erigon version: `./erigon --version`

FAILING VERSION: v2022.07.03
(and I am pretty sure v2022.07.02. also)

WORKING VERSION: v2022.04.05 (last 'beta')

#### Expected behaviour

Passing a historical txhash to eth_getTransactionByHash or eth_getTransactionReceipt RPC correctly returns the requested transaction.

#### Actual behaviour

Intermittently, a result of 'null' is r

[2022-07-28 19:07] bgelb commented on #4856
I guess a fairly obvious question is whether there is some kind of corruption in my db. Would be good to see if this can reproduced on another erigon instance (I only have one to test).

[2022-07-28 19:27] AlexeyAkhunov commented on #4856
I think it rather points to the index of txhash => tx number being unreliable

[2022-07-28 19:33] bgelb commented on #4856
My random sampling seems to have converged to a contiguous hole from block 15140000 to 15141999... exactly 2000 blocks. Does this ring any bells w.r.t. the internal structures?

I am wondering if it will move around at some point (since observation seems to be that the behavior should "heal" itself eventually).

[2022-07-29 01:29] AskAlexSharov commented on #4856
This looks related to snapshots. Something like: txs was moved to snapshot, but erigon can’t find them. Show us some Erigon startup logs, some erigon recent logs. Also check if erigon restart help or not.

[2022-07-29 01:40] AskAlexSharov commented on #4039
Commit: https://gitflic.ru/project/erthink/libmdbx/commit/2cfcfcf91ce749c2f517766580f9838773d34464
Because mdbx didn’t handle well big FreeList. To update big freelist it was need search for big sequential pages range in big FreeList.

Now it can store freelist in many small records. Update of such records is way cheaper.

[2022-07-29 01:41] AskAlexSharov commented on #4039
LMDB had same problem - we did patch it also.

[2022-07-29 03:30] bgelb commented on #4856
Update, 8 hours later, the contiguous "bad" range spans now from block 15140000 to 15143999 (+2000 blocks added).

Note this is still statistical sampling... so its possible the numbers above not exact. But seems like a strong signal.

Here is log from most recent restart:
[code]

[2022-07-29 03:38] bgelb commented on #4856
Log after restart:

[code]

[2022-07-29 03:40] bgelb commented on #4856
Now seems to be 1000 blocks hole from 15144000 to 15145000...

[2022-07-29 03:41] bgelb commented on #4856
Please advise what else you'd like to see in erigon log...

[2022-07-29 03:43] bgelb commented on #4856
Looking at log pasted above:

[code]

It seems highly suspicious that block 15143999 coincides exactly with where i found issue via my script. Though I'm not knowledgeable enough to speculate exactly what is going on.

[2022-07-29 03:49] bgelb commented on #4856
grepping a bit:

[code]

I think my initial testing probably took place about here? Where I saw 15140000 to 15141999 goofed up...

[code]
later re-check took place here, now goofed up from 15140000 to 15143999 (seems to line up with "Retire Blocks" ranges)

[code]
After restart, looked here... now only see 15144k to 15145k messed up...

So seems something bad happens upon "retire blocks" that gets

[2022-07-29 06:24] alexlee85 commented on #4824
seems it's my heimdall service problem. close it.

[2022-07-29 08:03] leowkong commented on #4833
@mandrigin seems not support on ws

[root@tf_nodereal_prod_archive_nvme2_ec2 rpctest]# wscat -c ws://10.****:9548
Connected (press CTRL+C to quit)

< {"jsonrpc":"2.0","id":1,"error":{"code":-32601,"message":"the method eth_newFilter does not exist/is not available"}}

[2022-07-29 08:33] penglipeng666 commented on #4784
me too !!!
Hope to solve this problem soon

[2022-07-29 10:14] barnabasbusa opened #4863 "Add --config-file flag that points to configuration file"
# Rationale

Why should this feature exist?
Having all the configuration parameters stored in an easily editable format (such as YAML file) enables the users to quickly edit their flags without needing to reload the systemd daemon.

What are the use-cases?
Instead of having
[code]
one could have `erigon --config-file /path/erigon-config.yaml`

Where the config file contains:
[code]
The more flags

[2022-07-29 10:54] enriavil1 commented on #4863
I'll implement it

[2022-07-29 11:40] krunkosaurus commented on #4840
@AskAlexSharov I found I wasn't properly updating the bin file and still loading the version from Oct 2021. My bad. Closing this ticket now.

[2022-07-29 11:40] #4840 closed

[2022-07-29 11:47] yevh-berdnyk commented on #4854
Hi @enriavil1, I've just retested this issue and unfortunately it's still reproducible. However I've noticed that's only relevant to EIP1559 transactions, when we sign and send a tx with gasPrice it's not added to a tx pool.
I have no permission to reopen an issue in this repo, could you please do that?

[2022-07-29 11:49] enriavil1 commented on #4854
So the EIP-1559 txn is not added into the tx pool at all if the txn has a gas price?

[2022-07-29 12:07] yevh-berdnyk commented on #4854
EIP-1559 transactions don't include a gas price.
I meant legacy transactions (with a gas price) are not added to the tx pool but EIP-1559 (without a gas price) are added (queued) in the tx pool

[2022-07-29 13:13] enriavil1 commented on #4854
What does Erigon say when you send the legacy tx? It should be giving you an error code

[2022-07-29 13:17] yevh-berdnyk commented on #4854
It's `-32000: 'INTERNAL_ERROR: rlp parse transaction: invalid chainID' for legacy txs.
For EIP-1559 I'm also getting `-32000` before checking the tx pool

[2022-07-29 15:09] barnabasbusa opened #4866 "Sepolia CL clients report error, Erigon is on wrong head"
#### System information

Erigon version: `erigon version 2022.07.4-alpha-d88fc824`

OS & Version: Ubuntu 22.04

Commit hash : d88fc8242

#### Expected behaviour
`eth_blockNumber` returning the last valid block.

#### Actual behaviour
`eth_blockNumber` returns a different block.

#### Steps to reproduce the behaviour
Try to sync up sepolia testnet with erigon + teku or erigon + nimbus (it is possib

[2022-07-29 18:43] enriavil1 commented on #4854
That should only be happening if you have a different chainId from the chain you are sending your transaction to. Is it the same transaction as the one from the beginning?

[2022-07-29 20:30] dafky2000 commented on #4716
This appears to be fixed and has moved on to the next stages. Currently, approx 3.7TB, thank you!!

[2022-07-29 20:30] #4716 closed

[2022-07-29 22:17] bgelb commented on #4856
Running with --snap.keepblocks did not prevent the issue from occuring

[2022-07-30 01:54] AskAlexSharov commented on #4854
Btw it’s fixed in last release

[2022-07-30 02:49] bgelb commented on #4856
--snap.stop seems to be a successful workaround

[2022-07-30 03:23] Requiemu commented on #4039
Thank you! Tested and works well now.

[2022-07-30 06:42] #4039 closed

[2022-07-30 08:06] Sleapy31 commented on #3892
Thank you ! it seems to be working now.
Geth is still around 10ms faster for me but at least erigon can compete

[2022-07-30 14:12] yorickdowne commented on #4849
Thanks for taking the time to answer this!

[2022-07-30 14:12] #4849 closed

[2022-07-30 15:27] enriavil1 commented on #4833
I added a log to see what http APIs we have enabled, but I am looking into this too

[2022-07-30 15:57] fenghaojiang opened #4869 "Feature request: fetch contract creation info by providing creator's address"
# Feature request: fetch contract creation info by providing creator's address

Why should this feature exist?

It seems there is no way to find what contracts were created by a specific account except "trace_xxx" methods which costs you lots of time by making the request and traversing the blocks.

What are the use-cases?

Directly return the contract address is really useful in some analytical s

[2022-07-30 20:50] gavbennett commented on #4695
@AskAlexSharov Attached is I think all the info you were looking for.

I'm experiencing the same issue as it relates to version #. Additionally, I'm having the issue noted in #4674
![Terminal](https://user-images.githubusercontent.com/94311667/181933649-3fe8a30c-a1e4-44be-a607-72a3de8f0cad.png)

I followed the steps in #4606 to make integration/unwind, but after re-running erigon the issue remaine

[2022-07-30 23:00] beejiujitsu commented on #4863
+1 this would be useful for running Erigon in Kubernetes / configuring via configMap mounted to a file.

[2022-07-30 23:01] enriavil1 commented on #4863
My PR will add support to YAML and TOML confit files.

[2022-07-30 23:11] beejiujitsu commented on #4863
Right. What I mean is, in kubernetes you can store text files as a Configmap object/manifest, then mount it in a pod as a file to use with the method you're implementing.

[2022-07-31 03:52] AskAlexSharov commented on #4695
Original issue: https://github.com/anacrolix/torrent/issues/764
Need to solve it somehow

[2022-07-31 08:33] diglos opened #4871 "Erigon start fails with "mdbx_env_open: cannot allocate memory" error"
#### System information

Erigon version: 2022.07.2-alpha-c7a94eee

OS & Version: Linux ARM64 (Odroid and Rock 5B boards)

Commit hash : c7a94eee

#### Expected behaviour

Client start

#### Actual behaviour

It fails trying to open the database

#### Steps to reproduce the behaviour

Start the client on an Odroid M1 or Rock 5B boards

#### Backtrace

[code]

#### Other data.

This happens starting

[2022-07-31 08:58] kamikazechaser opened #4872 "Support custom AuRA PoA networks (OpenEthereum Refugees)"
# Rationale

Erigon is the [defacto successor](https://medium.com/openethereum/gnosis-joins-erigon-formerly-turbo-geth-to-release-next-gen-ethereum-client-c6708dd06dd) to OpenEthereum albeit under a different organization.

A lot of private chains (especially in the humanitarian and edu sector, like [BloxBerg](https://bloxberg.org/) and [Kitabu Chain](https://docs.grassecon.org/software/kitabu/) a

[2022-07-31 09:55] AskAlexSharov commented on #4871
show “uname -a” from this OS’s
And “free -h”

[2022-07-31 10:12] #4863 closed

[2022-07-31 11:29] yperbasis commented on #4866
Might be fixed by PR #4857.

[2022-07-31 12:13] kamikazechaser commented on #4872
I just saw this comment:

https://github.com/ledgerwatch/erigon/issues/2808#issuecomment-1011175004

And I also noticed Sokol and Gnosis can't fetch blocks.

I hope Erigon supports PoA chains if something changes in the future because there is a huge private ecosystem running AuRa out there.

[2022-07-31 13:17] newearthmartin opened #4873 ""MDBX_PANIC: Likely because hardware failure" when in reality ran out of storage"
#### System information

Erigon version: 2022.07.4-alpha-d88fc824

OS & Version: OSX

Commit hash : d88fc8242789a5f6df0ce77168e473715178d6df

#### Expected behaviour

I was syncing erigon at the block execution stage and it consumed all my disk. Erigon should tell me that there is no disk space left. It could retry every X seconds to see if there is space now.

#### Actual behaviour

Tons of panic

[2022-07-31 13:39] newearthmartin commented on #3658
Hello @AskAlexSharov , I started syncing my node and when it got to block execution stage I ran out of space. Now I wanted to add prune flags but I get this message `not allowed change of --prune flag, last time you used`.

2 questions:

- is there a way I can resync with the correct prune flags without having to download the snapshots again?
- what are the correct prune flags for staking?

1 requ

[2022-07-31 13:53] newearthmartin commented on #3658
I removed the `chaindata` folder but kept the `snapshots` folder and now it started.

[2022-07-31 15:02] MysticRyuujin commented on #4833
It looks like eth_newFilter works over HTTP but not WS. WS says it doesn't exist but HTTP works fine.

[2022-07-31 15:09] enriavil1 commented on #4833
I have been trying to use it on goerli through HTTP and I get the same error. I have been looking at the reason why it might not be getting exposed.

[2022-07-31 15:12] MysticRyuujin commented on #4833
Do you have `--rpc.accessList` defined?

[2022-07-31 16:08] nanevardanyan commented on #4641
This issue was fixed by the PR: https://github.com/ledgerwatch/erigon/pull/4822. Should we close it?

[2022-07-31 16:12] MysticRyuujin commented on #4641
I don't think changes were reflected in any of the README files. I'm happy with the changes but README files are now incorrect.

[2022-07-31 17:10] barnabasbusa commented on #4866
3a972cc0 still hasn't solved it.

[code]

[2022-07-31 17:15] diglos commented on #4871
Hi,

#### Rockchip 5B Debian 11

uname -a
[code]
free -h
[code]

#### Odroid M1 Ubuntu Server 20.04.4

uname -a
[code]
free -h (it is currently running a Besu sync)
[code]

[2022-08-01 00:57] AskAlexSharov opened #4876 "eth_getBlock(pending) - to implement"
- add grpc api to txpool (if possible now)
- return pending block by json rpc
- add test
- (Can be done by another PR) support subscription to pending block

[2022-08-01 01:06] AskAlexSharov commented on #4871
What is your overcommit? https://stackoverflow.com/questions/13127855/what-is-the-size-limit-for-mmap#18360946

[2022-08-01 02:01] AskAlexSharov commented on #4873
Yes, miss-leading error message in this case. But it’s useful in other cases.

[2022-08-01 03:07] newearthmartin commented on #4873
Excuse me for asking this because it would imply that you didn't check...
Is there no distinction from hardware errors? nothing in the exception that could tell you it is caused by lack of space?

[2022-08-01 03:11] newearthmartin commented on #4873
I guess you can't do much if you get a panic exception :) It must be something coming from the lmdb library

[2022-08-01 04:09] AskAlexSharov commented on #4873
mdbx and lmdb do not return error messages. they return only error codes - numbers. sometime 1 code for multiple reasons.

[2022-08-01 05:56] AskAlexSharov commented on #4674
@mconover hi, try branch: `win_limit_udp`

[2022-08-01 06:03] nanevardanyan commented on #4641
Good point, will update READMEs. Thank you!

[2022-08-01 06:35] zzir opened #4883 "HTTP endpoint no service was provided, on devel branch"
#### System information

Erigon version: `./erigon --version`

OS & Version: Windows/Linux/OSX

Commit hash : 9ed2f8d98b7b0ec81e75eb38bac546a95a607f06

#### Actual behaviour

HTTP JSON-RPC endpint No service was provided

#### Steps to reproduce the behaviour

#### Backtrace

[code]

Port 8545 is not working. after switching the alpha branch, working normally.

[2022-08-01 08:07] diglos commented on #4871
Hi, it shows `0`, and this is the value for all three devices (Raspberry works). I changed it to 1 but I get the same error.

Other interesting OS limits (Odroid):

ulimits -a

[code]
They are pretty much the same that the Rpi ones:

[code]

[2022-08-01 09:17] yevh-berdnyk commented on #4854
What do you mean - the same transaction? I send a transaction once, get error which is expected and after that I check a tx pool.

[2022-08-01 09:55] leonardchinonso commented on #4883
Some fixes were made this morning, kindly pull code and check again. Unless you're fine with the alpha branch.

[2022-08-01 15:04] enriavil1 commented on #4883
@nanevardanyan just fixed this issue with the latest commit in devel.

[2022-08-01 15:04] #4883 closed

[2022-08-01 16:07] enriavil1 commented on #4854
I meant if you are still sending this one: `{
  'nonce': 5,
  'to': '0xa94f5374Fce5edBC8E2a8697C15331677e6EbF0B',
  'value': 20000000000000000,
  'gas': 21000,
  'chainId': 67570,
  'maxFeePerGas': 5513977582,
  'maxPriorityFeePerGas': 5000000000
}` so I can try and recreate it like I did in the previous one

[2022-08-01 17:32] wmitsuda commented on #4869
See: https://github.com/wmitsuda/otterscan/blob/develop/docs/custom-jsonrpc.md#ots_getcontractcreator

Is that what you need? if so, I can consider pushing it upstream under `erigon_getContractCreator` if core devs agree.

[2022-08-01 17:36] aftermathdigital opened #4891 "nodeDB.QuerySeeds failed err="mdbx_txn_begin: MDBX_PANIC during initial sync"
#### System information

Erigon version: erigon version 2022.99.99-dev-d866b119

OS & Version: Ubuntu server 22.04

Commit hash : d866b119236c9b93ca071abc0e45526cf82b58d7

32gb ram, ryzen 5600g

#### Expected behaviour

During initial sync, the node should synchronize without indicating hardware failure in the logs

#### Actual behaviour

The console is littered with intermittent

[code]

Under th

[2022-08-01 17:57] tjayrush commented on #4869
I would use this if it was in the `erigon_` namespace. Currently we have an inefficient version of the same thing.

[2022-08-01 19:14] MysticRyuujin opened #4892 "FR: http.verbosity"
# Rationale

With a lot of people running the http server on Erigon itself now, it would be nice if we could define the verbosity of the JSON-RPC requests specifically.

When running rpcdaemon remotely we could set `--verbosity=5` and get all the details that way, but running that on erigon is way too much data. `torrent.verbosity` and `database.verbosity` already exist, would be nice if `http.ver

[2022-08-01 20:52] quick-pawiromitchel opened #4893 "Erigon crashes "fatal error: concurrent map iteration and map write""
#### System information
Erigon version: `erigon version 2022.07.4-alpha`
OS & Version: Linux
Chain: BSC Testnet

#### Backtrace
Looking at the backtrace, it could be a filter causing this (we do have filter enabled)
[code]
Full log here [erigonCrash.log](https://github.com/ledgerwatch/erigon/files/9237349/erigonCrash.log)

[2022-08-01 22:55] quick-pawiromitchel commented on #4893
I removed the filter methods, but I'm still seeing the same error

[2022-08-02 00:59] AskAlexSharov commented on #4892
At least it must write to logs rpc requests on higher levels. (If inject logger everywhere is the big task).

[2022-08-02 01:02] AskAlexSharov commented on #4891
1. Check if no space left on disk
2. If you have no problem with space on disk and still see error - follow recommendations in error message

[2022-08-02 02:24] fenghaojiang commented on #4869
Not exactly but similar. What I want is to get the contract address list by giving a creator account as input. But your implementation will be helpful in some way. Thank you.

[2022-08-02 06:15] #4641 closed

[2022-08-02 06:54] leowkong commented on #4833
@MysticRyuujin  have not set --rpc.accessList flags

[2022-08-02 07:16] McSim85 commented on #4893
I believe it's  BSC Testnet.

[2022-08-02 09:38] yevh-berdnyk commented on #4854
ChainId is randomly generated number so it changes each time when I run a test. But the result is always the same

[2022-08-02 09:44] mandrigin commented on #4876
I think @dmitriyselivanov is on it already (see issue https://github.com/ledgerwatch/erigon/issues/2771#issuecomment-1187633742)

[2022-08-02 09:53] enriavil1 commented on #4854
Okay I get it legacy Tx with wrong chainId are not added into the txpool, but EIP-1559 with wrong chainId are added into txpool.

[2022-08-02 10:57] leonardchinonso commented on #4876
I was about to pick this up. I'll just wait a bit then

[2022-08-02 11:05] enriavil1 commented on #4876
We do have a subscribe pending block filter

[2022-08-02 16:57] aftermathdigital commented on #4891
Having re-started the sync it now appears to be working, I'm not sure what the issue was, I think I must have underestimated whether or not erigon had already failed to write to a full-disk before growing the volume.

[2022-08-02 16:57] #4891 closed

[2022-08-02 17:48] enriavil1 commented on #4876
I believe we can close this issue @AskAlexSharov

[2022-08-02 18:20] #4876 closed

[2022-08-02 18:20] AskAlexSharov commented on #4873
Fixed error message

[2022-08-02 18:20] #4873 closed

[2022-08-02 18:44] p2p-sergey-y opened #4906 "Metric `sync{stage="headers"}` doesn't move forward"
#### System information

[code]

OS & Version: Linux (Ubuntu)

#### Expected behavior
I have Erigon + Lighthouse setup in Ropsten:
* Lighthouse: `v2.5.0`
* Erigon: `2022.07.04`

All run in docker.

#### Actual behavior

After upgrade to `2022.07.03` (version `2022.07.04` has the same issue) I found out, that `sync{stage="headers"}` doesn't move forward/increase, it stuck in the same value until re

[2022-08-02 22:06] enriquemanuel opened #4908 "make docker fails"
#### Expected behaviour
it will compile and work as expected

#### Actual behaviour
#### Steps to reproduce the behaviour
1. Download the latest release
2. wget https://github.com/ledgerwatch/erigon/archive/refs/tags/v2022.07.04.tar.gz
3. untar it `tar -xf erigon-2022.06.01.tar.gz`
4. get into the docker and make it
[code]
error:
[code]

if I make it a git repo by initializing it:
[code]

the erro

[2022-08-02 22:07] alexeyxo opened #4909 "Sync error: Failed to derive block receipts fields"
#### System information

Erigon version: `./erigon --version erigon version 2022.07.4-alpha `
OS & Version:  `Ubuntu 22.04 LTS (GNU/Linux 5.15.0-1013-aws x86_64)`
Commit hash :  `d88fc8242789a5f6df0ce77168e473715178d6df ` - Release https://github.com/ledgerwatch/erigon/releases/tag/v2022.07.04

#### Actual behaviour
[code]

#### Steps to reproduce the behaviour
`/home/ubuntu/erigon/build/bin/erigo

[2022-08-02 23:19] alexeyxo commented on #4909
When I rollback to an earlier version  [2022.07.03-alpha](https://github.com/ledgerwatch/erigon/releases/tag/v2022.07.03) errors disappeared.

[2022-08-03 01:23] AskAlexSharov commented on #4908
V2022.07.04 - has same problem?

[2022-08-03 01:25] AskAlexSharov commented on #4906
I think it just executing this batch of blocks (didn’t see logs yes)

[2022-08-03 06:22] fenghaojiang commented on #4869
May I view your implementation? May be I can help to make PRs or contribute to erigon in Go.

[2022-08-03 06:23] p2p-sergey-y commented on #4906
After 14 hours of working I got this:
[code]

So, it moves forward but really slowly. Before upgrade to `2022.07.03` it was fine. Is it a problem?

[2022-08-03 08:18] taiki94 opened #4913 "trace_transaction method is too slow"
The trace module of the RPC endpoint is too slow, can it be fixed?

In the case of openethereum it was very fast: it took about 10 seconds for a trace_transaction request of about 200 transactions in one block to finish.

On the other hand, in the case of erigon, it takes about 2 minutes under the same conditions.
Please improve the performance.

[2022-08-03 08:20] yperbasis commented on #4464
Happened to me yesterday.

[2022-08-03 09:26] GBBx opened #4914 "Erigon in dormant state on Ropsten and Sepolia"
#### System information

Erigon version: `erigon version 2022.07.4-alpha-d88fc824`

OS & Version: Linux

Commit hash :

#### Expected behaviour
Erigon synchronises.

#### Actual behaviour
It "does not do anything". Log shows no activity.

#### Steps to reproduce the behaviour
Build Erigon from source code:
[code]
Start it on Ropsten:
[code]
Or start it on Sepolia:
[code]

#### Backtrace

Ropsten:

[2022-08-03 09:39] AskAlexSharov commented on #4913
Erigon doesn't store traces in db. OE does. We don’t plan to change it in near future (low priority task).

[2022-08-03 09:56] AskAlexSharov commented on #4906
I don’t know. Show logs. Share your disk hardware type.

[2022-08-03 10:16] bert2002 opened #4915 "Opening port 8551"
Hi,
I am trying to find a way to open the port 8551 with the docker setup, but it does not seems to work. The purpose is to connect `lighthouse` to `erigon.`
Right now I am setting `--engine.addr=0.0.0.0` for the rpcdaemon, but it does not work.

Is there anything else needed with the docker-compose setup?

Thanks,
bert

[2022-08-03 10:20] taiki94 commented on #4913
@AskAlexSharov
Thank you for your response.
I am sorry to hear about the low priority, but I understand.

[2022-08-03 12:17] yperbasis commented on #4915
There've been a couple of changes in our `devel` branch recently:
1. `rpcdaemon` does not expose the Engine API, only `erigon` itself does
2. `--engine.addr` was renamed to `--authrpc.addr` (and correspondingly has to be supplied to `erigon`, not `rpcdaemon`)

[2022-08-03 13:01] leowkong opened #4916 "press test on external rpc daemon make erigon stop syncing"
#### System information

Erigon version: 2022.99.99-dev-c1f84874

OS & Version: Linux

Commit hash : c1f848746dafe06f75c9bc7c5647a2ed4e429a53

####  behaviour

I have three node for press test , external   rpcdaemon and erigin processes are deployed on different  nodes, and I make a lot  pressure tests (contain debug_traceBlockByNumber , eth_call , debug_traceTransaction and so on) from third node

[2022-08-03 13:31] jondoe1337 opened #4917 "Websocket newHeads subscription returns uncled block in case of reorg"
#### System information

Erigon version: `2022.06.6-alpha-77240899`

OS & Version: Linux using Docker

#### Expected behaviour
This is the output of a GETH node, doing the same subscription:

[code]

#### Actual behaviour
In case of a reorg the following events are fired:
[code]
Note: Output is truncated. The valid block is that one int the middle: https://etherscan.io/block/15269531
#### Steps to

[2022-08-03 13:37] PeaStew commented on #4916
I have the same issue on several nodes on different blockchains, though I am not convinced it is to do with the external rpcdaemon, other nodes I run never have this.

[2022-08-03 13:52] ggangisetti opened #4918 ""eth_gasPrice" is showing a wrong gas price. Giving high gas price"
#### System information

Erigon version: `./erigon --version` 2022-07-01

OS & Version: Windows/Linux/OSX- linux

Commit hash :

#### Expected behaviour: The price should be at 25 GWEI

#### Actual behaviour The price is at 211,078 gwei

#### Steps to reproduce the behaviour
curl --data ‘{“method”:“eth_gasPrice”,“params”:[],“id”:1,“jsonrpc”:“2.0"}’ -H “Content-Type: application/json” -X POST “http

[2022-08-03 16:31] panghalamit commented on #4915
Is there a plan to cut a release from devel before the goerli merge for above changes?